<template>

    <div class="wrapper wrapper-content animated fadeInDown m-b-n">

        <div class="ibox m-b-n">

            <div class="ibox-title">

                <h5>
                    {{ translate('messages.menu_lands') }}
                    <small>{{ translate('messages.add_land_link') }}</small>
                </h5>

                <div class="ibox-tools">

                    <a class="collapse-link">

                        <i class="fa fa-chevron-down"></i>

                    </a>

                </div>

            </div>

            <div class="ibox-content">

                <form action="" class="form-horizontal" method="POST">

                    <div class="row">

                        <div class="col-lg-12">

                            <div class="form-group">

                                <label class="col-lg-2 control-label">{{ translate('messages.menu_land') }} №:</label>

                                <div class="col-lg-6">

                                    <input type="text" name="land_id" :placeholder="translate('messages.enter_land_nr')" class="form-control text-uppercase" v-model="search_article">

                                </div>

                                <div class="col-lg-4">

                                    <button class="btn btn-w-m btn-primary" type="button" @click="search()">{{ translate('messages.button_search') }}</button>

                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <table class="table table-hover">

                            <thead>

                            <tr>

                                <th>#</th>

                                <th>{{ translate('messages.label_article') }}</th>

                                <th>{{ translate('messages.label_address') }}</th>

                                <th>{{ translate('messages.label_area') }} / m<sup>2</sup></th>

                                <th>{{ translate('messages.label_actions') }}</th>

                            </tr>

                            </thead>

                            <tbody>

                                <tr v-for="(land, index) in getLandList" class="animated fadeInRight">

                                    <td>{{index + 1}}</td>

                                    <td> {{ land.article }} </td>

                                    <td> Кишинев мун, Бачой, улю Гагарина 15 </td>

                                    <td>{{ land.area }}</td>

                                    <td>

                                        <button type="button" class="btn btn-danger btn-circle btn-outline btn-delete" @click="remove(land.id)">

                                            <i class="fa fa-trash-o"></i>

                                        </button>

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </form>

            </div>

        </div>

    </div>

</template>

<script>
    export default {

        name: "attachedLands",

        props: ['lands', 'namespace', 'model', 'model_id', 'locale'],

        data() {

            return {

                land_list: this.lands,

                search_article: ''
            }
        },

        computed: {

            getLandList: function() {

                return this.land_list;
            }
        },

        methods: {

            search: function() {

                let self = this;

                let options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },

                };

                let formData = new FormData();
                    formData.append('article', this.search_article);
                    formData.append('id', this.model_id);

                this.$http.post('/'+this.namespace+'/'+this.model+'/attach_land', formData, options).then(

                    function(response) {

                        self.land_list.push(response.data.result);
                    }
                ).catch(function() {

                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                    };

                    toastr.warning('Проверьте данные в поле "Земля №"', 'Внимание');
                });
            },

            remove: function(land_id) {

                let self = this;

                let options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },

                };

                let formData = new FormData();
                    formData.append('land_id', land_id);
                    formData.append('id', this.model_id);

                swal({
                        title: 'Удалить?',
                        text: null,
                        type: "warning",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: 'Удалить',
                        cancelButtonText: 'Отмена',
                        showCancelButton: true,
                        closeOnConfirm: true,
                        closeOnCancel: false,
                        showLoaderOnConfirm: true,
                    },
                    function(isConfirm){

                    if (isConfirm) {

                        self.$http.post('/'+self.namespace+'/'+self.model+'/detach_land', formData, options).then(
                            function (response) {

                                let index;

                                for (var i = 0; i < self.land_list.length; i++) {

                                    if (self.land_list[i].id == land_id) {

                                        index = i;

                                        break;
                                    }
                                }

                                self.land_list.splice(index, 1);

                                toastr.options = {
                                    "closeButton": true,
                                    "progressBar": true,
                                };

                                toastr.success('Элемент удален', 'Удалено!');
                            }
                        ).catch(function() {

                            toastr.options = {
                                "closeButton": true,
                                "progressBar": true,
                            };

                            toastr.warning('Не удалось удалить землю', 'Внимание');
                        });

                    } else {
                        swal({
                            title: 'Операция отменена',
                            text: null,
                            type: "error",
                        });
                    }
                });
            },

            translate: function(key) {
                if (this.locale !== undefined) {
                    Lang.setLocale(this.locale);
                }

                return Lang.get(key);
            },
        }

    }
</script>