.b-collapse-block {
  margin-bottom: 2rem;
}
.b-collapse-block__heading {
  display: block;
  padding: 1rem 0;
  font-size: 2.6rem;
  color: #007d35;
  font-weight: 500;
}
.b-collapse-block__heading:hover,
.b-collapse-block__heading:focus {
  color: #98cd32;
  text-decoration: none;
}
.b-starts-rate-list {
  display: -ms-inline-flexbox;
  /*display: inline-box;*/
  display: inline-flex;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.b-starts-rate-list__item {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  line-height: 1;
  overflow: hidden;
}
.b-starts-rate-list__item:first-child .b-starts-rate-list__label {
  padding-left: 0;
}
.b-starts-rate-list__item:last-child .b-starts-rate-list__label {
  padding-right: 0;
}
.b-starts-rate-list__item.active ~ .b-starts-rate-list__item .b-starts-rate-list__icon {
  color: #b8b8b8;
}
.b-starts-rate-list__label {
  margin: 0;
  padding: 0.6rem;
  cursor: pointer;
}
.b-starts-rate-list input[type="radio"] {
  display: none;
}
.b-starts-rate-list:not(.b-starts-rate-list--disabled) .b-starts-rate-list__item:hover ~ .b-starts-rate-list__item .b-starts-rate-list__icon {
  color: #b8b8b8;
}
.b-starts-rate-list__icon {
  color: #f1f42f;
}
.b-starts-rate-list--disabled .b-starts-rate-list__label {
  cursor: default;
}
.b-search-form {
  padding: 2rem;
  color: #fff;
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.b-search-form .b-form-group__label {
  margin-bottom: 0.5rem;
  font-weight: 400;
}
.b-search-form .row {
  /*margin-left: -7px;*/
  /*margin-right: -7px;*/
}
.b-search-form .row .col-sm-6 {
  /*padding: 0 7px;*/
}
.b-search-form .js-search-form {
  /*display: -ms-flexbox;*/
  /*display: box;*/
  /*display: flex;*/
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.b-search-form .js-search-form .b-form-group {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 1 100%;
  flex: 1 100%;
  padding: 0 5px;
}
.b-search-form .js-search-form .b-btn {
  padding-left: 25px;
  padding-right: 25px;
}
.b-filter-tabs {
  /*text-align: right;*/
  z-index: 10000;
  /*width: 1180px;*/
  position: relative;
  /*margin: 1rem auto;*/
}
.b-filter-tabs__nav {
  display: -ms-inline-flexbox;
  /*display: inline-box;*/
  display: inline-flex;
  margin-right: 5px;
}
.b-objects-map {
  width: 100%;
  min-height: 380px;
  position: relative;
  z-index: 2;
}
.b-objects-map__gm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.b-objects-map__form {
  background-color: #007d35;
  width: 100%;
  position: relative;
  margin-top: 2px;
  /*margin-bottom: 2rem;*/
  /*padding-bottom: 2rem;*/
}
.b-objects-map__form:before {
  /*content: '';*/
  /*display: block;*/
  /*position: absolute;*/
  /*width: 50px;*/
  /*height: 50px;*/
  /*bottom: -20px;*/
  /*left: 50%;*/
  /*text-align: center;*/
  /*transform: translateX(-50%);*/
  /*background-color: #007d35;*/
  /*border-bottom-left-radius: 50%;*/
  /*border-bottom-right-radius: 50%;*/
  /*z-index: 2;*/
  /*cursor: pointer;*/
}
.b-objects-map__form:after {
  /*content: '';*/
  /*display: block;*/
  /*position: absolute;*/
  /*width: 0;*/
  /*height: 0;*/
  /*bottom: -6px;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  /*border-top: 6px solid #fff;*/
  /*border-left: 6px solid transparent;*/
  /*border-right: 6px solid transparent;*/
  /*z-index: 5;*/
  /*cursor: pointer;*/
}
.b-logo {
  display: inline-block;
  height: 50px;
}

.b-logo-footer {
  display: inline-block;
  height: 100px;
}
.b-logo__img {
  display: block;
  width: auto;
  height: 100%;
}
.u-tabs-list {
  display: -ms-flexbox;
  /*display: box;*/
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.u-tabs-list__item {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
}
.u-tabs-list__item span {
  border-bottom: 5px solid transparent;
  padding-bottom: 5px;
}
.u-tabs-list__item.active .u-tabs-list__item-link {
  border-bottom: 5px solid #98cd32;
}
.u-tabs-list__item.active i {
  color: #98cd32;
}
.u-tabs-list__item.active .u-tabs-list__item-icon {
  color: #007d35;
}
.u-tabs-list__item-link {
  display: block;
  padding: 1rem 1.3rem;
  color: #000;
  font-size: 1.3rem;
  margin-right: 15px;
  background-color: #fff;
  border-bottom: 5px solid #007d35;
  border-radius: 4px;
  box-shadow: 4px 4px 14px #555;
}

.fa-menu-item {
  font-size: 18px;
  color: #007d35;
}
.u-tabs-list__item-link:hover,
.u-tabs-list__item-link:focus {
  text-decoration: none;
  color: #000;
  border-bottom: 5px solid #93c731;
}
.u-tabs-list__item-link:hover .fa-menu-item,
.u-tabs-list__item-link:focus .fa-menu-item {
  color: #98cd32;
}

.u-tabs-list__item-icon {
  margin-right: 1rem;
}
.b-panel__header {
  background-color: #007d35;
  color: #fff;
  padding: 1.5rem;
}
.b-panel__title {
  font-size: 2rem;
}
.b-panel__body {
  padding: 1.5rem;
}
.fa-btn {
  margin-right: 7px;
}
.embed-responsive-3by1 {
  padding-bottom: 33.3%;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #e4e4e4;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
  line-height: 1.4;
  font-family: "Gotham Medium", "M Hei PRC W45", "M Hei HK W42", "M Hei HK W40", HelveticaNeue-Regular, "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}
h1,
.h1 {
  font-size: 3rem;
}
h2,
.h2 {
  font-size: 2.6rem;
}
h3,
.h3 {
  font-size: 2.3rem;
}
h4,
.h4 {
  font-size: 2rem;
}
h5,
.h5 {
  font-size: 1.7rem;
}
h6,
.h6 {
  font-size: 1.4rem;
}
p {
  margin-bottom: 1rem;
}
.b-heading--1,
.b-heading--2,
.b-heading--3 {
  color: #444;
  margin: 0;
}
.b-text--lg {
  font-size: 1.6rem;
}
.b-text--xlg {
  font-size: 1.8rem;
}
.b-heading--1 {
  font-size: 2.6rem;
}
.b-heading--2 {
  font-size: 2.3rem;
}
.b-heading--3 {
  font-size: 2rem;
}
.b-btn {
  transition: all 0.2s ease;
  line-height: 1.4;
  background-color: #ccc;
  border: 1px solid #666;
  border-radius: 0;
  font-size: 1.4rem;
  padding: 0.9rem 1.4rem;
}
.b-btn.b-btn--wide {
  padding: 0.9rem 2.4rem;
}
.b-btn:focus,
.b-btn.focus {
  box-shadow: none;
  outline: none;
}
.b-btn:active,
.b-btn.active {
  box-shadow: none;
}
.b-btn:active:focus,
.b-btn.active:focus,
.b-btn:active.focus,
.b-btn.active.focus {
  box-shadow: none;
  outline: none;
}
.b-btn--size-lg {
  font-size: 1.6rem;
  padding: 1.1rem 1.6rem;
}
.b-btn--size-lg.b-btn--wide {
  padding: 1.1rem 2.6rem;
}
.b-btn--size-xlg {
  font-size: 1.8rem;
  padding: 1.3rem 1.8rem;
}
.b-btn--size-xlg.b-btn--wide {
  padding: 1.3rem 2.8rem;
}
.b-btn--size-sm {
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
}
.b-btn--size-sm.b-btn--wide {
  padding: 0.6rem 2.2rem;
}
.b-btn--size-xsm {
  font-size: 1rem;
  padding: 0.3rem 1rem;
}
.b-btn--size-xsm.b-btn--wide {
  padding: 0.3rem 2rem;
}
.b-btn--color-gray-light {
  background-color: #ccc;
  color: #222;
  border-color: #ccc;
}
.b-btn--color-gray-light:hover {
  color: #222;
  background-color: #c6c6c6;
  border-color: #c6c6c6;
  box-shadow: none;
}
.b-btn--color-gray-light:focus,
.b-btn--color-gray-light:active {
  color: #222;
}
.b-btn--color-gray-light.b-btn--outline {
  background-color: transparent;
  border-color: #ccc;
  color: #ccc;
  box-shadow: none;
}
.b-btn--color-gray-light.b-btn--outline:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: #222;
}
.b-btn--color-red {
  background-color: #f13330;
  color: #fff;
  border-color: #f13330;
}
.b-btn--color-red:hover {
  color: #fff;
  background-color: #f02b28;
  border-color: #f02b28;
  box-shadow: none;
}
.b-btn--color-red:focus,
.b-btn--color-red:active {
  color: #fff;
}
.b-btn--color-red.b-btn--outline {
  background-color: transparent;
  border-color: #f13330;
  color: #f13330;
  box-shadow: none;
}
.b-btn--color-red.b-btn--outline:hover {
  background-color: #f13330;
  border-color: #f13330;
  color: #fff;
}
.b-btn--color-green {
  background-color: #007d35;
  color: #fff;
  border-color: #007d35;
}
.b-btn--color-green:hover {
  color: #fff;
  background-color: #98cd32;
  border-color: #83cd29;
  box-shadow: none;
}
.b-btn--color-green:focus,
.b-btn--color-green:active {
  color: #fff;
}
.b-btn--color-green.b-btn--outline {
  background-color: transparent;
  border-color: #007d35;
  color: #007d35;
  box-shadow: none;
}
.b-btn--color-green.b-btn--outline:hover {
  background-color: #007d35;
  border-color: #007d35;
  color: #fff;
}
.b-btn--color-green-light {
  background-color: #98cd32;
  color: #fff;
  border-color: #98cd32;
}
.b-btn--color-green-light:hover {
  color: #fff;
  background-color: #93c731;
  border-color: #93c731;
  box-shadow: none;
}
.b-btn--color-green-light:focus,
.b-btn--color-green-light:active {
  color: #fff;
}
.b-btn--color-green-light.b-btn--outline {
  background-color: transparent;
  border-color: #98cd32;
  color: #98cd32;
  box-shadow: none;
}
.b-btn--color-green-light.b-btn--outline:hover {
  background-color: #98cd32;
  border-color: #98cd32;
  color: #fff;
}
.b-btn--color-blue {
  background-color: #2075cf;
  color: #fff;
  border-color: #2075cf;
}
.b-btn--color-blue:hover {
  color: #fff;
  background-color: #1f71c9;
  border-color: #1f71c9;
  box-shadow: none;
}
.b-btn--color-blue:focus,
.b-btn--color-blue:active {
  color: #fff;
}
.b-btn--color-blue.b-btn--outline {
  background-color: transparent;
  border-color: #2075cf;
  color: #2075cf;
  box-shadow: none;
}
.b-btn--color-blue.b-btn--outline:hover {
  background-color: #2075cf;
  border-color: #2075cf;
  color: #fff;
}
.b-btn--rounded {
  border-radius: 5.76rem;
}
.b-btn--rounded-light {
  border-radius: 5px;
}
.b-btn--block {
  font-size: 2.2rem;
  padding: 2rem 1.8rem;
  width: 100%;
}
.b-btn--block.b-btn--wide {
  padding: 2rem 2.8rem;
}
.b-form-control {
  transition: all 0.2s ease;
  box-shadow: none;
  height: auto;
  border-radius: 0;
  line-height: 1.4;
  border: 1px solid transparent;
  color: #222;
  font-size: 1.4rem;
  padding: 0.9rem 1.4rem;
  height: 3.96rem;
}
.b-form-control.b-form-control--rounded {
  border-radius: 3.06rem;
}
.b-form-control:focus,
.b-form-control.focus,
.b-form-control:active,
.b-form-control.active {
  box-shadow: none;
  outline: none;
  border-color: transparent;
  background-color: #eee;
}
.b-form-control--size-lg {
  font-size: 1.6rem;
  padding: 1.1rem 1.6rem;
  height: 4.640000000000001rem;
}
.b-form-control--size-lg.b-form-control--rounded {
  border-radius: 3.54rem;
}
.b-form-control--size-xlg {
  font-size: 1.8rem;
  padding: 1.3rem 1.8rem;
  height: 5.32rem;
}
.b-form-control--size-xlg.b-form-control--rounded {
  border-radius: 4.02rem;
}
.b-form-control--size-sm {
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  height: 3.08rem;
}
.b-form-control--size-sm.b-form-control--rounded {
  border-radius: 2.48rem;
}
.b-form-control--size-xsm {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  height: 2.2rem;
}
.b-form-control--size-xsm.b-form-control--rounded {
  border-radius: 1.9rem;
}
.b-form-control--static {
  box-shadow: none;
  border: none;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}
.b-form-control--bordered {
  border-color: #222;
}
.b-form-control--bordered:focus,
.b-form-control--bordered.focus,
.b-form-control--bordered:active,
.b-form-control--bordered.active {
  background-color: #eee;
  border-color: #222;
}
textarea.b-form-control {
  height: auto;
  resize: none;
}
.b-label {
  font-weight: 500;
}
.b-form-group {
  margin-bottom: 1rem;
  position: relative;
}
.b-form-group__label {
  font-weight: 500;
  margin-bottom: 1rem;
}
.b-form-group__help-text {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  line-height: 1;
  padding-top: 0.4rem;
}
.b-form-group--required .b-form-group__label {
  position: relative;
}
.b-form-group--required .b-form-group__label:after {
  content: '*';
  position: absolute;
  top: -0.2em;
  right: -0.8em;
  color: #f13330;
  font-size: 2rem;
}
.b-form-group--has-error .b-form-group__label {
  color: #f13330;
}
.b-form-group--has-error .b-form-control {
  border-color: #f13330;
}
.b-form-group--has-error .b-form-group__help-text {
  color: #f13330;
}
.b-form-group--is-valid .b-form-control {
  border-color: #007d35;
}
.b-form-group--is-valid .b-form-group__help-text {
  color: #007d35;
}
.b-checkbox__label {
  display: block;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  padding: 1rem;
  padding-left: 3.6rem;
  position: relative;
  line-height: 1;
}
.b-checkbox__label input {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  margin: 0;
  display: none;
}
.b-checkbox__label input+.b-input-figure {
  transition: all 0.2s ease;
  content: '';
  z-index: 2;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2.2rem;
  display: -ms-flexbox;
  /*display: box;*/
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  font-style: normal;
}
.b-checkbox__label input:checked+.b-input-figure {
  background-color: #007d35;
  border-color: #007d35;
}
.b-checkbox__label input:checked+.b-input-figure:after {
  content: 'v';
}
.b-checkbox__label input[disabled]+.b-input-figure {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.b-checkbox__label:hover input:not([disabled])+.b-input-figure {
  border-color: #007d35;
}
.b-checkbox.disabled .b-checkbox__label {
  cursor: not-allowed;
}
.b-radio__label {
  display: block;
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  padding: 1rem;
  padding-left: 3.6rem;
  position: relative;
  line-height: 1;
}
.b-radio__label input {
  display: none;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  margin: 0;
}
.b-radio__label input+.b-input-figure {
  transition: all 0.2s ease;
  content: '';
  z-index: 2;
  color: #007d35;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 2.2rem;
  height: 2.2rem;
  display: -ms-flexbox;
  /*display: box;*/
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 50%;
  line-height: 1;
  cursor: pointer;
  font-style: normal;
}
.b-radio__label input:checked+.b-input-figure {
  background-color: #fff;
  border-color: #007d35;
}
.b-radio__label input:checked+.b-input-figure:before {
  content: '•';
}
.b-radio__label input[disabled]+.b-input-figure {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.b-radio:hover input:not([disabled])+.b-input-figure {
  border-color: #007d35;
}
.b-radio.disabled .b-radio__label {
  cursor: not-allowed;
}
.l-carousel {
  width: auto;
}
.l-carousel__slide {
  padding: 0;
}
.l-carousel__slide:focus {
  outline: none;
}
.l-carousel__slide-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.l-carousel__inner {
  position: relative;
  padding-bottom: 4rem;
}
.l-carousel .slick-dots {
  position: absolute;
  bottom: 1.3rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.l-carousel .slick-dots li {
  display: inline-block;
  margin-right: 1.6rem;
}
.l-carousel .slick-dots li button {
  transition: all 0.2s ease;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: #222;
  color: transparent;
  transform: scale(0.7);
}
.l-carousel .slick-dots li button:focus,
.l-carousel .slick-dots li button:active {
  outline: none;
}
.l-carousel .slick-dots li button:hover {
  background-color: #007d35;
  border-color: #fff;
}
.l-carousel .slick-dots li.slick-active button {
  background-color: #007d35;
  border-color: #007d35;
  transform: scale(1);
}
.l-carousel .slick-dots li:last-child {
  margin-right: 0;
}
.l-carousel .slick-arrow {
  transition: all 0.2s ease;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 1rem;
  border: none;
  font-size: 2rem;
  line-height: 1;
  z-index: 10;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
}
.l-carousel .slick-arrow.slick-prev {
  left: 1rem;
}
.l-carousel .slick-arrow.slick-next {
  right: 1rem;
}
.l-carousel .slick-arrow:hover {
  outline: none;
  color: #fff;
  background-color: #007d35;
}
.l-carousel .slick-arrow:focus,
.l-carousel .slick-arrow:active {
  outline: none;
}

/*======================================*/
/*html, body {*/
/*position: relative;*/
/*height: 100%;*/
/*}*/
/*body {*/
/*background: #eee;*/
/*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
/*font-size: 14px;*/
/*color:#000;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*.swiper-item-container {*/
/*height: 300px;*/
/*width: 400px;*/
/*}*/
/*.swiper-item-container {*/
/*height: 300px !important;*/
/*width: 400px !important;*/
/*}*/
/*======================================*/
.b-header {
  background-color: #fff;
  margin: 0;
  border-radius: 0;
  padding: 1rem 0;
  font-size: 100%;
  font-weight: 500;
  border: 0;
  border-bottom: 1px solid #ebebeb;
}
.b-header .navbar-nav li a {
  padding: 15px 20px;
}
.b-header .navbar-nav li a:hover,
.b-header .navbar-nav li a:focus {
  color: #007d35;
}
.b-header__logo {
  padding: 0;
}
.b-header__wrapper {
  background-color: #98cd32;
  margin-bottom: 0;
  min-height: 40px;
}
.b-header__wrapper .navbar-nav {
  padding-right: 5px;
}
.b-header__wrapper .navbar-nav li a {
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.b-header__wrapper .navbar-nav li .dropdown-menu a {
  color: #222;
}
.b-section {
  padding: 5rem 0;
}
.b-section__title {
  font-size: 2.3rem;
  text-align: center;
  font-weight: bold;
}
.b-section__title_bottom {
  margin-bottom: 3rem;
}
.b-video {
  text-align: center;
  margin-bottom: 6rem;
}
.b-video__title {
  font-size: 1.7rem;
  /*font-weight: 700;*/
  margin-bottom: 1.5rem;
  color: #666;
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
}
.b-video__title:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  background-color: #98cd32;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.b-video__img {
  transition: all 0.15s ease-out;
}
.b-video__img:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.b-video__img:after {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
  width: 0;
  height: 0;
  border-left: 20px solid #f00;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.b-video__img:hover {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.b-object-card__img {
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.b-object-card__title {
  font-size: 2rem;
  color: #222;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.b-object-card__title:hover,
.b-object-card__title:focus {
  text-decoration: none;
  color: inherit;
}
.b-object-card__price {
  font-size: 2.6rem;
  color: #98cd32;
  font-weight: 600;
  margin-bottom: 1rem;
}
.b-object-card__percentage {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #007d35;
}
.b-object-card__price_project {
  color: #007d35;
}
.b-object-card__price_title {
  color: #666;
  font-size: 1.4rem;
}
.b-object-card__price.all_price {
  color: #007d35;
  line-height: 20px;
}
.b-object-card__price.first_payment {
  font-size: 2.2rem;
  margin-bottom: 15px;
  line-height: 18px;
}
.b-object-card__price.project {
  font-size: 2.2rem;
  margin-bottom: 9px;
  line-height: 18px;
}

.b-object-card__description,
.b-object-card__floors,
.b-object-card__size {
  padding-right: 15px;
  margin-bottom: 2rem;
  /*text-align: justify;*/
}
.b-object-card__floors p {
  margin-bottom: 3px;
}

.b-object-card__size p,
.b-object-card__size span {
  margin-bottom: 3px;
  display: block;
}
.b-object-card__stats {
  display: -ms-flexbox;
  /*display: box;*/
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 2rem 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-top: 1px solid #ccc;
  font-size: 1.4rem;
}
.b-object-card__stats-item {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 2rem;
}
.b-object-card__stats-item:last-of-type {
  margin-right: 0;
}
.b-object-card__stats-icon {
  margin-right: 0.5rem;
  color: #007d35;
  font-size: 2.3rem;
}
.b-object-card__location {
  display: -ms-flexbox;
  /*display: box;*/
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
.b-object-card__location-icon {
  margin-right: 1rem;
  font-size: 3rem;
}
.b-object-card__location_home {
  font-size: 1.4rem;
}
.b-object-card__benefits {
  list-style: none;
  padding: 0;
  color: #007d35;
  margin-bottom: 2.5rem;
}
.b-object-card__benefits li {
  padding: 0.2rem 0;
}
.b-object-card__number {
  font-size: 1.4rem;
  line-height: 1.4rem;
  vertical-align: middle;
  margin-bottom: 14px;
}
.building-article {
  font-size: 1.4rem;
  line-height: 1.4rem;
  vertical-align: middle;
  margin-left: 45px;
}
.b-object-card__number_circle {
  background-color: #98cd32;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1.3rem;
  margin-right: 0.7rem;
}
.b-object-card__land_benefits {
  list-style: none;
  padding: 0;
  margin-bottom: 2.5rem;
  padding-top: 2rem;
}
.b-object-card__land_benefits li {
  margin-bottom: 1rem;
}
.b-object-card__land_benefits .icon {
  background-color: #98cd32;
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin-right: 0.7rem;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 1.6rem;
}
.b-object-modal-card {
  transform: translateX(-100%);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  width: 320px;
  height: auto;
  position: absolute;
  top: 81px;
  left: 10px;
  z-index: 500;
  background-color: #fff;
  border: 4px solid #98cd32;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
  color: #222;
}
.b-object-modal-card__img {
  display: block;
  width: 100%;
  height: auto;
}
.b-object-modal-card__content {
  padding: 1rem;
}
.b-object-modal-card__content .b-object-card__price {
  margin-bottom: 1rem;
}
.b-object-modal-card__content .b-object-card__land_benefits {
  padding-top: 0;
}
.b-object-modal-card__title {
  font-size: 2rem;
  margin-bottom: 0;
}
.b-object-modal-card__stats {
  display: -ms-flexbox;
  /*display: box;*/
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -o-box-lines: single;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 1rem 0;
}
.b-object-modal-card__stats-item {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-right: 1rem;
}
.b-object-modal-card__stats-item:last-of-type {
  margin-right: 0;
}
.b-object-modal-card__stats-icon {
  margin-right: 0.5rem;
  color: #007d35;
  font-size: 2rem;
}
.b-object-modal-card.is-showing {
  animation-name: showCard;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}
.b-object-modal-card.is-pulsing {
  animation-name: pulseCard;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-timing-function: ease;
}
.js-object-list__title {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}
@keyframes showCard {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes pulseCard {
  0% {
    transform: scale(1) translateX(0%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  50% {
    transform: scale(0.9) translateX(0%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    transform: scale(1) translateX(0%);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.b-object-props-table,
.b-object-distance-table table {
  font-size: 1.4rem;
}
.b-object-props-table thead tr th,
.b-object-distance-table table thead tr th {
  padding-right: 5px;
}
.b-object-props-table tbody tr td,
.b-object-distance-table table tbody tr td {
  border: none;
  padding: 5px;
}
.b-object-props-table tbody tr td:nth-child(1),
.b-object-distance-table table tbody tr td:nth-child(1) {
  font-weight: 500;
}
.b-object-props-table tbody tr td:first-child,
.b-object-distance-table table tbody tr td:first-child {
  padding-left: 0;
}
.b-object-props-table tbody tr td:nth-child(2),
.b-object-distance-table table tbody tr td:nth-child(2) {
  color: #98cd32;
}
.b-object-props-table--materials tbody tr td:nth-child(2),
.b-object-distance-table table--materials tbody tr td:nth-child(2) {
  color: #222;
}
.b-object-props-table--secondary tbody tr td:nth-child(1),
.b-object-distance-table table--secondary tbody tr td:nth-child(1) {
  color: #98cd32;
}
.b-object-props-table--secondary tbody tr td:nth-child(2),
.b-object-distance-table table--secondary tbody tr td:nth-child(2) {
  color: #222;
}
.b-object-props-table__head thead tr th,
.b-object-distance-table table__head thead tr th {
  border-bottom: 0;
  border-top: 0;
  padding-left: 5px;
  padding-bottom: 0rem;
}
.b-object-props-table__head thead tr th:nth-child(1),
.b-object-distance-table table__head thead tr th:nth-child(1) {
  padding-left: 0;
  width: 60%;
}
.b-object-props-table__similar,
.b-object-distance-table table__similar {
  font-size: 1.7rem;
}
.b-object-props-table__similar tbody tr td:first-child,
.b-object-distance-table table__similar tbody tr td:first-child {
  color: #007d35;
  padding-left: 10px;
}
.b-object-props-table__similar tbody tr td:nth-child(2),
.b-object-distance-table table__similar tbody tr td:nth-child(2) {
  text-align: right;
  color: #98cd32;
}
.b-object-thumbs {
  display: -ms-flexbox;
  /*display: box;*/
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.b-object-thumbs__item {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0.5rem;
}
.b-object-thumbs__item-link {
  display: block;
}
.b-object-thumbs__item-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.b-object-thumbs__list {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  padding: 0.5rem;
}
.b-object-thumbs__three {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 0 1 33.3%;
  flex: 0 1 33.3%;
  padding: 0.2rem;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.b-object-thumbs__four {
  -o-box-flex: 1;
  box-flex: 1;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
  padding: 0.5rem;
}
.b-object-thumbs__land .b-object-props-table__similar {
  font-size: 1.4rem;
}
.b-object-thumbs__land .b-object-props-table__similar tbody tr td:first-child {
  color: #222;
}
.b-object-page__block .btn_price {
  padding-left: 5px;
  vertical-align: middle;
}
.b-object-page__header {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 0;
  padding-top: 2rem;
}
.b-object-page__title {
  font-size: 2.6rem;
  color: #007d35;
  margin-right: 1rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
.b-object-page__title_black {
  color: #222;
}
.b-object-page__stars {
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.b-object-page__area {
  color: #666;
}
.b-object-page__list_title {
  font-size: 2.6rem;
  color: #007d35;
  font-weight: 500;
  margin-bottom: 3rem;
}
.b-object-page__sidebar {
  padding-top: 2rem;
}
.b-object-map {
  height: 500px;
  position: relative;
}
.b-object-map__gm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-stats-panel__header {
  position: relative;
}
.b-stats-panel__title,
.b-object-distance-table table thead th {
  font-size: 2.6rem;
  /*font-weight: 700;*/
  /*font-weight: 600;*/
  padding-bottom: 1rem;
}
.b-stats-panel__content {
  position: relative;
}
.b-object-list {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}
.b-object-list li {
  padding: 0.5rem 0;
}
.b-object-list li:before {
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #98cd32;
  margin-right: 10px;
}
.b-object-list__notype {
  list-style: none;
}
.b-object-list__circle {
  list-style: none;
}
.b-object-list__circle li:before {
  border-radius: 50%;
}
.b-article {
  display: -ms-flexbox;
  /*display: box;*/
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.b-article__item {
  width: 100%;
  margin-bottom: 3rem;
}
.b-article__item .caption {
  color: #666;
}
.b-article__item .caption_title {
  font-size: 1.7rem;
  /*font-weight: bold;*/
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.b-article__item_img {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 100%;
  margin-bottom: 2rem;
}
.b-article h3 {
  color: #007d35 !important;
  margin-bottom: 2rem;

}
.b-article .img_object {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}
.b-article .counter {
  position: absolute;
  bottom: 0;
  right: 9%;
  background-color: #98cd32;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2.5rem;
  /*font-weight: bold;*/
  font-weight: 600;
}
.b-article__sidebar .b-article__item {
  width: 100%;
}
.b-table {
  margin-bottom: 1rem;
}
.b-table tbody tr td {
  padding: 0;
}
.b-table__clean tbody tr td {
  border: none;
}
.b-object__wrapper {
  padding: 5rem 0;
  border-top: 1px solid #ccc;
}
.b-object-similar__link {
  display: block;
  transition: all 0.15s ease-out;
}
.b-object-similar__link .b-object-thumbs__item-img {
  transition: all 0.15s ease-out;
}
.b-object-similar__link:hover,
.b-object-similar__link:focus {
  text-decoration: none;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  box-shadow: 0 0 7px 2px rgba(215,214,214,0.5);
}
.b-object-similar__link:hover .b-object-thumbs__item-img,
.b-object-similar__link:focus .b-object-thumbs__item-img {
  transform: scale(1.05);
}
.b-object-similar__link .b-object-table {
  padding: 3rem 1rem;
}
.b-pagination {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2rem 0;
  font-size: 1.4rem;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 3rem;
}
.b-pagination-link {
  display: inline-block;
  color: #666;
  transition: all 0.15s ease-out;
}
.b-pagination-link:hover,
.b-pagination-link:focus {
  text-decoration: none;
  color: #98cd32;
}
.b-pagination-link:hover .f-icon,
.b-pagination-link:focus .f-icon {
  color: #98cd32;
}
.b-pagination-link:first-child .b-pagination-circle {
  margin-right: 2rem;
}
.b-pagination-link:last-child .b-pagination-circle {
  margin-left: 2rem;
}
.b-pagination-circle {
  border-radius: 50%;
  border: 1px solid #98cd32;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.b-pagination .f-icon {
  font-size: 3rem;
  line-height: 3rem;
  vertical-align: sub;
  color: #666;
  transition: all 0.15s ease-out;
}
.b-object-land__sidebar {
  border: 1px solid #ccc;
  padding: 2rem 1rem 3rem;
  margin-bottom: 1rem;
}
.b-object-more-link {
  color: #98cd32;
  transition: all 0.15s ease-out;
  text-align: right;
  display: inline-block;
  font-size: 2.6rem;
  text-decoration: underline;
}
.b-object-more-link:hover,
.b-object-more-link:focus {
  color: #007d35;
}
.print_link {
  display: inline-block;
}
.print_link:hover,
.print_link:focus {
  text-decoration: none;
}
.b-footer {
  padding: 4rem 0;
  background-color: #222;
  color: #ccc;
  margin-top: 60px;
}
.b-footer__nav-title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}
.b-footer__nav-title a {
  color: #fff;
}
.b-footer__nav-title a:hover {
  text-decoration: none;
}
.b-footer__nav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.b-footer__nav li {
  margin-bottom: 0.5rem;
}
.b-footer__nav li:last-child {
  margin-bottom: 0;
}
.b-footer__nav a {
  display: block;
  color: #ccc;
  padding: 0.5rem 0;
}
.b-footer__nav a:hover,
.b-footer__nav a:focus {
  text-decoration: none;
  color: #98cd32;
}
.b-profile {
  margin-bottom: 2rem;
}
.b-profile .caption {
  color: #666;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.b-profile .caption_title {
  font-size: 2rem;
  /*font-weight: bold;*/
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.b-profile__img {
  margin-bottom: 2.5rem;
}
.b-profile__location {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #eee;
}
.b-profile__location_icon {
  vertical-align: middle;
  font-size: 2.3rem;
  margin-right: 1rem;
}
.b-profile .btn {
  margin-top: 3rem;
}
.u-color--black {
  color: #222;
}
.u-color--gray {
  color: #666;
}
.u-color--gray-light {
  color: #ccc;
}
.u-color--red {
  color: #f13330;
}
.u-color--green {
  color: #007d35;
}
.u-color--green-light {
  color: #98cd32;
}
.u-color--blue {
  color: #2075cf;
}
.u-color--yellow {
  color: #f1f42f;
}
.u-color--orange {
  color: #fc9905;
}
.u-text-color--red {
  color: #f13330;
}
.u-text-color--green {
  color: #007d35;
}
.u-text-color--green-light {
  color: #98cd32;
}
.u-text-color--blue {
  color: #2075cf;
}
.u-text-color--blue-light {
  color: $color--blue-light;
}
.u-text-color--yellow {
  color: #f1f42f;
}
.u-text-color--orange {
  color: $color--orange;
}
.u-text-color--white {
  color: #fff;
}
.u-bg-color--red {
  background-color: #f13330;
}
.u-bg-color--green {
  background-color: #007d35;
}
.u-bg-color--blue {
  background-color: #2075cf;
}
.u-bg-color--blue-light {
  background-color: $color--blue-light;
}
.u-bg-color--yellow {
  background-color: #f1f42f;
}
.u-bg-color--orange {
  background-color: $color--orange;
}
.u-bg-color--white {
  background-color: #fff;
}
.u-bg-color--gray-dark {
  background-color: #666;
}
.u-bg-color--gray-light {
  background-color: #ccc;
}
.u-bg-color--gray-lighter {
  background-color: $color--gray-lighter;
}
@media (max-width: 768px) {
  .b-header__wrapper .navbar-toggle {
    border-color: #fff;
  }
  .b-header__wrapper .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .b-header__wrapper .navbar-toggle:hover,
  .b-header__wrapper .navbar-toggle:focus {
    background-color: #fff;
    border-color: #98cd32;
  }
  .b-header__wrapper .navbar-toggle:hover .icon-bar,
  .b-header__wrapper .navbar-toggle:focus .icon-bar {
    background-color: #98cd32;
  }
  .b-article__item {
    width: 45%;
    margin-bottom: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */

/* Video lands */

.object_video_card {
  width: 262px;
  height: 175px;
  position: relative;
  cursor: pointer;
  margin-bottom: 50px;
}

.object_video_card__preview, .object_video_card__shadow {
  background-size: 100% 100%;
}

.object_video_card__preview, .object_video_card__shadow {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 175px;
  border-radius: 4px;
  /*margin-top: -25px;*/
}
.object_video_card__shadow {
  transition: all .3s ease;
  /*box-shadow: 0 15px 30px 0 rgba(0,0,0,.5);*/
  transform: scale(.9);
}
.object_video_card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  border-radius: 4px;
  overflow: hidden;
}

.object_video_card__overlay {
  transition: all .3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0,0,0,.1);
  text-align: center;
}

.va_wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.va_wrapper .va_inner {
  display: table-cell;
  vertical-align: middle;
}

.object_video_card__icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 0 auto;
  background-color: #fff;
  color: #ed1c24;
  display: -ms-flexbox;
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.object_video_card__icon:before {
  content: '';
}

.object_video_card__icon .b_icon {
  font-size: 1.7rem;
  transform: translateX(2px) translateY(1px);
}
.ion-play:before {
  content: "\f215";
}

.ion-play:before  {
  display: inline-block;
  font-family: "Ionicons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-dialog-container {
  width: 50%;
}

.modal-dialog-container .modal-content {
  background-color: #222;
  border-radius: 8px;
}

.modal-dialog-container .modal-header {
  border-bottom: 1px solid #504949;
  color: #ccc;
  /*font-weight: 600;*/
  font-size: 20px;
  /*letter-spacing: 0.2em;*/
}

.modal-dialog-container button span {
  color: #eee;
}

#modalMainVideo {
  margin-top: 7%;
}

/* End video lands */

/* Filters */
.all-filters {
  padding-right: 0 !important;
}

.all-filters .btn-primary {
  background-color: #99c848;
  border-color: #99c848;
  color: #FFFFFF;
  width: 193px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
}

.all-filters .btn-primary:hover,.all-filters .btn-primary:focus,.all-filters .btn-primary:active {
  background-color: rgb(167, 208, 97);
  border-color: rgb(167, 208, 97);
}

.all-filters .form-control:focus {
  border-color: #98cd32;
}

.all-filters a, .all-filters input[type="text"] {
  width: 178px;
}

.all-filters input::placeholder {
  color: #000 !important;
}

.interval-input input[type="text"] {
  width: 68px;
}

.all-filters a, .all-filters input[type="text"] {
  height: 35px !important;
  line-height: 35px !important;
  font-size: 15px;
  /*font-weight: bold;*/
  font-weight: 600;
  border-radius: 0 !important;
  color: #000 !important;
}

.all-filters .interval-input {
  padding-right: 0;
}

.all-filters .interval-input .col-sm-6 {
  padding: 0 !important;
  margin: 0 !important;
}

.all-filters .button {
  float: right;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: auto;
}

.all-filters .interval-input > div {
  display: table-cell;
}

.all-filters .auto-w {
  width: auto;
  padding-right: 0 !important;
}

.interval-price {
  padding-left: 37px;
}
.interval-area {
  padding-left: 15px;
}
.interval-distance {
  padding-left: 30px;
}

.interval-input .interval-min {
  width: auto;
  padding-right: 15px;
}

.all-filters #search-filters {
  border: 0px;
}

.all-filters .chosen-single div b {
  background: url("../plugins/chosen/chosen-sprite-green.png") no-repeat 0 10px;
}

.optional-filters, .main-filters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.all-filters .checkbox {
  margin-top: 10px !important;
}

.b-objects-map__form_arrow {
  content: '';
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: -20px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #007d35;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: 2;
  cursor: pointer;
}

.b-objects-map__form_arrow b {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  background-color: #007d35;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  bottom: 15px;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  z-index: 5;
}

/* End Filters */

.more-btn {
  color: #007d35 !important;
  cursor: pointer;
}

.more-btn:hover {
  color: #000 !important;
}
.panel-options-1, .panel-options-2 {
  height: 150px;
  min-height: 150px;
  overflow: hidden;
}
.map-size {
  margin-left: 12px;
  padding-right: 12px;
}

.map-size-list {
  height: 150px;
  min-height: 150px;
  overflow: hidden;
  font-size: 1.4rem;
}
.map-size-title {
  font-size: 2rem;
}
.map-size-list div, .map-size-title div {
  padding-top: 5px;
  padding-bottom: 5px;
}
.map-list-value {
  color: #98cd32;
}
.map-list-name {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.map-list-value {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.map-title-name {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.map-title-value {
  border: 1px solid #eee;
}
.map-list-footer {
  margin-top: 10px;
}

/*!* Services tabs *!*/
.services-tabs {
  min-height: 1100px;
}

.services-tabs .tab-content {
  min-height: 395px;
}

.tabs-container {
  margin-top: 75px;
}

.tabs-container .nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs>li>a, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 0 !important;
}

.tabs-container .nav-tabs > li a:hover {
  background: transparent;
  border-color: transparent;
}

.tabs-container .tabs-left .panel-body {
  padding: 35px 10px 35px 35px;
  /*height: 300px;*/
}
.tabs-container .tabs-left .panel-body .image {
  padding: 10px;
}

.tabs-container .tab-content .tab-pane {
  display: none;
}
.tabs-container .tab-content .active,
.tabs-container .pill-content .active {
  display: block;
}
.tabs-container .tab-content {
  border: 1px solid #ddd;
  border-radius: 2px
}
.tabs-container .tabs-left .nav-tabs > li {
  color: #eee;
  width: 100%;
}
.tabs-container .tabs-left .nav-tabs > li a {
  color: #000;
}
.tabs-container .tabs-left .nav-tabs .active {
  color: #98cd32;
}
.tabs-container .tabs-left .nav-tabs {
  float: left;
  margin-right: 19px;
}

.tabs-container .tabs-right .nav-tabs {
  float: right;
  margin-left: 19px;
}
.nav-tabs {
  border: 0;
}
.nav li a {
  display: inline-table;
}
/*!* End Services tabs *!*/

.green-line {
  width: 100%;
  height: 15px;
  background-color: #007d35;
}
.footer-line {
  width: 100%;
  height: 70px;
  background-color: #000;
}

.green-light-line {
  width: 100%;
  height: 15px;
  background-color: #98cd32;
}

.page-info {
  min-height: 1135px;
}
.page-partners {
  min-height: 1170px;
}

.page-partners img {
  margin-top: 4px;
}

.border-black {
  border: 1px solid #000;
}

.content-header {
  text-align: center;
  margin-top: 45px;
}

.content-text {
  margin-top: 40px;
}

.content-text p {
  margin-top: 25px;
  color: #000;
}

.content-images {
  margin-top: 60px;
  color: #777;
}

.green-font {
  font-size: 20px;
  font-weight: bolder;
  color: #98cd32;
  float: left;
}

.content-images-item {
  line-height: 45px;
}

.content-images-item img {
  float: left;
}

.green-dark {
  color: #007d35;
  font-weight: bold;
}

.b-search-form .form-control,
.b-search-form .chosen-container a {
  /*font-weight: bold;*/
  /*border-radius: 0 !important;*/
  color: #000 !important;
}

.b-search-form .chosen-container a {
  border: 0;
}

.b-search-form .chosen-container a span {
  height: 34px;
  line-height: 34px;
}

.b-search-form .btn-primary,
.b-search-form .btn-primary:focus,
.b-search-form .btn-primary:active {
  background-color: #99c848;
  border-color: #99c848;
  color: #FFFFFF;
}
.b-objects-map__form_arrow:hover {
  transition: all 0.3s ease;
  transform: translateX(-50%) translateY(5%);
}

.b-objects-map__form_arrow b {
  transform-origin: center center;
  transform: translateX(-50%) rotate(180deg);
  transition: all 0.3s ease;
}

.b-objects-map__form_arrow.collapsed b {
  transform: translateX(-50%) rotate(0deg) ;
}

.b-objects-map__form.affix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.text-justify {
  text-align: justify;
}

.padding-t-0 {
  padding-top: 0 !important;
  padding-bottom: 10px !important;
}

.b-search-form .row {
  margin-left: -5px;
  margin-right: -5px;
}
.b-search-form [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.b-object-card:hover {
  /*background-color: #efefef;*/
}

.b-object-card .title-container {
  margin-top: -10px;
  padding-top: 10px;
}
.padding-b-14 {
  padding-bottom: 14px !important;
}

.contacts-header {
  font-size: 14px;
  padding-right: 25px;
  line-height: 50px;
}

.col-20 {
  width: 20%;
  display: table-cell;
}

.top-nav-item > span.bigger {
  display: inline-block;
  font-size: 17px;
}
.home-nav .top-nav-item {
  line-height: 64px;
  margin-right: 185px;
  margin-left: 0;
  color: #777;
  display: inline;
}
.home-nav .top-nav-item > span.bigger {
  display: inline-block;
  font-size: 17px;
}
.inmodal {
  color: #676a6c;
}

.inmodal .modal-title {
  font-size: 26px;
  margin: 0;
  line-height: 1.4;
}

.inmodal small {
  font-size: 1.0em;
}

.inmodal .modal-body {
  background-color: #e5e6e7;
  padding-top: 25px;
}

.inmodal .modal-header {
  padding: 30px 25px 15px;
  text-align: center;
  border:none;
}


.inmodal .form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  color: inherit;
  display: block;
  font-size: 14px;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.inmodal .form-control:focus {
  box-shadow: none;
  border-color: #81848c;

}

.inmodal .modal-icon {
  color: #e2e3e3;
  font-size: 84px;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #007d35;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
/* Modal animated check mark */
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 2% auto;
  box-shadow: inset 0px 0px 0px #007d35;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #007d35;
  }
}

.inmodal label.error {
  color: #d9534f;
  padding: 3px 0px 0px 5px;
}

.contact-item {
  font-size: 16px;
  padding: 10px;
  margin-top: -10px;
  margin-bottom: 20px;
}

.contact-title {
  margin-bottom: 0;
}

.contact-container {
  margin-bottom: 3%;
}
.contacts-img img {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 5%;
}
.not-active {
  pointer-events: none;
  cursor: default;
}

.not-active .b-pagination-circle {
  border: 1px solid #333;
}

.stairs-icon {
  width: 23px;
  height: 19px;
  display: inline-block;
}
.btn-cabinet {
  border-radius: 4px;
}

.result-items {
  margin-bottom: 20px;
  font-size: 14px;
}
.contacts-header:hover a {
  color: #fff !important;
}
#bs-example-navbar-collapse-1 {
  margin-right: -30px;
}
.land-article td, .architecture-article td {
  font-size: 16px;
  font-weight: bold !important;
  padding-bottom: 17px !important;
}
.land-video {
  margin-top: 5px;
}
.icon-grid-item {
  /*border: 1px solid #666;*/
  width: 40px;
  height: 40px;
  display: inline-flex;
  border-radius: 20px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}
.b-pagination-link:hover .icon-grid-item, .b-pagination-link:focus .icon-grid-item {
  color: #98cd32;
}
.link-footer {
  color: #fff;
}
.link-footer:hover {
  text-decoration: none;
  color: #98cd32;
}
.pagination-more button {
  width: 150px;
  height: 35px;
  border-radius: 100px;
  color: #555;
}
.pagination-more button:hover {
  background-color: #e6e6e6;
  color: #777;
}
.pagination-more button:active, .pagination-more button:focus, .pagination-more button:focus, .pagination-more button:visited {
  outline: 0;
}

.pagination-more:active, .pagination-more:focus, .pagination-more:focus, .pagination-more:visited {
  outline: 0;
}
.scroll-top a {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 46%;
  margin-right: -600px;
  width: 45px;
  height: 45px;
  z-index: 100;
  opacity: .7;
  color: #fff;
  background-color: #ccc;
  font-size: 23px;
  vertical-align: middle;
  /*line-height: 50px;*/
  padding-top: 9px;
}

.scroll-top:hover a {
  color: #fff;
  background-color: #ddd;
}

.page-404 .row div {
  text-align: center;
}

.error-404-code {
  margin-top: 20%;
  color: #98cd32;
  font-size: 135px;
  font-weight: bold;
}

.error-404-name {
  margin-top: 20px;
  color: #98cd32;
  font-size: 20px;
  font-weight: bold;
}

.error-404-description {
  margin-top: 20px;
  color: #777;
  font-size: 16px;
}

.error-404-btn-return {
  margin-top: 40px;
}

.error-404-btn-return a {
  padding: 10px 20px;
  font-weight: bold;
}

.error-404-image {
  /*margin: 0 auto;*/
  align-content: center;
  width: 100%;
  /*position: fixed;*/
  /*bottom: 15px;*/
}

.error-404-image img {
  display: inherit;
  margin: 0 auto -15px;
}

.container-404 {
  min-height: 900px;
}

#ordersForm .modal-dialog {
  margin-top: 10%;
}
#orderSuccessModal .modal-dialog {
  margin-top: 10%;
}
@media (max-width: 1200px) {
  .object-cards {
    justify-content: flex-start !important;
  }
  .object-cards .b-object-card {
    flex: 0 1 22% !important;
  }
}
@media (max-width: 1024px) {
  .left-menu.hidden {
    display: block !important;
    /*margin-top: 65px !important;*/
    height: 127px;
  }
  .grid_row, .home-steps-block, .home-presentation, .home-map, .home-main-block, .home-nav, .left-menu, .add-land-btn {
    display: none !important;
  }
  .home-main-slider.hidden {
    display: block !important;
    /*height: 249px !important;*/
    margin-top: 65px !important;
  }
  .home-main-slider.hidden .swiper-button-prev, .home-main-slider.hidden .swiper-button-next {
    top: 110px !important;
  }
  .home-main-slider.hidden img {
    width: 100% !important;
    height: 100% !important;
  }
  .b-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  .left-menu-item {
    width: 33.33% !important;
    text-align: center;
  }
  .menu-icon {
    padding: 10px 20px 0;
  }
  .menu-icon img {
    opacity: .7;
    width: 50px;
    height: 50px;
  }
  .left-menu-item .phone {
    padding: 3px 0 !important;
  }
  .left-menu-item .font-small {
    font-size: 13px !important;
  }
  .home-advantage-block .item {
    flex-direction: column;
    align-items: center;
    height: 95px;
  }
  .home-advantage-block .item .img {
    padding: 6px 0 0 !important;
  }
  .home-advantage-block .item .img img {
    width: 30px;
    height: 30px;
  }
  .home-advantage-block .item .text {
    font-size: 13px !important;
    line-height: 13px !important;
    padding: 5px 0 0 !important;
  }
  .object-cards {
    justify-content: flex-start !important;
  }
  .object-cards .b-object-card {
    flex: 0 1 22% !important;
  }
  .main-block .home-main-block--item {
    flex: 0 !important;
  }
  .main-block .home-main-block--item.map-container {
    flex: 4 !important;
  }
  .map-btn-container {
    display: flex !important;
  }
  .kirsan-logo {
    display: none !important;
  }
  .b-pagination {
    margin-top: 72px !important;
  }
}

@media (max-width: 1000px) {
  .object-cards {
    justify-content: flex-start !important;
  }
  .object-cards .b-object-card {
    flex: 0 1 30% !important;
  }
  .b-search-form [class^="col-"] {
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  .b-header__wrapper .top-nav-item {
    display: none;
  }
  .b-header__wrapper .top-nav-item:first-child {
    display: block!important;
  }
  .b-header__wrapper .navbar-toggle {
    display: none!important;
  }
  .b-header__wrapper .navbar-toggle {
    margin-right: 0!important;
  }
  .b-header__wrapper .col-lg-2 {
    padding: 0!important;
  }
  .b-header__wrapper .collapse {
    display: block!important;
  }
  .container-image, .b-header__logo-kirsan, .right-section {
    display: none;
  }
  .navbar-right .hidden {
    display: block !important;
  }

  .home-steps-block, .home-presentation {
    display: none;
  }
  .home-main-block .nopadding, .home-main-block .nopadding-right, .home-main-block .nopadding-left  {
    padding: 0 15px !important;
  }
  .main-block {
    height: 350px !important;
  }
  #language_links {
    display: none !important;
  }
  #language_links_mobile {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    padding-right: 15px !important;
  }
}

@media (max-width: 700px) {
  .b-pagination-link__text {
    display: none;
  }
  .object-cards {
    justify-content: space-between !important;
  }
  .object-cards .b-object-card {
    flex: 0 1 45% !important;
  }

  .main-block {
    display: none !important;
  }
  .b-pagination a span.text {
    display: none !important;
  }

}
@media (max-width: 500px) {
  .object-cards {
    justify-content: space-around !important;
  }
  .object-cards .b-object-card {
    flex: 0 1 100% !important;
    margin-right: 0 !important;
  }
  .object-cards .b-object-card img {
    height: 100%;
    width: 100%;
  }
    .b-objects-map__form {
        margin-top: 65px !important;
    }
  .home-advantage-block {
    margin-bottom: 0 !important;
    height: auto !important;
    justify-content: center !important;
    border: none !important;
    flex-wrap: wrap;
  }
  .home-advantage-block .item {
    width: 33% !important;
    border: none !important;
  }
}

.building-address-pin {
  font-size: 14px;
  color: #98cd32;
}

.building-address {
  margin-bottom: 15px;
}
.building-address a {
  color: #000;
}
.building-address a:hover {
  text-decoration: none;
  color: #555;
  cursor: pointer;
}
.swiper-slider-title {
  text-align: center;
  font-size: 15px;
  color: #007d35;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}
.swiper-slider-title span {
  color: #98cd32;
}
.swiper-prev-btn, .swiper-next-btn {
  background-color: #fff;
  border: 0;
  font-size: 17px;
  /*margin-left: 170px;*/
  outline: 0;
  width: 100%;
}
.swiper-prev-btn:hover, .swiper-next-btn:hover, .swiper-prev-btn:active, .swiper-next-btn:active, .swiper-prev-btn:visited, .swiper-next-btn:visited, .swiper-prev-btn:focus, .swiper-next-btn:focus {
  outline: 0;
}
.building-props {
  margin-bottom: 9px;
}

.architecture-front-slider {
  background-image: url('/img/projects/slide-background.png');
}
.architecture-front-slider .swiper-container {
  width: 1170px;
  height: 550px;
  /*margin: 20px auto;*/
}
.architecture-front-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  line-height: 300px;
}
.swiper-button-prev, .swiper-button-next {
  font-size: 62px;
  color: #007d35;
  top: 266px;
  background-image: none;
}
.swiper-button-prev {
  left: 10px;
  right: auto;
}

.swiper-button-next {
  right: 10px;
  left: auto;
}
.project-link {
  position: absolute;
  bottom: 13px;
  left: 387px;
  width: 138px;
  height: 38px;
  z-index: 1000;
}
.h3-nomargin {
  font-size: 2.3rem;
  margin-bottom: -10px;
}
.b-header__logo-kirsan:hover {
  background-color: #fff6;
}
.container-image img {
  position: relative;
  z-index: 1000;
  box-shadow: 4px 4px 14px #555;
  border-radius: 4px;
}
.container-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.container-image > div {
  height: 100%;
}
.ready-product-container {
  margin-top: 385px;
}

.menu-items {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}
.menu-container {
  margin-top: 10px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}
.home-map {
  height: 209px;
  position: relative;
  margin-left: 3px;
  overflow: hidden;
  width: 301px;
}
.home-map .map-hover {
  position: absolute;
  bottom: -37px;
  transition: bottom 0.1s;
  cursor: pointer;
  left: 0;
}
.home-map:hover .map-hover {
  bottom: 0;
}
.home-main-slider {
  position: relative;
  /*height: 380px;*/
}

.home-main-slider .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.home-main-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}
.home-main-block--item .home-main-slider .swiper-slide img {
  width: 587px;
  height: 381px;
}
.home-main-slider .swiper-button-prev, .home-main-slider .swiper-button-next {
  display: none;
  position: absolute;
  top: 50%;
  background-color: #000;
  margin-top: -25px;
  z-index: 10;
  cursor: pointer;
  background-repeat: no-repeat;
  opacity: .4;
  background-image: url(/img/common/slider-buttons.png) !important;
  background-size: auto auto;
  width: 30px;
  padding: 0;
  height: 50px;
}
.home-main-slider .swiper-button-prev:hover, .home-main-slider .swiper-button-next:hover {
  opacity: .7;
}
.home-main-slider .swiper-button-prev {
  background-position: 0 0;
  left: 0;
  border-radius: 0 2px 2px 0;
}
.home-main-slider .swiper-button-next {
  background-position: -29px 0;
  right: 0;
  border-radius: 2px 0 0 2px;
}
.home-main-slider:hover .swiper-button-prev, .home-main-slider:hover .swiper-button-next {
  display: block;
}
.home-main-slider .swiper-pagination {
  text-align: right;
  padding-right: 40px;
}
.home-main-slider .swiper-pagination-bullet {
  background: #007d35;
}
/*.home-main-slider .swiper-button-prev, .home-main-slider .swiper-button-next {*/
  /*top: 190px;*/
/*}*/
.left-menu {
  position: relative;
  height: 100%;
  width: 100%;
  padding-right: 3px;
}
.left-menu-item {
  position: relative;
  width: 100%;
  height: 127px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 8px;
}
.left-menu-item-first {
  border-top: 0;
}

.left-menu-item a {
  color: #555;
}
.left-menu-item .name {
  padding: 39px 15px 0;
}
.left-menu-item .name .font-big {
  font-size: 18px;
}
.left-menu-item .name .font-small {
  font-size: 15px;
}
.left-menu-item .phone {
  padding-top: 6px;
  padding-left: 21px;
  display: none;
}
.left-menu-item .count {
  font-size: 13px;
  float: right;
  padding: 5px;
  width: 30px;
  height: 38px;
  text-align: center;
  margin-top: 56px;
}
.left-menu-item .icon {
  padding-top: 38px;
  text-align: right;
}
.left-menu-item .icon img {
  width: 50px;
  height: 50px;
  opacity: 0.7;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}
.col-24 {
  width: 24%;
  float: left;
}
.col-26 {
  width: 26%;
  float: left;
}
.col-50 {
  width: 50%;
  float: left;
}
.step-block {
  height: 78px;
  text-align: center;
}
.step-block a {
  color: #5f5f5f;
}
.home-steps-block {
  margin-top: 20px;
}
.home-steps-block .step-name {
  font-size: 1.9rem;
  line-height: 78px;
  text-align: left;
}
.home-steps-block .step-number {
  color: #fff;
  margin-top: 26px;
  margin-left: 18px;
  margin-right: 9px;
}
.home-steps-block .step-number div {
  background-color: #faa85f;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding-top: 3px;
}
.home-objects-block {
  /*height: 422px;*/
  height: auto;
}
.home-objects-block .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 12px;
}
.home-objects-block .swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #ccc;
  min-width: 270px !important;
}
.home-objects-block .swiper-slide a {
  color: #444;
}
.swiper-slide a, .swiper-slide:hover a, .swiper-slide:active a:active, .swiper-slide:focus a, .swiper-slide:visited a {
  text-decoration: none;
}
.home-objects-block .swiper-button-prev, .home-objects-block .swiper-button-next {
  display: none;
  position: absolute;
  top: 50%;
  background-color: #000;
  margin-top: -25px;
  z-index: 10;
  cursor: pointer;
  background-repeat: no-repeat;
  opacity: .3;
  background-image: url(/img/common/slider-buttons.png) !important;
  background-size: auto auto;
  width: 30px;
  padding: 0;
  height: 50px;
}
.home-objects-block .swiper-button-prev:hover, .home-objects-block .swiper-button-next:hover {
  opacity: .6;
}
.home-objects-block .swiper-button-prev {
  background-position: 0 0;
  left: 0;
  border-radius: 0 2px 2px 0;
}
.home-objects-block .swiper-button-next {
  background-position: -29px 0;
  right: 0;
  border-radius: 2px 0 0 2px;
}
.home-objects-block:hover .swiper-button-prev, .home-objects-block:hover .swiper-button-next {
  display: block;
}
.home-objects-block .swiper-slide .slide-content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px 12px 0;
}
.home-objects-block .swiper-slide .slide-content .city {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 15px;
  min-height: 50px;
}
.home-objects-block .swiper-slide .slide-content .price {
  font-size: 2rem;
  font-weight: 600;
  color: #007d35;
  margin-right: -25px;
  padding-top: 10px;
}
.home-objects-block .swiper-slide .slide-content .price i {
  font-size: 1.4rem;
  font-weight: 100;
  color: #555;
  font-style: normal;
}
.home-objects-block .swiper-slide .slide-content .building-from {
  color: #555;
  font-style: normal;
  margin-top: 5px;
  font-size: 14px;
}
.home-objects-block .swiper-slide .slide-content .first-price {
  font-size: 2.2rem;
  font-weight: 600;
  color: #98cd32;
}
.home-objects-block .swiper-slide .slide-content .first-price i {
  font-size: 1.4rem;
  font-weight: 100;
  color: #555;
  font-style: normal;
}
.home-objects-block .swiper-slide .slide-content .area {
  line-height: 28px;
}
.home-objects-block .swiper-slide .slide-content .title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-right: -15px;
}
.home-objects-block .swiper-slide .slide-content .params {
  display: flex;
  margin-top: 9px;
  margin-bottom: 8px;
  font-size: 1.4rem;
}
.home-objects-block .swiper-slide .slide-content .params .item {
  margin-right: 2rem;
}
.home-objects-block .swiper-slide .slide-content .params .item i {
  font-size: 1.7rem;
}
.home-objects-block .swiper-slide .slide-content .params .item .stairs-icon {
  height: 15px;
}
.home-objects-block .swiper-slide .slide-content .ready {
  font-size: 14px;
  line-height: 30px;
  color: #555;
}
.home-objects-block .swiper-slide .slide-content .address {
  font-size: 14px;
  color: #555;
}
.home-objects-block .slide-img {
  width: 100%;
  /*padding: 12px;*/
}
.home-objects-block .slide-img img {
  width: 100%;
  height: 100%;
}
.bg-white {
  background-color: #fff;
}
.bg-grey-light {
  background-color: #fbfbfb;
}
.title-main {
  margin-top: 2rem;
}
.title-main a {
  color: #555;
}
.title-main:hover a {
  text-decoration: none;
  color: #777;
}
.land-item {
  /*background-color: #b9debc;*/
  background-color: #cde171;
  /*opacity: .9;*/
}
.architecture-item {
  /*background-color: #9ed5f1;*/
  background-color: #a6d33e;
  /*opacity: .9;*/
}
.building-item {
  /*background-color: #ffc087;*/
  background-color: #80b500;
  /*opacity: .9;*/
}
.service-item {
  background-color: #f9abb1;
}
.step-block-first, .step-block-second, .step-block-last {
  background: url('/img/common/step-empty-1.png') no-repeat;
}

.home-presentation {
  margin-left: 2px;
  width: 302px;
  height: 169px;
  position: relative;
  cursor: pointer;
  margin-bottom: 2px;
}
.home-presentation-shadow {
  transition: all .3s ease;
  transform: scale(.9);
}

.home-presentation-preview, .home-presentation-shadow {
  background-size: 100% 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 302px;
  height: 230px;
  margin-top: -32px;
}
.home-presentation-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  overflow: hidden;
}
#mapView {
  cursor:pointer;
}
#modalMap .modal-dialog-container {
  height: 92%;
}
#modalMap .modal-content {
  height: 100%;
}
#modalMap .modal-dialog-container .close-btn {
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 1;
  display: block;
  margin: 0;
  padding: 0 8px 0 12px;
  background: #fff;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
}
#modalMap .modal-dialog-container .close-btn:hover {
  background: #ebebeb;

}
#modalMap .modal-dialog-container .close-btn span {
  font-size: 12px;
  line-height: 15px;
  margin: 7px 4px 7px 0;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #464646;
}
#modalMap .modal-dialog-container .close-btn .close-x {
  color: #5a5a5a;
}

#modalMap .modal-dialog-container {
  width: 95%;
}
.b-object-modal-card.home-card {
  top: 65px;
  left: 80px;
  border: 4px solid #007d35;
  z-index: 10000;
}
div.terms-land-link {
  margin-top: 50px;
}
.terms-header h2 {
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}
.content-center {
  display: flex;
  align-content: center;
  align-items: center;
}
.home-advantage-block {
  margin-bottom: 60px;
  padding-bottom: 30px;
  display: flex;
  height: 78px;
  border-bottom: 1px solid #fff;
}
.home-advantage-block .item {
  border-right: 1px solid #bbb;
  display: flex;
  width: 20%;
}
.home-advantage-block .item:last-child {
  border-right: none;
}
.home-advantage-block .item .img {
  padding: 0 0 0 15px;
}
.home-advantage-block .item .text {
  font-size: 16px;
  line-height: 24px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-main-block, .main-block {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 380px;
}

.home-main-block--item {
  flex: 1;
  overflow: hidden;
}

.home-main-block--item.item-center {
  flex: 2;
}
.home-main-block--item.map-container {
  flex: 3;
}

.grid_row {
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.grid_row .top-nav-item {
  flex: 0 1 auto;
  color: #777;
  margin: 0;
  padding: 20px 0;
}

.object-cards span {
  display: -ms-flexbox;
  display: box;
  display: flex;
  -o-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -o-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.object-cards .b-object-card{
  flex: 0 1 24%;
  overflow: hidden;
}
.b-object-card {
  border: 1px solid #ccc;
  margin-right: 11px;
  min-height: 390px;
  margin-bottom: 15px;
}
.b-object-card:hover, .home-objects-block .swiper-slide:hover {
  box-shadow: 3px 5px 6px #ccc;
}
.b-object-card a {
  color: #555;
}
.b-object-card:hover a {
  text-decoration: none;
}
.b-object-card .card-img {
  background-size: cover;
}

.b-object-card .card-content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  padding: 20px 12px 0;
}

.b-object-card .card-content .city {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 15px;
  min-height: 50px;
  /*color: #555;*/
}
.b-object-card .card-content .price {
  font-size: 2rem;
  font-weight: 600;
  color: #007d35;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 0;
}
.b-object-card .card-content .price i {
  font-size: 1.4rem;
  font-weight: 100;
  color: #555;
  font-style: normal;
  position: relative;
  background-color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.b-object-card .card-content .price span {
  background-color: #fff;
  display: inline-block;
  padding-left: 14px;
}
.b-object-card .card-content .price i:before {
  content: '........................................';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.b-object-card .card-content .building-from {
  color: #555;
  font-style: normal;
  margin-top: 5px;
  font-size: 14px;
}
.b-object-card .card-content .first-price {
  font-size: 1.8rem;
  font-weight: 600;
  color: #98cd32;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  z-index: 0;
}
.b-object-card .card-content .first-price i {
  font-size: 1.4rem;
  font-weight: 100;
  color: #555;
  font-style: normal;
  position: relative;
  background-color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.b-object-card .card-content .first-price span {
  background-color: #fff;
  display: inline-block;
  padding-left: 13px;
}
.b-object-card .card-content .first-price i:before {
  content: '.....................................................';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.b-object-card .card-content .area {
  line-height: 28px;
  /*color: #555;*/
}
.b-object-card .card-content .title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-right: -15px;
  color: #555;
}
.b-object-card .card-content .title sup {
  line-height: inherit;
}
.b-object-card .card-content .params {
  display: flex;
  margin-top: 9px;
  margin-bottom: 8px;
  font-size: 1.4rem;
}
.b-object-card .card-content .params .item {
  margin-right: 2rem;
  display: flex;
}
.b-object-card .card-content .params .item i {
  font-size: 1.7rem;
}
.b-object-card .card-content .params .item .stairs-icon {
  height: 15px;
}
.b-object-card .card-content .ready {
  font-size: 14px;
  line-height: 30px;
  color: #555;
}
.b-object-card .card-content .ready {
  line-height: inherit;
}
.b-object-card .card-content .address {
  font-size: 14px;
  color: #555;
}
.b-section {
  min-height: 500px;
}
.projects-main-img {
  background-size: 100%;
  background-image: url('/img/objects/main-projects.png');
  background-repeat: no-repeat;
}
#priceBuildingPopover, #priceBuildingFacadePopover {
  cursor: pointer;
}
#priceBuildingPopover + .popover {
  left: 15px !important;
  max-width: 335px !important;
  font-size: 13px !important;
}
#priceBuildingFacadePopover + .popover {
  left: 140px !important;
  max-width: 335px !important;
  font-size: 13px !important;
}

#priceBuildingPopover + .popover ol, #priceBuildingFacadePopover + .popover ol {
  padding-left: 15px;
  margin-top: 5px;
}
#priceBuildingPopover + .popover .popover-more, #priceBuildingFacadePopover + .popover .popover-more {
  float: right;
  font-size: 13px;
}

#priceBuildingPopover + .popover .popover-close, #priceBuildingFacadePopover + .popover .popover-close {
  float: right;
  font-size: 13px;
  height: 39px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#priceBuildingPopover + .popover .popover-close:focus, #priceBuildingFacadePopover + .popover .popover-close:focus {
  outline: none;
}
.projects-info {
  display: flex;
  flex-direction: column;
}
.projects-info .item {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
.projects-info .item.price {
  padding: 0;
  line-height: 26px;
}
.projects-info .item div {
  flex: 42;
}
.projects-info .item div:first-child {
  flex: 100;
}
.projects-info .item div:nth-child(2) {
  color: #98cd32;
}
.prices {
  margin-bottom: 30px;
}
.prices .row h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.prices ol li b  {
  margin-bottom: 1rem;
  display: block;
}

.office-card .content {
  padding: 1rem;
}
.office-card .content .work-time {
  padding: 10px;
}
.office-card .content .title {
  font-weight: 700;
  font-size: 16px;
}
.office-card .content .work-time .day, .office-card .content .contact {
  display: flex;
}
.office-card .content .work-time .day div {
  flex: 1;
}
.office-card .content .contact div:first-child {
  flex: 4;
}
.office-card img {
  width: 312px;
}
.vertical-slider .swiper-wrapper {
  min-height: 100%;
}
.vertical-slider .swiper-slide {
  height: auto !important;
  overflow: hidden;
}
.object_video_card__icon {
  transition: all 0.1s ease;
  opacity: 0.85;
}
.object_video_card__icon .ion-play {
  transition: all 0.1s ease;
}
.home-presentation-content:hover .object_video_card__icon {
  height: 43px;
  width: 43px;
  opacity: 0.9;
}
.home-presentation-content:hover .object_video_card__icon .ion-play {
  font-size: 2rem;
}
.locale-links {
  padding-right: 0;
  padding-left: 37px;
  margin-top: 6px;
}
.locale-links a img {
  height: 16px;
}
.map-btn-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.map-btn-container .map-btn {
  width: 100%;
  border: none;
  background-color: #FBFBF8;
  padding: 8px 0;
}
.related-projects .b-object-thumbs, .related-lands .b-object-thumbs {
  /*justify-content: space-between;*/
}
.related-projects .b-object-thumbs__item, .related-lands .b-object-thumbs__item {
  flex: 0 1 24%;
  min-height: 1px !important;
}
.related-projects .b-object-thumbs__item:last-child, .related-lands .b-object-thumbs__item:last-child  {
  margin-right: 0;
}
.b-related-panel__footer {
  text-align: center;
  margin-top: 25px;
}
.b-related-panel__footer a {
  color: #555;
  font-size: 14px;
  text-decoration: underline;
}
.b-related-panel__footer a:hover {
  color: #007d35;
}

/*print rules*/
.print-only {
  display:none;
}

.page-hypothec-content .row {
    margin-top: 22px;
}

.page-hypothec-header .row:nth-child(1) {
    margin-top: 45px;
    margin-bottom: 8px;
}

.page-hypothec-header .row:nth-child(2) {
    margin-bottom: 50px;
}
.btn-add-land {
  background-color: #80b500 !important;
  border: none !important;
  color: white !important;
}
.add-land-btn > a {
  padding: 9px 14px !important;
}
.btn-add-land:hover {
  opacity: .9;
}