<template>

    <div class="b-search-form">

        <form id="architectureFiltersForm" action="" method="post" @keydown.enter.prevent="" class="header_form">

            <div class="form-group b-form-group">

                <label>{{ translate('messages.label_house_type') }}</label>

                <b-form-select v-model="selected" name="building_type" :options="getBuildingTypes" class="form-control b-form-control b-form-control__norounded"></b-form-select>

            </div>

            <div class="row">

                <div class="col-sm-6">

                    <div class="form-group b-form-group">

                        <label class="b-form-group__label">

                            {{ translate('messages.label_floors') }}

                        </label>

                        <div class="row">

                            <div class="col-sm-6">

                                <input type="text" id="floor-from" name="floors_min" class="form-control b-form-control" :placeholder="translate('messages.label_from')"  @keyup="filteredArchitectureCount">

                            </div>

                            <div class="col-sm-6">

                                <input type="text" id="floor-to" name="floors_max" class="form-control b-form-control" :placeholder="translate('messages.label_to')" @keyup="filteredArchitectureCount">

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="form-group b-form-group">

                        <label class="b-form-group__label">

                            {{ translate('messages.label_bedrooms') }}

                        </label>

                        <div class="row">

                            <div class="col-sm-6">

                                <input type="text" id="sleep-from" name="rooms_min" class="form-control b-form-control" :placeholder="translate('messages.label_from')"  @keyup="filteredArchitectureCount">

                            </div>

                            <div class="col-sm-6">

                                <input type="text" id="sleep-to" name="rooms_max" class="form-control b-form-control" :placeholder="translate('messages.label_to')"  @keyup="filteredArchitectureCount">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-6">

                    <div class="form-group b-form-group">

                        <label class="b-form-group__label">

                            {{ translate('messages.label_price') }} / <span class="u-text-color--green">&euro;</span>

                        </label>

                        <vue-range-slider
                                ref="priceRangeslider"
                                :real-time="true"
                                v-model="priceRange"
                                :value="[priceAmountFrom, priceAmountTo]"
                                :min="0"
                                :max="priceAmountTo"
                                :tooltip=false
                                :process-style='{"background-color": "#80b600"}'
                                :bg-style='{"background-color": "#fff"}'
                                @drag-end="filteredArchitectureCount">
                        </vue-range-slider>

                        <div class="b-grid b-grid-space-between u-text-color--green">

                            <p>

                                {{ translate('messages.label_from') }}

                                <span class="u-text-color--white from-label">{{ priceRange[0] }}</span>

                                <input type="text" name="price_min" class="amount-from hidden" :value="priceRange[0]"/>

                                &euro;

                            </p>

                            <p>

                                {{ translate('messages.label_to') }}

                                <span class="u-text-color--white to-label">{{ priceRange[1] }}</span>

                                <input type="text" name="price_max" class="amount-to hidden" :value="priceRange[1]"/>

                                &euro;

                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="form-group b-form-group">

                        <label class="b-form-group__label">

                            {{ translate('messages.label_area') }} / <span class="u-text-color--green">{{ choice('messages.label_ares', 0) }}<sup>2</sup></span>

                        </label>

                        <vue-range-slider
                                ref="areaRangeslider"
                                v-model="areaRange"
                                :real-time="true"
                                :value="[areaAmountFrom, areaAmountTo]"
                                :min="0"
                                :max="areaAmountTo"
                                :tooltip=false
                                :process-style='{"background-color": "#80b600"}'
                                :bg-style='{"background-color": "#fff"}'
                                @drag-end="filteredArchitectureCount">
                        </vue-range-slider>

                        <div class="b-grid b-grid-space-between u-text-color--green">

                            <p>

                                {{ translate('messages.label_from') }}

                                <span class="u-text-color--white from-label">{{ areaRange[0] }}</span>

                                {{ choice('messages.label_ares', 0) }}<sup>2</sup>

                                <input type="text" class="amount-from hidden" name="area_min" :value="areaRange[0]"/>

                            </p>

                            <p>

                                {{ translate('messages.label_to') }}

                                <span class="u-text-color--white to-label">{{ areaRange[1] }}</span>

                                {{ choice('messages.label_ares', 0) }}<sup>2</sup>

                                <input type="text" name="area_max" class="amount-to hidden" :value="areaRange[1]"/>

                            </p>

                        </div>

                    </div>

                </div>

            </div>

            <div class="b-grid b-grid-space-between b-grid-center b-tab-content__results">

                <p>

                    <span>{{ translate('messages.label_search_result') }} | {{ getFilteredArchitectureCount }}</span>

                </p>

                <p>

                    <a role="button" href="#" class="btn-reset" @click.prevent="resetForm()">{{ translate('messages.label_reset') }}</a>

                    <button type="button" class="btn b-btn b-btn--color-green b-btn--wide b-btn--size-sm" @click.prevent="filterArchitecture()">

                        {{ translate('messages.label_show') }}

                    </button>

                </p>

            </div>

        </form>

    </div>

</template>

<script>

    import _ from 'lodash'
    import * as Cookies from 'js-cookie'

    export default{

        name: 'architectureFilter',

        props: ['priceFrom', 'priceTo', 'areaFrom', 'areaTo'],

        data() {

            return {
                selected: null,

                isTabActive: false,

                buildingTypes: [{value: null, text: this.translate('messages.label_chose')}],

                buildingTypeId: 0,

                architectureCount: 0,

                floorCountFrom: '',

                floorCountTo: '',

                roomsCountFrom: '',

                roomsCountTo: '',

                priceRange: [parseInt(this.priceFrom), parseInt(this.priceTo)],

                areaRange: [parseInt(this.areaFrom), parseInt(this.areaTo)],

                priceAmountFrom: parseInt(this.priceFrom),

                priceAmountTo: parseInt(this.priceTo),

                areaAmountFrom: parseInt(this.areaFrom),

                areaAmountTo: parseInt(this.areaTo)
            }

        },

        watch: {
            selected: function() {
                this.filteredArchitectureCount();
            }
        },

        mounted() {

            this.initData();


        },

        computed: {

            getBuildingTypes: function() {

                return this.buildingTypes;
            },

            getPriceFrom: function() {

                return this.priceAmountFrom;
            },
            getPriceTo: function() {

                return this.priceAmountTo;
            },
            getAreaFrom: function() {

                return this.areaAmountFrom;
            },
            getAreaTo: function() {

                return this.areaAmountTo;
            },

            getFilteredArchitectureCount: function() {

                return this.architectureCount;
            }

        },

        methods: {

            initData: function(){
                let self = this;

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    self.$nextTick(function() {
                        self.loadBuildingTypes();
                        self.filteredArchitectureCount();
                        self.$refs.priceRangeslider.refresh();
                        self.$refs.areaRangeslider.refresh();
                        self.isTabActive = true;
                    });
                })
            },

            loadBuildingTypes: function() {

                var self = this;

                var options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                this.$http.get("/getBuildingTypes", options).then(

                    function(response) {

                        $.each(response.data.buildingTypes, function(index, obj) {
                            self.buildingTypes.push({
                                value: obj.id,
                                text: obj.name
                            });
                        });
                    }
                );

            },

            filterArchitecture: function() {

                let self = this;

                let formParams = $('#architectureFiltersForm').serializeArray();

                self.$store.dispatch('mArchitectureFilter/setFormParams', formParams);

                window.location.href = Lang.getLocale() + "/architecture";
            },

            resetForm: function() {

                let self = this;

                $('#architectureFiltersForm')[0].reset();

                self.buildingTypeId  = 0;
                self.floorCountFrom  = '';
                self.floorCountTo    = '';
                self.roomsCountFrom  = '';
                self.roomsCountTo    = '';
                self.priceAmountFrom = parseInt(self.priceFrom);
                self.priceAmountTo   = parseInt(self.priceTo);
                self.areaAmountFrom  = parseInt(self.areaFrom);
                self.areaAmountTo    = parseInt(self.areaTo);
                self.priceRange      = [0, parseInt(this.priceTo)];
                self.areaRange       = [0, parseInt(this.areaTo)];

                self.$store.dispatch('mArchitectureFilter/setFormParams', '');

                if (Cookies.get('vuex')) {

                    Cookies.remove('vuex');
                }

                self.filteredArchitectureCount();

            },

            filteredArchitectureCount: _.debounce(function(){

                var self = this;

                var options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formParams = $('#architectureFiltersForm').serializeArray();
                let formData = new FormData();

                self.$store.dispatch('mArchitectureFilter/setFormParams', formParams);

                $.each(formParams, function(index, obj) {
                    if (obj.value) {
                        formData.append(obj.name, obj.value);
                    }
                });

                this.$http.post("/" + Lang.getLocale() + "/getArchitectureList", formData, options).then(

                    function(response) {

                        self.architectureCount = response.data.architectureCount;
                    }
                )
            }, 0),

            translate: function(key) {

                return Lang.get(key);
            },

            choice: function(key, count) {

                return Lang.choice(key, count);
            }

        }

    }

</script>