<template>

    <div>

        <div class="b-section-cards__nav">

            <!-- <a class="b-section-cards__nav-title" :href="getTitleLink">
                {{ componentTitle }} | <span class="u-text-color--green-darken">{{ architectureCount }}</span>
            </a> -->
            <a :href="getTitleLink" class="b-section-heading__title">
                <i class="b-section-heading__home-icon"><img src="/img/filters/blueprint.png" alt=""></i>
                <span class="b-section-heading__title-self">{{ componentTitle }}</span> <span class="b-text-label">{{ architectureCount }}</span>
            </a>
            <div class="b-section-cards__nav-item">
                <b-form-select v-model="sort" class="mb-3 b-select" @input="setHistoryState">
                    <option value="">{{ translate('pagination.sort') }}</option>
                    <option value="full_low_price.asc">{{ translate('messages.label_price') }} A-Z</option>
                    <option value="full_low_price.desc">{{ translate('messages.label_price') }} Z-A</option>
                </b-form-select>
            </div>
            <!-- <div class="b-section-cards__nav-item">
                <b-form-select v-model="limit" class="mb-3 b-select" @input="setHistoryState">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </b-form-select>
            </div> -->
        </div>

        <div class="b-list-objects__wrapper">

            <div class="b-list-objects__item b-list-objects__item--arhitecture" v-for="(architecture, key) in getArchitecture" :key="key">

                <a :href="getShowArchitecturePath(architecture)" class="b-list-objects__link">
                    <div class="swiper-container b-list-objects__slider">
                        <div class="swiper-wrapper">
                            <div v-for="image in architecture.images" :key="image.id" class="swiper-slide">
                                <img :src="'/' + image.path + /thumbnails/+ image.name" alt="image" class="b-list-objects-img">
                            </div>
                        </div>
                        <div class="swiper-pagination" :class="'swiper-pagination-' + key"></div>

                        <div class="b-list-objects-btn b-list-objects-btn-prev" :class="'slider-btn-prev-' + key">
                            <i aria-hidden="true" class="btn-icon fa fa-angle-left"></i>
                        </div>
                        <div class="b-list-objects-btn b-list-objects-btn-next" :class="'slider-btn-next-' + key">
                            <i aria-hidden="true" class="btn-icon fa fa-angle-right"></i>
                        </div>
                        <div class="btn-favorite" :class="getClassForFavorite('architecture', architecture)" @click="toggleWishList(architecture.id, $event)" >
                            <i class="btn-favorite-i fa fa-bookmark icon icon-on" aria-hidden="true"></i>
                            <i class="btn-favorite-i fa fa-bookmark-o icon icon-off" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="b-list-objects__content">
                        <p class="b-list-objects__country">{{ architecture.title }}</p>
                        <ul class="b-list-objects__params">
                            <li class="item">{{ formatPrice(architecture.general_area) }} m<sup>2</sup></li>
                            <li class="item"><i aria-hidden="true" class="fa fa-bed item-icon"></i>{{ formatPrice(architecture.rooms_number) }}</li>
                            <li class="item"><i aria-hidden="true" class="fa fa-bath item-icon"></i>{{ architecture.bathrooms_number }}</li>
                        </ul>
                        <p class="b-list-objects__time">{{ translate('pages.construction_period') }} <span>{{ formatPrice(architecture.general_area) }} {{ translate('pages.days') }}</span></p>
                        <ul class="b-list-objects__prices">
                            <li>
                                <span class="b-list-objects__prices-value">13 779 €</span>
                                <span class="b-list-objects__prices-title">{{ translate('messages.label_first_payment') }}</span>
                            </li>
                            <li class="line"></li>
                            <li class="b-list-objects__prices-all"><small>{{ translate('messages.label_from_lower') }}</small> {{ formatPrice(architecture.full_low_price) }} €</li>
                        </ul>
                    </div>
                </a>

                <!-- <div class="b-card b-grid">

                    <div class="b-grid-item b-grid-item--45">

                        <a :href="getShowArchitecturePath(architecture)" class="b-card-img">

                            <div class="embed-responsive embed-responsive-height">

                                <div class="embed-responsive-item embed-bg-img" :style="getArchitectureImage(architecture)"></div>

                            </div>

                        </a>

                    </div>

                    <div class="b-grid-item">

                        <div class="b-card-desc">

                            <a :href="getShowArchitecturePath(architecture)" class="b-card-desc__title">{{ architecture.title }}

                                <span class="u-text-color--gray-light">{{ formatPrice(architecture.general_area) }} m<sup>2</sup></span>

                            </a>

                            <ul class="b-card-desc__list">


                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_general_area') }}</span>

                                    <span>{{ formatPrice(architecture.general_area) }} m<sup>2</sup></span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_living_area') }}</span>

                                    <span>{{ formatPrice(architecture.living_area) }} m<sup>2</sup></span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_floors_number') }}</span>

                                    <span>{{ architecture.floors_number }}</span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_rooms_number') }}</span>

                                    <span>{{ formatPrice(architecture.rooms_number) }}</span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_bathrooms_number') }}</span>

                                    <span>{{ architecture.bathrooms_number }}</span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_building_size') }}</span>

                                    <span>{{ architecture.width+' x '+architecture.length }} m</span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_construction_from') }}</span>

                                    <span class="u-text-color--green-darken"><strong>{{ formatPrice(architecture.full_low_price) }} €</strong></span>

                                </li>

                            </ul>

                            <div class="text-right">

                                <a class="btn-favorite" :class="getClassForFavorite('architecture', architecture)" @click="toggleWishList(architecture.id, $event)">

                                    {{ translate('messages.label_favorite') }}

                                    <i class="fa fa-heart icon icon-on" aria-hidden="true"></i>

                                    <i class="fa fa-heart-o icon icon-off" aria-hidden="true"></i>

                                </a>

                                <a :href="getShowArchitecturePath(architecture)" class="btn b-btn b-btn--size-wide b-btn--color-green">

                                    {{ translate('messages.label_details') }}

                                </a>

                            </div>

                        </div>

                    </div>

                </div> -->

            </div>

        </div>

        <div class="b-pagination-wrapper">
            <b-pagination
                class="b-pagination"
                v-model="currentPage"
                :total-rows="architectureCount"
                :per-page="limit"
                :limit="6"
                :prev-text="'< - Prev'"
                :next-text="'Next - >'"
                @input="setHistoryState">
            </b-pagination>
        </div>

        <!-- <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="row">
                    <div class="col-xs-6">
                        <b-form-select v-model="sort" class="mb-3 b-select" @input="setHistoryState">
                            <option value="">{{ translate('pagination.sort') }}</option>
                            <option value="full_low_price.asc">{{ translate('messages.label_price') }} A-Z</option>
                            <option value="full_low_price.desc">{{ translate('messages.label_price') }} Z-A</option>
                        </b-form-select>
                    </div>
                    <div class="col-xs-6">
                        <b-form-select v-model="limit" class="mb-3 b-select" @input="setHistoryState">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </b-form-select>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="b-pagination-wrapper">
                    <b-pagination
                        class="b-pagination"
                        v-model="currentPage"
                        :total-rows="architectureCount"
                        :per-page="limit"
                        :limit="6"
                        @input="setHistoryState">
                    </b-pagination>
                </div>
            </div>
        </div> -->
        <!--<infinite-loading @infinite="onInfinite" ref="infiniteLoading">-->

            <!--<span slot="spinner">-->

                <!--<div v-for="(item, key) in [1,2,3,4,5,6,7,8]" :key="key" class="b-object-card">-->

                <!--<div class="land_card_placeholder_container image-placeholder">-->

                    <!--<img src="/img/common/architecture_card_placeholder.png" alt="" class="img-responsive">-->

                <!--</div>-->

            <!--</div>-->

            <!--</span>-->

            <!--<span slot="no-more"></span>-->

        <!--</infinite-loading>-->

    </div>

</template>

<script>
    import InfiniteLoading from 'vue-infinite-loading'
    const queryString = require('query-string');
    export default {

        name: "architectureList",

        props: {
            related_to: {
                type: String,
                default: "0"
            },
            sortProp: {
                type: String,
                default: ''
            },
            limitProp: {
                type: Number,
                default: 10
            },
            offset: {
                type: Number,
                default: 0
            },
            page: {
                type: Number,
                default: 0
            },
            title: {
                type: String,
                default: ''
            }
        },

        data() {
            return  {
                architecture: [],
                currentPage: parseInt(this.page),
                limit: parseInt(this.limitProp),
                sort: this.sortProp,
                offsetData: parseInt(this.offset),
                architectureCount: 0,
                componentTitle: (this.title)?this.title:this.translate('messages.menu_projects_f')
            }
        },

        mounted() {
            this.getPaginationElements();
        },

        computed:{

            getArchitecture: function() {
                return this.$store.state.mArchitectureFilter.architecture;
            },

            getTitleLink: function() {
                let link;

                if (!this.related_to) {
                    link = '/architecture'
                } else {
                    link = '/related_architecture/'+this.related_to;
                }

                return link;
            }

        },

        methods: {

            // filterFormSubmited: function(){
            //     let self = this;
            //
            //     self.$store.dispatch('mArchitectureFilter/resetArchitecture');
            //     self.offsetData = 0;
            //
            //     self.$nextTick(function() {
            //         this.getPaginationElements();
            //     });
            // },

            // onInfinite: function($event) {
            //
            //     var self = this;
            //
            //     var options = {
            //
            //         headers: {
            //             'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            //         }
            //     };
            //
            //     let formParams = $('#architectureFiltersForm').serializeArray();
            //     let formData = new FormData();
            //         formData.append('related_to', self.related_to);
            //         formData.append('offsetData', self.offsetData);
            //         formData.append('limit', self.limit);
            //
            //     $.each(formParams, function(index, obj) {
            //         if (obj.value) {
            //             formData.append(obj.name, obj.value);
            //         }
            //     });
            //
            //     this.$http.post("/" + Lang.getLocale() + "/getArchitectureList", formData, options).then(
            //
            //         function(response) {
            //             //setTimeout(function(){
            //
            //                 if (self.$parent.$refs.architecturefilter) {
            //
            //                     self.$parent.$refs.architecturefilter.architectureCount = response.data.architectureCount;
            //                 }
            //                 self.architectureCount = response.data.architectureCount;
            //
            //                 if (response.data.architecture.length) {
            //
            //                     self.$store.dispatch('mArchitectureFilter/pushArchitecture', response.data.architecture);
            //
            //                     self.offsetData = self.$store.state.mArchitectureFilter.architecture.length;
            //
            //                     $event.loaded();
            //
            //                 } else {
            //
            //                     $event.complete();
            //
            //                 }
            //             //}, 500);
            //         }
            //     );
            //
            // },

            getPaginationElements: function() {
                var self = this;
                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formParams = $('#architectureFiltersForm').serializeArray();
                let formData = new FormData();
                    formData.append('related_to', self.related_to);
                    formData.append('sortby', self.sort);
                    formData.append('offsetData', (self.currentPage - 1) * (self.limit - 1));
                    formData.append('limit', self.limit);

                $.each(formParams, function(index, obj) {
                    if (obj.value) {
                        formData.append(obj.name, obj.value);
                    }
                });

                this.$http.post("/" + Lang.getLocale() + "/getArchitectureList", formData, options).then(
                    function(response) {
                        if (self.$parent.$refs.architecturefilter) {
                            self.$parent.$refs.architecturefilter.architectureCount = response.data.architectureCount;
                        }

                        self.architectureCount = response.data.architectureCount;

                        if (response.data.architecture.length) {
                            self.$store.dispatch('mArchitectureFilter/putArchitecture', response.data.architecture);
                            self.offsetData = self.$store.state.mArchitectureFilter.architecture.length;
                        }
                    }
                );

            },

            getArchitectureImage: function(architecture) {

                let imageName = (architecture.images.length)?architecture.images[0].name:'';

                let style = 'background-image: url(';
                    style += '/img/uploads/architecture/thumbnails/' + imageName;
                    style += ')';

                return style;

            },

            getShowArchitecturePath: function (architecture) {

                return '/architecture/' + architecture.id;
            },

            formatPrice(value) {

                let val = (value/1).toFixed(0).replace(',', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            },

            getClassForFavorite: function(type, item) {

                let classes = type + '-' + item.id;

                if (item.is_favorite) {

                    classes += ' active';
                }

                return classes;
            },

            translate: function(key) {

                return Lang.get(key);
            },

            toggleWishList: function(element_id, event) {
                var self = this;
                var clickedElement = $(event.currentTarget);

                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formData = new FormData();
                formData.append('product_type', 'Architecture');
                formData.append('product_id', element_id);

                if ($(clickedElement).hasClass('active')) {

                    $(clickedElement).removeClass('active');
                    // let classes = $(clickedElement).attr('class');

                    // $('a[class="' + classes + '"]').each(function(index, value) {
                    //     $(value).removeClass('active');
                    // });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) - 1);

                    this.$http.delete("/" + Lang.getLocale() + "/wishlist/" + element_id + '|' + 'Architecture', formData, options).then(
                            function(response){

                            }
                    )
                } else {
                    $(clickedElement).addClass('active');
                    // let classes = $(clickedElement).attr('class');

                    // $('a[class="' + classes + '"]').each(function(index, value) {
                    //     $(value).addClass('active');
                    // });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) + 1);

                    this.$http.post("/" + Lang.getLocale() + "/wishlist", formData, options).then(
                            function(response){

                            }
                    )
                }

                $("#wl-success-alert").addClass('active');

                setTimeout(function() {
                    $("#wl-success-alert").removeClass('active');
                }, 1000);
            },

            setHistoryState: function() {
                let self = this;
                let stringifiedParametrs;
                let domain = location.origin+location.pathname;
                let parsed = queryString.parse(location.search);

                if (self.sortProp !== self.sort) {
                    parsed.sortby = self.sort;
                } else if (parsed.sortby !== undefined) {
                    delete parsed.sortby;
                }

                if (parseInt(self.limitProp) !== parseInt(self.limit)) {
                    parsed.limit = parseInt(self.limit);
                } else if (parsed.limit !== undefined) {
                    delete parsed.limit;
                }

                if (parseInt(self.page) !== parseInt((self.currentPage))) {
                    parsed.page = self.currentPage;
                }

                stringifiedParametrs = queryString.stringify(parsed);
                if (stringifiedParametrs.length) {
                    history.pushState('','',domain+'?'+stringifiedParametrs);
                } else {
                    history.pushState('','',domain);
                }

                self.getPaginationElements();
            },
            initPropagation: function() {
                $('.b-list-objects__link').on('click', function(event) {
                    if($(event.target).hasClass('btn-favorite-i')) {
                        event.preventDefault();
                    }
                });
            },
        },
        updated: function () {
            this.$nextTick(function () {
                this.initPropagation();
            })
        },
        components: {
            InfiniteLoading,
        },
    }
</script>

<style>
    .image-placeholder {
        overflow: hidden;
        position: relative;
    }

    @-webkit-keyframes blick {
        0%   {left: -60%;}
        100% {left: 120%;}
    }

    /* Standard syntax */
    @keyframes blick {
        0%   {left: -60%;}
        100% {left: 120%;}
    }

    .image-placeholder:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: -60%;
        opacity: 0.6;
        background: -moz-linear-gradient(left, rgba(255,252,249,0.32) 0%, rgba(255,252,249,0.67) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,252,249,0.32) 0%,rgba(255,252,249,0.67) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,252,249,0.32) 0%,rgba(255,252,249,0.67) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52fffcf9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        transition: all 0.75s cubic-bezier(0.63, 0.24, 0.98, 0.81);
        animation: blick 1.65s infinite;
    }
</style>