<template>

    <div class="b-search-form">

        <form id="architectureFiltersForm" action="" method="post" @submit.prevent="filterArchitecture()">

            <div class="form-group b-form-group">

                <label>{{ translate('messages.label_house_type') }}</label>

                <b-form-select v-model="selected" @change.native="filterArchitecture" name="building_type" :options="getBuildingTypes" class="form-control b-form-control b-form-control__norounded"></b-form-select>

            </div>

            <label class="b-form-group__label">

                {{ translate('messages.label_floors') }}

            </label>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <b-form-input v-model="floorCountFrom"
                            type="text"
                            name="floors_min"
                            class="form-control b-form-control"
                            :placeholder="translate('messages.label_from')"
                            @input="filterArchitecture">
                        </b-form-input>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <b-form-input v-model="floorCountTo"
                            type="text"
                            name="floors_max"
                            class="form-control b-form-control"
                            :placeholder="translate('messages.label_to')"
                            @input="filterArchitecture">
                        </b-form-input>
                    </div>
                </div>
            </div>

            <label class="b-form-group__label">

                {{ translate('messages.label_bedrooms') }}

            </label>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <b-form-input v-model="roomsCountFrom"
                            type="text"
                            name="rooms_min"
                            class="form-control b-form-control"
                            :placeholder="translate('messages.label_from')"
                            @input="filterArchitecture">
                        </b-form-input>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <b-form-input v-model="roomsCountTo"
                            type="text"
                            name="rooms_min"
                            class="form-control b-form-control"
                            :placeholder="translate('messages.label_to')"
                            @input="filterArchitecture">
                        </b-form-input>
                    </div>
                </div>
            </div>

            <div class="form-group b-form-group">
                <div class="form-group b-form-group">
                    <label class="b-form-group__label">
                        {{ translate('messages.label_price') }} / <span class="u-text-color--gray">&euro;</span>
                    </label>
                    <vue-range-slider
                            ref="priceRangeslider"
                            v-model="priceRange"
                            :value="[priceAmountFrom, priceAmountTo]"
                            :min=0
                            :max=getMaxPrice
                            :tooltip=false
                            :process-style='{"background-color": "#80b600"}'
                            @drag-end="filterArchitecture">
                    </vue-range-slider>

                    <div class="b-grid b-grid-wrap u-text-color--green b-grid-filter">
                        <div class="b-grid-item">
                            {{ translate('messages.label_from') }}
                            <!--<span class="u-text-color&#45;&#45;gray from-label">{{ priceRange[0] }}</span>-->
                            <div class="filter-input-wrapper">
                                <input data-label="price_min" type="text" name="price_min" class="filter-input amount-from" :value="priceRange[0]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'priceRangeslider')"/>
                            </div>
                            &euro;
                        </div>
                        <div class="b-grid-item">
                            {{ translate('messages.label_to') }}
                            <!--<span class="u-text-color&#45;&#45;gray to-label">{{ priceRange[1] }}</span>-->
                            <div class="filter-input-wrapper">
                                <input data-label="price_max" type="text" name="price_max" class="filter-input amount-to" :value="priceRange[1]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'priceRangeslider')"/>
                            </div>
                            &euro;
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group b-form-group">
                <div class="form-group b-form-group">
                    <label class="b-form-group__label">
                        {{ translate('messages.label_area') }} / <span class="u-text-color--green">{{ choice('messages.label_ares', 0) }}<sup>2</sup></span>
                    </label>
                    <vue-range-slider
                            ref="areaRangeslider"
                            v-model="areaRange"
                            :value="[areaAmountFrom, areaAmountTo]"
                            :min=0
                            :max=getMaxArea
                            :tooltip=false
                            :process-style='{"background-color": "#80b600"}'
                            @drag-end="filterArchitecture">
                    </vue-range-slider>
                    <div class="b-grid b-grid-wrap u-text-color--green b-grid-filter">
                        <div class="b-grid-item">
                            {{ translate('messages.label_from') }}
                            <!--<span class="u-text-color&#45;&#45;gray from-label">{{ areaRange[0] }}</span>-->
                            <!--{{ choice('messages.label_ares', 0) }}<sup>2</sup>-->
                            <div class="filter-input-wrapper">
                                <input data-label="area_min" type="text" class="filter-input amount-from" name="area_min" :value="areaRange[0]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'areaRangeslider')"/>
                            </div>
                        </div>
                        <div class="b-grid-item">
                            {{ translate('messages.label_to') }}
                            <!-- <span class="u-text-color--gray to-label">{{ areaRange[1] }}</span> -->
                            <!-- {{ choice('messages.label_ares', 0) }}<sup>2</sup> -->
                            <div class="filter-input-wrapper">
                                <input data-label="area_max" type="text" name="area_max" class="filter-input amount-to" :value="areaRange[1]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'areaRangeslider')"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-grid b-grid-space-between b-grid-center b-tab-content__results">
                <p>
                    <a role="button" href="#" class="btn-reset u-text-color--gray" @click.prevent="resetForm()">{{ translate('messages.label_reset') }}</a>
                </p>
            </div>

        </form>

    </div>

</template>

<script>
    import _ from 'lodash'
    // import * as Cookies from 'js-cookie'
    const queryString = require('query-string');
    export default{

        name: 'architectureFilter',

        props: ['buildingType', 'floorsFrom', 'floorsTo','roomsFrom', 'roomsTo','priceFrom', 'priceTo', 'priceMax', 'priceMin', 'areaFrom', 'areaTo', 'areaMax', 'areaMin'],

        data() {

            return {
                selected: null,

                buildingTypes: [{value: null, text: this.translate('messages.label_chose')}],

                buildingTypeId: parseInt(this.buildingType),

                architectureCount: 0,

                floorCountFrom: this.floorsFrom,

                floorCountTo: this.floorsTo,

                roomsCountFrom: this.roomsFrom,

                roomsCountTo: this.roomsTo,

                priceRange: [parseInt(this.priceFrom), parseInt(this.priceTo)],

                areaRange: [parseInt(this.areaFrom), parseInt(this.areaTo)],

                priceAmountFrom: parseInt(this.priceMin),

                priceAmountTo: parseInt(this.priceMax),

                areaAmountFrom: parseInt(this.areaMin),

                areaAmountTo: parseInt(this.areaMax)

            }

        },

        mounted() {
            this.loadBuildingTypes();
        },

        computed: {

            getBuildingTypes: function() {

                return this.buildingTypes;
            },

            getMaxPrice: function() {
                return parseInt(this.priceMax);
            },

            getMaxArea: function() {
                return parseInt(this.areaMax);
            }

        },

        methods: {

            loadBuildingTypes: function() {
                var self = this;
                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                };

                this.$http.get("/getBuildingTypes", options).then(
                    function(response) {
                        $.each(response.data.buildingTypes, function(index, obj) {
                            self.buildingTypes.push({
                                value: obj.id,
                                text: obj.name
                            });
                        });

                        self.selected = (self.buildingTypeId > 0)?self.buildingTypeId:null;
                    }
                );

            },

            refreshRange: function(event, refComponent) {
                let self = this;
                let element = $(event.target);
                let label = $(element).data('label');
//                let numericNewValue = $(event.target).text().replace(/\D/g, '');
                let numericNewValue = $(event.target).val().replace(/\D/g, '');
                let rangeComponent = self.$refs[refComponent];
                let oldRangeArray = rangeComponent.getValue();
                let newRangeArray;

                switch(label) {
                    case 'price_min':
                        if( numericNewValue >= oldRangeArray[1]) {
                            numericNewValue = oldRangeArray[1] - 1;
                        }
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        break;
                    case 'area_min':
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        // set cleared value to label
                        break;
                    case 'price_max':
                    case 'area_max':
                        newRangeArray = [oldRangeArray[0], parseInt(numericNewValue)];
                        break;
                }

                self.$nextTick(function() {
                    // set new range
                    rangeComponent.setValue(newRangeArray, true);
                    // filter lands
                    self.filterArchitecture();
                });
            },
            // checkCookie: function() {
            //     let self = this;
            //     let cookiesObj;
            //     let params = '';
            //
            //     if (Cookies.get('vuex')) {
            //
            //         cookiesObj = $.parseJSON(Cookies.get('vuex'));
            //
            //         if (cookiesObj.mArchitectureFilter && cookiesObj.mArchitectureFilter.form_params) {
            //
            //             params = cookiesObj.mArchitectureFilter.form_params;
            //             params.forEach(function(item){
            //                 switch(item.name) {
            //                     case 'building_type':
            //                         self.selected = (item.value)?item.value:null;
            //                         break;
            //                     case 'floors_min':
            //                         self.floorCountFrom = item.value;
            //                         break;
            //                     case 'floors_max':
            //                         self.floorCountTo = item.value;
            //                         break;
            //                     case 'rooms_min':
            //                         self.roomsCountFrom = item.value;
            //                         break;
            //                     case 'rooms_max':
            //                         self.roomsCountTo = item.value;
            //                         break;
            //                     case 'price_min':
            //                         self.priceAmountFrom = parseInt(item.value);
            //                         self.priceRange[0]   = parseInt(item.value);
            //                         break;
            //                     case 'price_max':
            //                         self.priceAmountTo = parseInt(item.value);
            //                         self.priceRange[1] = parseInt(item.value);
            //                         break;
            //                     case 'area_min':
            //                         self.areaAmountFrom = parseInt(item.value);
            //                         self.areaRange[0]   = parseInt(item.value);
            //                         break;
            //                     case 'area_max':
            //                         self.areaAmountTo = parseInt(item.value);
            //                         self.areaRange[1] = parseInt(item.value);
            //                         break;
            //                 }
            //             });
            //         }
            //     }
            //
            //     return params;
            // },

            filterArchitecture: _.debounce(function() {
                this.prepareUrlString();
            },0),

            resetForm: function() {

                let self = this;

                $('#architectureFiltersForm')[0].reset();

                self.buildingTypeId  = 0;
                self.floorCountFrom  = 0;
                self.floorCountTo    = 0;
                self.roomsCountFrom  = 0;
                self.roomsCountTo    = 0;

                self.priceRange = [self.priceAmountFrom, parseInt(this.priceTo)];
                self.areaRange = [self.areaAmountFrom, parseInt(this.areaTo)];

                self.$store.dispatch('mArchitectureFilter/setFormParams', '');

                // if (Cookies.get('vuex')) {
                //
                //     Cookies.remove('vuex');
                // }
                self.prepareUrlString(null);
                //self.filterArchitecture();

            },


            translate: function(key) {

                return Lang.get(key);
            },

            choice: function(key, count) {

                return Lang.choice(key, count);
            },

            prepareUrlString(queryParameters = location.search) {
                let self = this;

                let stringifiedParametrs;
                let domain = location.origin+location.pathname;
                let parsed = queryString.parse(queryParameters);

                if (parseInt(self.buildingType) !== parseInt(self.selected)) {
                    parsed.building_type = !isNaN(parseInt(self.selected))?parseInt(self.selected):'';
                } else if (parsed.building_type !== undefined) {
                    delete parsed.building_type;
                }

                if (parseInt(self.floorCountFrom) !== parseInt(self.floorsFrom)) {
                    parsed.floors_min = self.floorCountFrom;
                } else if (parsed.floors_min !== undefined) {
                    delete parsed.floors_min;
                }

                if (parseInt(self.floorCountTo) !== parseInt(self.floorsTo)) {
                    parsed.floors_max = self.floorCountTo;
                } else if (parsed.floors_max !== undefined) {
                    delete parsed.floors_max;
                }

                if (parseInt(self.roomsCountFrom) !== parseInt(self.roomsFrom)) {
                    parsed.rooms_min = self.roomsCountFrom;
                } else if (parsed.rooms_min !== undefined) {
                    delete parsed.rooms_min;
                }

                if (parseInt(self.roomsCountTo) !== parseInt(self.roomsTo)) {
                    parsed.rooms_max = self.roomsCountTo;
                } else if (parsed.rooms_max !== undefined) {
                    delete parsed.rooms_max;
                }

                if (parseInt(self.priceRange[0]) !== parseInt(self.priceFrom)) {
                    parsed.price_min = self.priceRange[0];
                } else if (parsed.price_min !== undefined) {
                    delete parsed.price_min;
                }

                if (parseInt(self.priceRange[1]) !== parseInt(self.priceTo)) {
                    parsed.price_max = self.priceRange[1];
                } else if (parsed.price_max !== undefined) {
                    delete parsed.price_max;
                }


                if (parseInt(self.areaRange[0]) !== parseInt(self.areaFrom)) {
                    parsed.area_min = self.areaRange[0];
                } else if (parsed.area_min !== undefined) {
                    delete parsed.area_min;
                }

                if (parseInt(self.areaRange[1]) !== parseInt(self.areaTo)) {
                    parsed.area_max = self.areaRange[1];
                } else if (parsed.area_max !== undefined) {
                    delete parsed.area_max;
                }

                stringifiedParametrs = queryString.stringify(parsed);
                if (stringifiedParametrs.length) {
                    history.pushState('','',domain+'?'+stringifiedParametrs);
                } else {
                    history.pushState('','',domain);
                }

                self.$parent.$refs.architecturelist.getPaginationElements();
            }

        }

    }

</script>