<template>
    <div
        ref="googlemapland"
        :id="id"
        :class="classname"
        :land-id="landId"
        :show-type="showType">
    </div>
</template>
<script>
    import _ from 'lodash'
    import './../../../../../node_modules/js-marker-clusterer/src/markerclusterer';
    export default {
        name: 'google-map',
        props: {
            classname: {
                type: String,
                default: 'google-map'
            },
            id: {
                type: String,
                default: 'google-map-id',
                required: true
            },
            initWaitTime: {
                type: Number,
                default: 0
            },
            modalId:{
                type: String,
                default: null
            },
            landId:{
                type: String,
                default: null
            },
            mapZoom: {
                type: Number,
                default: 12
            },
            centerCoords: {
                type: [Number, Array],
                default: null
            },
            showType: {
                type: String,
                default: 'all'
            },
            enableGeolocation: {
                type: Boolean,
                default: false
            },
            countries: {
                type: Object,
                default: null
            },
            countryIsoCode: {
                type: String,
                default: null
            },
        },

        data: function () {
            return {

                map: '',

                minLat: 0,

                maxLat: 0,

                minLng: 0,

                maxLng: 0,

                elementId: this.landId,

                zoom: this.mapZoom,

                elementCoords: this.centerCoords,

                landMarkers: [],

                buildingMarkers: [],

                response: '',

                currentCountry: this.countryIsoCode
            }
        },

        watch: {
            currentCountry: function() {
                this.setActualCoords();
            }
        },

        mounted: function () {
           this.initMap();
        },

        methods: {
            setActualCoords: function() {
                this.elementCoords = [
                    this.countries[this.currentCountry.toUpperCase()]['latitude'],
                    this.countries[this.currentCountry.toUpperCase()]['longitude']
                ];
                this.zoom = this.countries[this.currentCountry.toUpperCase()]['map_zoom'];
                this.initMap();
            },

            setCurrentCountry: function(countryIso2Code) {
                this.currentCountry = countryIso2Code;
            },

            initMap: function() {
                let self = this;
                const element = document.getElementById(this.id);
                const options = {
                    styles: [
                        {
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                            ]
                        },
                        {
                            "elementType": "geometry.fill",
                            "stylers": [
                            {
                                "color": "#e7e7e7"
                            },
                            {
                                "weight": 1
                            }
                            ]
                        },
                        {
                            "elementType": "geometry.stroke",
                            "stylers": [
                            {
                                "saturation": 10
                            }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                            {
                                "visibility": "off"
                            }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                            {
                                "color": "#f5f5f5"
                            }
                            ]
                        },
                        {
                            "featureType": "administrative.land_parcel",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#bdbdbd"
                            }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#757575"
                            }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#ffffff"
                            }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#757575"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#dadada"
                            }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#616161"
                            }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                            ]
                        },
                        {
                            "featureType": "transit.line",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#e5e5e5"
                            }
                            ]
                        },
                        {
                            "featureType": "transit.station",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#eeeeee"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                            {
                                "color": "#c9c9c9"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "geometry.fill",
                            "stylers": [
                            {
                                "color": "#c2dcfc"
                            }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "labels.text.fill",
                            "stylers": [
                            {
                                "color": "#9e9e9e"
                            }
                            ]
                        }
                    ]
                };

                if (self.zoom) {
                    options.zoom = self.zoom;
                }

                if (self.elementCoords) {
                    options.center = new google.maps.LatLng( self.elementCoords[0],  self.elementCoords[1]);
                }

                self.map = new google.maps.Map(element, options);
                if (!self.modalId) {
                    self.mapResize();
                } else {
                    self.modalMapResize();
                }

                // set map center use user's geolocation
                if (self.enableGeolocation) {
                    self.geolocate();
                }
            },

            getMapActiveArea: _.debounce(
                function(){
                    let self = this;
                    let bounds = self.map.getBounds();
                    let maxCoords = bounds.getNorthEast();
                    let minCoords = bounds.getSouthWest();

                    self.minLat = minCoords.lat();
                    self.maxLat = maxCoords.lat();

                    self.minLng = minCoords.lng();
                    self.maxLng = maxCoords.lng();

                    self.getMarkers();

                }, 500
            ),

            getMarkers: function() {
                let self = this;

                self.clearMarkers();

                switch(self.showType){
                    case 'points':
                        //self.setMarkers();
                        self.setLandMarkers();
                        break;
                    case 'offices':
                        self.setOfficeMarker();
                        break;
                    case 'buildings':
                        self.setBuildingMarkers();
                        break;
                    default:
                        self.setLandMarkers();
                        self.setOfficeMarker();
                        self.setBuildingMarkers();
                        break;
                }

            },

            detachMarkers: function(){

                this.landMarkers.forEach(function(item){
                    item.setMap(null);
                });

                this.buildingMarkers.forEach(function(item){
                    item.setMap(null);
                })
            },

            clearMarkers: function() {
                let self = this;

                self.detachMarkers();
                self.landMarkers = [];
                self.buildingMarkers = [];

            },

            setMarkers: function() {

                let self = this;
                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formParams = $('#landFiltersForm').serializeArray();
                let formData = new FormData();
                    formData.append('related_to', 0);
                    formData.append('limit', 1000);
                    formData.append('offsetData', self.$parent.refs.landlist.offsetData);
                    formData.append('min_lat', self.minLat);
                    formData.append('max_lat', self.maxLat);
                    formData.append('min_lng', self.minLng);
                    formData.append('max_lng', self.maxLng);

                    $.each(formParams, function(index, obj) {
                        if (obj.value) {
                            if (obj.name === 'requested_country') {
                                obj.value = obj.value.replace(/[, .]+/g, " ")
                            }
                            formData.append(obj.name, obj.value);
                        }
                    });


                if (self.elementId) {
                    formData.append('land_id', self.elementId);
                }

                self.$http.post("/" + Lang.getLocale() + "/getLandList", formData, options).then(

                        function(response) {

                            if (response.data.lands.length) {

                                self.response = response.data.lands;
                            }

                        }

                ).then(
                    function() {
                        if (self.response.length) {

                            self.response.forEach(function(item){

                                let pinIcon = '/img/common/pin-land.png';

                                if (item.buildings.length) {

                                    pinIcon = '/img/common/pin-house.png';
                                }

                                let marker = new google.maps.Marker({
                                    position: {
                                        lat: parseFloat(item.lat),
                                        lng: parseFloat(item.lng)
                                    },
                                    icon: pinIcon,
                                    map: self.map,
                                    marker_id: parseInt(item.id)
                                });

                                if (item.buildings.length) {

                                    self.buildingMarkers.push(marker);

                                } else {

                                    self.landMarkers.push(marker);
                                }

                                self.markerAttachClickEvent(marker, item);

                            });

                            self.initMarkerCluster();
                        }

                    }
                );

            },

            setLandMarkers: function() {
                let self = this;
                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formParams = $('#landFiltersForm').serializeArray();
                let formData = new FormData();
                    formData.append('related_to', 0);
                    formData.append('limit', 1000);
                    formData.append('offsetData', 0);
                    // formData.append('min_lat', self.minLat);
                    // formData.append('max_lat', self.maxLat);
                    // formData.append('min_lng', self.minLng);
                    // formData.append('max_lng', self.maxLng);

                $.each(formParams, function(index, obj) {
                    if (obj.value) {
                        if (obj.name === 'requested_country') {
                            obj.value = obj.value.replace(/[, .]+/g, " ")
                        }
                        formData.append(obj.name, obj.value);
                    }
                });

                if (self.elementId) {
                    formData.append('land_id', self.elementId);
                }

                self.$http.post("/" + Lang.getLocale() + "/getLandList", formData, options).then(
                    function(response) {
                        if (response.data.lands.length) {
                            self.response = response.data.lands;
                        }
                    }
                ).then(
                    function() {
                        if (self.response.length) {
                            self.response.forEach(function(item){
                                let pinIcon = '/img/common/pin-land.png';
                                let marker = new google.maps.Marker({
                                    position: {
                                        lat: parseFloat(item.lat),
                                        lng: parseFloat(item.lng)
                                    },
                                    icon: pinIcon,
                                    map: self.map,
                                    marker_id: parseInt(item.id)
                                });

                                self.landMarkers.push(marker);
                                self.markerAttachClickEvent(marker, item);
                            });
                            self.initMarkerCluster();
                        }

                    }
                );
            },

            setBuildingMarkers: function() {
                let self = this;
                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formParams = $('#landFiltersForm').serializeArray();
                let formData = new FormData();
                formData.append('related_to', 0);
                formData.append('limit', 1000);
                // formData.append('offsetData', self.$parent.$refs.landlist.offsetData);
                // formData.append('min_lat', self.minLat);
                // formData.append('max_lat', self.maxLat);
                // formData.append('min_lng', self.minLng);
                // formData.append('max_lng', self.maxLng);

                $.each(formParams, function(index, obj) {
                    if (obj.value) {
                        if (obj.name === 'requested_country') {
                            obj.value = obj.value.replace(/[, .]+/g, " ")
                        }
                        formData.append(obj.name, obj.value);
                    }
                });


                if (self.elementId) {
                    formData.append('land_id', self.elementId);
                }
                self.response = self.$store.state.mLandFilter.lands;
                self.$http.post("/" + Lang.getLocale() + "/getLandList", formData, options).then(
                    function(response) {
                        if (response.data.lands.length) {
                            self.response = response.data.lands;
                        }
                    }
                ).then(
                    function() {
                        self.response.forEach(function(item){
                            if (item.buildings.length) {
                                let pinIcon = '/img/common/pin-house.png';
                                let marker = new google.maps.Marker({
                                    position: {
                                        lat: parseFloat(item.lat),
                                        lng: parseFloat(item.lng)
                                    },
                                    icon: pinIcon,
                                    map: self.map,
                                    marker_id: parseInt(item.id)
                                });

                                self.buildingMarkers.push(marker);

                                self.markerAttachClickEvent(marker, item);
                            }
                        });

                        self.initMarkerCluster();
                    }
                );

            },

            setOfficeMarker:function() {
                let self = this;
                let marker = new google.maps.Marker({
                    position: {
                        lat: parseFloat(47.023450277090824),
                        lng: parseFloat(28.84917474295048)
                    },
                    icon: '/img/common/pin-office.png',
                    map: self.map
                });
            },

            markerAttachClickEvent: function(marker, object){
                let self = this;

                marker.addListener('click', function () {
                    self.$parent.$refs.googlemarkerplacepopup.initCardData(object);
                    $('.b-object-modal-card').removeClass('hidden');
                });

            },

            initMarkerCluster: function() {
                let self = this;

                new MarkerClusterer(self.map, self.landMarkers, {
                    zoom: 10,
                    styles: [{
                        textColor: 'white',
                        url: '/img/common/kr50g.png',
                        height: 50,
                        width: 50,
                        textSize: 16
                    }]
                });

                new MarkerClusterer(self.map, self.buildingMarkers, {
                    zoom: 10,
                    styles: [{
                        textColor: 'white',
                        url: '/img/common/kr50o.png',
                        height: 50,
                        width: 50,
                        textSize: 16
                    }]
                });
            },

            mapResize: function() {
                let self = this;

                setTimeout(function(){
                    google.maps.event.trigger(self.map, "resize");
                    self.map.setCenter(new google.maps.LatLng(self.elementCoords[0],  self.elementCoords[1]));
                    self.map.addListener('bounds_changed', self.getMapActiveArea);

                }, self.initWaitTime);

             },

            modalMapResize: function(){
                let self = this;

                $('#'+self.modalId).on("shown.bs.modal", function(e) {
                    self.mapResize();
                });

            },

            setSinglePoint: function(point) {
                let self = this;
                this.elementId = point.id;
                this.elementCoords = {0: point.lat, 1: point.lng};
            },

            geolocate() {

                let self = this;

                if (navigator.geolocation) {

                    navigator.geolocation.getCurrentPosition(function (position) {

                        initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

                        self.map.setCenter(initialLocation);

                    });
                }
            }
        }
    }
</script>