<template>

    <div
            ref="googlemarkerplacepopup"
            :id="id"
            :class="classname"
            :element="element">

        <div class="b-object-modal-card hidden">

            <div class="b-object-modal-card__img-wrapper">
                <img :src="getElementImage" class="img-responsive" :alt="getElementName">

            </div>

            <div class="b-object-modal-card__content" v-show="elementIsObject">

                <p class="b-object-modal-card__title">
                    {{ getElementTitle }}
                </p>

                <ul class="b-stat-list">
                    <li class="b-stat-list__item">
                        <div class="b-stat-list__label">
                            {{ translate("messages.label_article") }}
                        </div>
                        <div class="b-stat-list__line"></div>
                        <div class="b-stat-list__value">
                            {{ element.article }}
                        </div>
                    </li>
                    <li class="b-stat-list__item">
                        <div class="b-stat-list__label">
                            {{ translate("messages.label_land_area") }}
                        </div>
                        <div class="b-stat-list__line"></div>
                        <div class="b-stat-list__value">
                            {{ getElementArea }} {{ transChoice('messages.label_ares', 5) }}<sup>2</sup>
                        </div>
                    </li>
                    <li class="b-stat-list__item">
                        <div class="b-stat-list__label">
                            {{ translate("messages.label_measure")}}
                        </div>
                        <div class="b-stat-list__line"></div>
                        <div class="b-stat-list__value">
                            {{ getElementRectangleWidth }} x {{ getElementRectangleLength }} m
                        </div>
                    </li>
                    <li class="b-stat-list__item">
                        <div class="b-stat-list__label">
                            {{ translate("messages.label_status") }}
                        </div>
                        <div class="b-stat-list__line"></div>
                        <div class="b-stat-list__value">
                            {{ getSaleStatus }}
                        </div>
                    </li>
                    <li class="b-stat-list__item">
                        <div class="b-stat-list__label">
                            {{ translate("messages.label_first_payment") }}
                        </div>
                        <div class="b-stat-list__line"></div>
                        <div class="b-stat-list__value u-text-color--green">
                            {{ getElementFirstPaymentAmount }}
                        </div>
                    </li>
                    <li class="b-stat-list__item">
                        <div class="b-stat-list__label">
                            {{ translate("messages.label_full_price") }}
                        </div>
                        <div class="b-stat-list__line"></div>
                        <div class="b-stat-list__value u-text-color--green-darken">
                            {{ getElementFullPrice }}
                        </div>
                    </li>
                </ul>


                <div class="text-right">
                    <a :href="getLink" role="button" class="btn b-btn b-btn--color-green">
                        {{ translate("messages.label_view") }}
                    </a>

                    <button @click="closeCard" type="button" class="btn b-btn b-btn--color-gray">
                        <i class="fa fa-close close-x"></i>
                    </button>
                </div>
                <!-- <a href="#" role="button" class="btn b-btn b-btn&#45;&#45;color-gray-light card_info_close_button" style="margin-left:10px">{{ translate("messages.label_close") }}</a>-->

            </div>

        </div>


    </div>

</template>

<script>
    export default {
        name: 'googleMarkerPlacePopup',

        props: {
            classname: {
                type: String,
                default: 'google-marker-popup'
            },
            id: {
                type: String,
                default: 'google-marker-popup-id'
            }
        },

        data: function () {
            return {
                element: {
                    type: Object,
                    default: null
                }
            }
        },

        mounted: function () {



        },
        computed: {
            elementIsObject: function() {

                return (this.element.id)?true:false;
            },

            getElementImage: function() {

               console.log(this.element.images);

                let photo = (this.element.images !== undefined)?'/'+this.element.images[0]['path']+'thumbnails/'+this.element.images[0]['name']:"/img/common/placeholder.jpg";

                return (photo)?photo:'#';
            },

            getElementName: function() {

                return '';
            },

            getElementTitle: function() {

                return this.element.address;
            },

            getElementFirstPaymentAmount: function() {

                return parseInt(this.element.first_payment, 10).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + '€';;
            },

            getElementFullPrice: function() {

                return parseInt(this.element.price, 10).toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ") + '€';
            },

            getElementRectangleWidth: function() {

                return this.element.rectangle_width;
            },

            getElementRectangleLength: function() {

                return this.element.rectangle_length;

            },

            getStatusColor: function() {

                let status_color  = 'u-text-color--green-light';

                if (this.element.sale_status_id == 2) {
                    status_color = 'u-color--red';
                } else if (this.element.sale_status_id == 3) {
                    status_color = 'u-color--orange';
                }
                return status_color;
            },

            getElementArea: function(){

                return this.element.area;

            },

            getSaleStatus: function() {

                return (this.element.sale_status)?this.element.sale_status.name:null;
            },

            getLink: function() {
                let link = '/land/' + this.element.id;

                return link;
            }
        },
        methods: {

            initCardData: function(object){

                this.element = object;

            },

            translate: function(key) {

                return Lang.get(key);
            },

            transChoice: function(key, count) {

                return Lang.choice(key, count);
            },

            closeCard()
            {
                $('.b-object-modal-card').addClass('hidden');
            }

        }
    }
</script>