<template>

    <div>

        <!--new cards lands-->
        <div class="l-inner-section" v-show="showLands">
            <div class="container">
                <div class="l-inner-section__header-inner">
                    <div class="l-inner-section__header-title">
                        <div class="b-section-heading b-section-heading__home">
                            <a href="/lands" class="b-section-heading__title">{{ translate('messages.menu_lands_f') }} |<span class="b-text-label">{{ getCountLands }}</span></a>
                        </div>
                    </div>
                </div>
                <div class="b-cards-home">
                    <div class="row">
                        <div v-for="(land, key) in getLands">
                            <div class="col-md-6">
                                <div class="b-cards-home__item">
                                    <div class="embed-responsive embed-responsive-5by3">
                                        <div class="embed-responsive-item embed-bg-img" :style="getImageBackground(land, 'lands')"></div>
                                    </div>
                                    <div class="b-cards-home__main">
                                        <div class="b-cards-home__heading">
                                            <div class="b-cards-home__title">
                                                {{ land.address }}
                                            </div>
                                            <div class="b-cards-home__area">{{ translate("messages.label_area") }} {{ formatEntire(land.area) }} {{ transChoice('messages.label_ares', formatEntire(land.area)) }}<sup>2</sup></div>
                                        </div>
                                        <div class="b-cards-home__price">{{ translate("messages.label_price") }} {{ formatEntire(land.price) }} &euro;</div>
                                    </div>
                                    <div class="b-cards-home__overlay">
                                        <p class="b-cards-home__overlay-title">{{ land.address }}</p>
                                        <ul class="b-card-desc__list">
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate("messages.label_article") }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ land.article }}</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate("messages.label_area") }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ formatEntire(land.area) }} {{ transChoice('messages.label_ares', formatEntire(land.area)) }}<sup>2</sup></span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate("messages.label_purpose_type") }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ getComputedTranslate(land.purpose) }}</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate("messages.label_from_city") }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ formatEntire(land.from_city) }} {{ translate("messages.label_km") }}</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate("messages.label_are_price") }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>4 400 €</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate("messages.label_land_price") }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span><strong>{{ land.per_are }} €</strong></span>
                                            </li>
                                        </ul>
                                        <div class="b-grid b-grid-space-between b-grid-flex-end">
                                            <div class="b-cards-home__map land-map" @click="showOnMap(land)">
                                                <img src="/img/pages/card-map.png" alt="" class="img-responsive">
                                            </div>
                                            <div>
                                                <a class="btn-favorite" :class="getClassForFavorite('land', land)" @click="toggleWishList(land.id, $event, 'Land')">
                                                    {{ translate('messages.label_favorite') }}
                                                    <i aria-hidden="true" class="fa fa-heart icon icon-on"></i>
                                                    <i aria-hidden="true" class="fa fa-heart-o icon icon-off"></i>
                                                </a>
                                                <a :href="getLinkOnItem('land', land.id)" class="btn b-btn b-btn--wide b-btn--color-green">{{ translate("messages.label_details") }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="/lands" class="btn b-btn b-btn--color-green">Загрузить еще | {{ getCountLands }}</a>
                </div>
            </div>
        </div>

        <!--new cards architecture-->
        <div class="l-inner-section" v-show="showArchitecture">
            <div class="container">
                <div class="l-inner-section__header-inner">
                    <div class="l-inner-section__header-title">
                        <div class="b-section-heading b-section-heading__home">
                            <a href="/architecture" class="b-section-heading__title">{{ translate('messages.menu_projects_f') }} |<span class="b-text-label">{{ getCountArchitecture }}</span></a>
                        </div>
                    </div>
                </div>
                <div class="b-cards-home">
                    <div class="row">
                        <div v-for="(architecture, key) in getArchitecture">
                            <div class="col-md-6">
                                <div class="b-cards-home__item">
                                    <div class="embed-responsive embed-responsive-5by3">
                                        <div class="embed-responsive-item embed-bg-img" :style="getImageBackground(architecture, 'architecture')"></div>
                                    </div>
                                    <div class="b-cards-home__main">
                                        <div class="b-cards-home__heading">
                                            <div class="b-cards-home__title">
                                                {{ architecture.title }}
                                            </div>
                                            <div class="b-cards-home__area">{{ translate("messages.label_area") }} {{ formatEntire(architecture.general_area) }} m<sup>2</sup></div>
                                        </div>
                                        <div class="b-cards-home__price">{{ translate("messages.label_price") }} {{ formatEntire(architecture.full_low_price) }} &euro;</div>
                                    </div>
                                    <div class="b-cards-home__overlay">
                                        <p class="b-cards-home__overlay-title">{{ architecture.title }}</p>
                                        <ul class="b-card-desc__list">
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate("messages.label_article") }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ architecture.article }}</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_general_area') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ formatEntire(architecture.general_area) }} m<sup>2</sup></span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_living_area') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ formatEntire(architecture.living_area) }} m<sup>2</sup></span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_floors_capacity') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ architecture.floors_number }}</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_rooms_number') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ formatEntire(architecture.rooms_number) }}</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_building_size') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ architecture.width+' x '+architecture.length }} m</span>
                                            </li>
                                        </ul>
                                        <div class="b-grid b-grid-space-between b-grid-flex-end">
                                            <!--<div class="b-cards-home__map land-map" @click="showOnMap(land)">-->
                                                <!--<img src="/img/pages/card-map.png" alt="" class="img-responsive">-->
                                            <!--</div>-->
                                            <div>
                                                <a class="btn-favorite" :class="getClassForFavorite('architecture', architecture)" @click="toggleWishList(architecture.id, $event, 'Architecture')">
                                                    {{ translate('messages.label_favorite') }}
                                                    <i aria-hidden="true" class="fa fa-heart icon icon-on"></i>
                                                    <i aria-hidden="true" class="fa fa-heart-o icon icon-off"></i>
                                                </a>
                                                <a :href="getLinkOnItem('architecture', architecture.id)" class="btn b-btn b-btn--wide b-btn--color-green">{{ translate("messages.label_details") }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="/lands" class="btn b-btn b-btn--color-green">Загрузить еще | {{ getCountArchitecture }}</a>
                </div>
            </div>
        </div>

        <!--new cards building-->
        <div class="l-inner-section" v-show="showBuildings">
            <div class="container">
                <div class="l-inner-section__header-inner">
                    <div class="l-inner-section__header-title">
                        <div class="b-section-heading b-section-heading__home">
                            <a href="/buildings" class="b-section-heading__title">{{ translate('messages.menu_buildings_f') }} |<span class="b-text-label">{{ getCountBuildings }}</span></a>
                        </div>
                    </div>
                </div>
                <div class="b-cards-home">
                    <div class="row">
                        <div v-for="(building, key) in getBuildings">
                            <div class="col-md-6">
                                <div class="b-cards-home__item">
                                    <div class="embed-responsive embed-responsive-5by3">
                                        <div class="embed-responsive-item embed-bg-img" :style="getImageBackground(building, 'building')"></div>
                                    </div>
                                    <div class="b-cards-home__main">
                                        <div class="b-cards-home__heading">
                                            <div class="b-cards-home__title">
                                                {{ building.title }} <small>{{ formatEntire(building.general_area) }} m<sup>2</sup></small>
                                            </div>
                                            <div class="b-cards-home__area">{{ translate("messages.label_area") }} {{ formatEntire(building.general_area) }} m<sup>2</sup></div>
                                        </div>
                                        <div class="b-cards-home__price">{{ translate("messages.label_price") }} {{ formatEntire(building.building_price) }} &euro;</div>
                                    </div>
                                    <div class="b-cards-home__overlay">
                                        <p class="b-cards-home__overlay-title">{{ building.title }}</p>
                                        <ul class="b-card-desc__list">
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate("messages.label_article") }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ building.article }}</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_readiness') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ building.ready_percentage }} %</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_general_area') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ formatEntire(building.general_area) }} m<sup>2</sup></span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_living_area') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ formatEntire(building.living_area) }} m<sup>2</sup></span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_building_size') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ building.width+' x '+building.length }} m</span>
                                            </li>
                                            <li class="b-grid b-grid-space-between">
                                                <span class="b-card-desc__list-key">{{ translate('messages.label_cost') }}</span>
                                                <span class="b-card-desc__list-border"></span>
                                                <span>{{ formatEntire(building.building_price) }} €</span>
                                            </li>
                                        </ul>
                                        <div class="b-grid b-grid-space-between b-grid-flex-end">
                                            <div class="b-cards-home__map land-map" @click="showOnMap(building.lands[0])">
                                                <img src="/img/pages/card-map.png" alt="" class="img-responsive">
                                            </div>
                                            <div>
                                                <a class="btn-favorite" :class="getClassForFavorite('building', building)" @click="toggleWishList(building.id, $event, 'Building')">
                                                    {{ translate('messages.label_favorite') }}
                                                    <i aria-hidden="true" class="fa fa-heart icon icon-on"></i>
                                                    <i aria-hidden="true" class="fa fa-heart-o icon icon-off"></i>
                                                </a>
                                                <a :href="getLinkOnItem('building', building.id)" class="btn b-btn b-btn--wide b-btn--color-green">{{ translate("messages.label_details") }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="/lands" class="btn b-btn b-btn--color-green">Загрузить еще | {{ getCountBuildings }}</a>
                </div>
            </div>
        </div>

        <div ref="popovertemplate" class="hidden">

            <h4 class="mb-1">
                Скопируйте ссылку
            </h4>

            <p class="mb-2">
                Ссылка на данный продукт
            </p>

            <div class="input-group">

                <input type="text" class="form-control" :value="getshortProductUrlState" aria-label="" readonly="">

                <div class="input-group-button">

                    <button class="" data-copied-hint="Готово" type="button">

                        <i class="fa fa-clone icon" aria-hidden="true"></i>

                    </button>

                </div>

            </div>

            <div class="input-group">

                <button class="btn b-btn b-btn--wide b-btn--color-green" @click="popoverHide">Закрыть</button>

            </div>

        </div>

    </div>

</template>

<script>

    export default {

        name: "homePage",

        props: [],

        data() {
            return  {

                lands: [],

                architecture: [],

                buildings: [],

                countLands: 0,

                countArchitectures: 0,

                countBuildings: 0,

                popover: '',

                shortProductUrl: '',

                showLands: true,

                showArchitecture: false,

                showBuildings: false
            }
        },

        created() {

            this.initLandList();

            this.initArchitectureList();

            this.initBuildingList();
        },

        computed:{

            getLands: function() {

                return this.lands;

            },

            getArchitecture: function() {

                return this.architecture;

            },

            getBuildings: function() {

                return this.buildings;

            },

            getCountLands: function() {

                return this.countLands;

            },

            getCountArchitecture: function() {

                return this.countArchitectures;

            },

            getCountBuildings: function() {

                return this.countBuildings;

            },

            getshortProductUrlState: function() {

                return this.shortProductUrl;
            }
        },

        methods: {
            toggleContent: function(type){
                let self = this;
                switch (type){
                    case 'land':
                        self.showLands = true;
                        self.showArchitecture = false;
                        self.showBuildings = false;
                        break;
                    case 'architecture':
                        self.showLands = false;
                        self.showArchitecture = true;
                        self.showBuildings = false;
                        break;
                    case 'building':
                        self.showLands = false;
                        self.showArchitecture = false;
                        self.showBuildings = true;
                        break;
                }
            },
            initSharePopover: function(landId, type, $event) {
                let self = this;

                self.getshortProductUrl(landId, type, $event);

            },

            popoverShow: function(element) {
                let self = this;
                let template = self.$refs.popovertemplate;

                self.popover =
                    $(element).popover({
                        html: true,
                        content: template
                    });

                $(self.popover).popover('show');
            },

            popoverHide: function() {
                $(this.popover).popover('destroy');
            },

            getshortProductUrl: function(landId, type, event) {
                var self   = this;
                let host   = document.location.origin;
                let locale = Lang.getLocale();
                let country = $('#userCountry').val();
                let originPath = host+'/'+ locale+'/'+type+'/'+landId+'?country='+country;
                let options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                self.$http.get("api/getShortUrl?longUrl="+originPath, options).then(
                    function(response){
                        if (response.data.short_url) {
                            self.shortProductUrl = response.data.short_url;
                        } else {
                            self.shortProductUrl = originPath;
                        }

                        self.popoverShow(event.target);
                    }
                );

            },

            initLandList: function() {

                var self = this;

                var options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                };

                let formData = new FormData();
                formData.append('related_to', "0");
                formData.append('limit', 4);

                this.$http.post("/" + Lang.getLocale() + "/getLandList", formData, options).then(

                    function(response) {

                        self.countLands = response.data.landCount;

                        $.each(response.data.lands, function(index, item){

                            self.lands.push(item);

                        });

                    }
                )
            },

            initArchitectureList: function() {

                var self = this;

                var options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                };

                let formData = new FormData();
                formData.append('related_to', "0");
                formData.append('limit', 4);

                this.$http.post("/" + Lang.getLocale() + "/getArchitectureList", formData, options).then(

                    function(response) {

                        self.countArchitectures = response.data.architectureCount;

                        $.each(response.data.architecture, function(index, item){

                            self.architecture.push(item);

                        });

                    }
                )
            },

            initBuildingList: function() {

                var self = this;

                var options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                };

                let formData = new FormData();
                formData.append('related_to', "0");
                formData.append('limit', 4);

                this.$http.post("/" + Lang.getLocale() + "/getBuildingList", formData, options).then(

                    function(response) {

                        $.each(response.data.buildings, function(index, item){

                            self.buildings.push(item);

                            self.countBuildings++;

                        });
                    }
                )
            },

            getLinkOnItems: function(model) {

                return '/' + Lang.getLocale() + '/' + model;
            },

            getLinkOnItem: function(model, id) {

                return '/' + Lang.getLocale() + '/' + model + '/' + id;
            },

            getImageBackground: function(model, type) {

                let imageName = (model.images[0] != undefined)?model.images[0].name:'';

                let style = 'background-image: url(';
                style += '/img/uploads/' + type + '/thumbnails/' + imageName;
                style += ')';

                return style;
            },

            formatEntire(value) {

                let val = (value/1).toFixed(0).replace(',', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            },

            translate: function(key) {

                return Lang.get(key);
            },

            transChoice: function(key, count) {

                return Lang.choice(key, count);
            },

            getComputedTranslate: function(item) {

                return this.translate('messages.' + item.slug)
            },

            showOnMap: function(element) {

                let self = this;

                self.$parent.$refs.modalMap.setSinglePoint(element);

                $('#modalLandMap').modal('show');
            },

            formatDate: function(value) {

                var options = { year: 'numeric', month: 'long'};
                var date  = new Date(value);

                return date.toLocaleDateString("ru-RU",options);
            },

            getClassForFavorite: function(type, item) {

                let classes = type + '-' + item.id;

                if (item.is_favorite) {

                    classes += ' active';
                }

                return classes;
            },

            toggleWishList: function(element_id, event, type) {
                var self = this;
                var clickedElement = $(event.currentTarget);

                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formData = new FormData();
                formData.append('product_type', type);
                formData.append('product_id', element_id);

                if ($(clickedElement).hasClass('active')) {

                    let classes = $(clickedElement).attr('class');

                    $('a[class="' + classes + '"]').each(function(index, value) {
                        $(value).removeClass('active');
                    });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) - 1);

                    self.$http.delete("/" + Lang.getLocale() + "/wishlist/" + element_id + '|' + type, formData, options).then(
                        function(response){

                        }
                    )
                } else {
                    let classes = $(clickedElement).attr('class');

                    $('a[class="' + classes + '"]').each(function(index, value) {
                        $(value).addClass('active');
                    });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) + 1);

                    self.$http.post("/" + Lang.getLocale() + "/wishlist", formData, options).then(
                        function(response){

                        }
                    )
                }

                $("#wl-success-alert").addClass('active');

                setTimeout(function() {
                    $("#wl-success-alert").removeClass('active');
                }, 1000);
            },

            getShareLink: function() {
                return "http: test.com";
            },

        }
    }
</script>

<style>
    .image-placeholder {
        overflow: hidden;
        position: relative;
    }

    @-webkit-keyframes blick {
        0%   {left: -60%;}
        100% {left: 120%;}
    }

    /* Standard syntax */
    @keyframes blick {
        0%   {left: -60%;}
        100% {left: 120%;}
    }

    .image-placeholder:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: -60%;
        opacity: 0.6;
        background: -moz-linear-gradient(left, rgba(255,252,249,0.32) 0%, rgba(255,252,249,0.67) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,252,249,0.32) 0%,rgba(255,252,249,0.67) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,252,249,0.32) 0%,rgba(255,252,249,0.67) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52fffcf9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        transition: all 0.75s cubic-bezier(0.63, 0.24, 0.98, 0.81);
        animation: blick 0.7s infinite;
    }

</style>