.b-footer
    padding 0
    &__nav
        padding 0
        padding-bottom 2rem
        list-style none
        font-size $font-size--sm
        color #fff
        &-wrapper
            background-color $color--gray-darken
            color #fff
            padding-top 3.5rem
        li
            margin-bottom 0.8rem
        &-link
            color inherit
            display inline-block
            &:hover,
            &:focus
                color $color--green
                text-decoration none
            span
                color $color--green
        &-title
            color #fff
            font-size $font-size--md
            padding-bottom 1.25rem
            margin-bottom 1.25rem
            text-transform uppercase
            font-weight 600
            position relative
            display inline-block
            &:before
                content ''
                position absolute
                bottom 0
                left 0
                height 4px
                width 70px
                display block
                background-color $color--green
    &-social
        padding 0
        margin 0
        list-style none
        font-size 20px
        li
            display inline-block
            vertical-align top
            margin 0 7px
        a
            color #fff
            display inline-block
            transition all 0.1s linear
            padding 5px
            &:hover,
            &:focus
                color $color--green
                text-decoration none
        .fb-like
            padding 2px 5px

.b-advantages
    margin-bottom 3rem
    padding 0
    list-style none
    padding-bottom 1.5rem
    &-wrapper
        color $color--gray-darken
        background-color #fff
        border-top 1px solid #f3f3f3
    &__img
        padding 0 0.7rem
        border-left 1px solid #fff
    &__content
        padding 0 1rem
    &-grid
        display flex
        flex-direction row
        align-items center
        justify-content space-between
        flex-wrap nowrap
        margin 0
        padding 0
        &__item
            flex 0 1 20%
            list-style none
            margin 0
            padding 0 1rem
            &:first-child
                border-left 0

.b-advantages-card
    display flex
    flex-direction row
    align-items center
    justify-content center
    flex-wrap nowrap
    color $color--gray-darken
    padding 2rem 0
    font-weight 600
    &__img
        display block
        height  auto
        max-height 3.5rem
    &__title
        padding-left 1rem
        flex 1 1 auto
        span
            display block
.b-copyright
    border-top 1px solid #4b4b54
    padding 1.5rem 0
    display flex
    justify-content space-between
    align-items center