.google-marker-popup
    fixed top 8rem left 1rem
    z-index 1050

.b-object-modal-card
    width 300px
    background-color #fff
    box-shadow 0 0 1rem 0 alpha($color--black, 0.5)
    padding 1rem
    border-radius 2px
    color $color--black
    &__img-wrapper
        margin-bottom 1rem
    &__title
        font-size $font-size--h6
        font-weight $font-weight--medium
        margin-bottom 0.5rem