.b-project-card
    position relative
    display block
    color $color--black
    text-decoration none
    border 1px solid $color--gray-light
    border-radius 2px
    &__img
        background-size cover
        background-position center center
        background-repeat no-repeat
    &__content
        padding 1rem
        background-color #fff
    &__title
        font-size $font-size--h6
        margin 0
        display block
        font-weight $font-weight--medium
    &__stats
        padding-top 1rem
    &:after
        transition(all, 0.2s, ease)
        content ''
        absolute top 0 left 0
        size 100% 100%
        z-index -1
        //box-shadow 0 0.2rem 0.5rem 0 alpha($color--black, 0.1)
        opacity 0
    &:hover
        &:after
            opacity 1

.l-card-stats-grid
    display flex
    flex-direction row
    align-items stretch
    justify-content space-between
    flex-wrap wrap
    list-style none
    margin 0
    padding 0
    &__item
        flex 0 0 25%
        border-left 1px solid $color--gray-light
        &:first-child
            border-left 0

.b-card-stat-block
    display flex
    flex-direction row
    align-items center
    justify-content center
    flex-wrap wrap
    color $color--green
    &__icon
        font-size 1rem
    &__label
        padding-left 0.5rem
        font-weight $font-weight--medium