.footable-loader {
    display: none;
}
.ibox-content.sk-loading {
    min-height: 500px;
}
.ibox-content.sk-loading > .table {
    display: none;
}
.chosen-container-single .chosen-single {
    padding: 6px 12px;
}

.radio label, .checkbox label {
    padding-left: 0;
}

.footer.auth {
    text-align: center;
    padding: 30px 20px;
    background-color: inherit;
}
#language_links {
    margin:0;
}
#language_links li {
    display: inline-block;
    list-style: none!important;
    margin-right: 15px;
}

img.circle-border {
    border: 4px solid #dddddd;
}

.nav-tabs > li.tab-start-work > a {
    color:white;
    opacity: 0.8;
}

.nav-tabs > li.tab-start-work > a:hover,
.nav-tabs > li.tab-start-work > a:focus
{
    background-color: #ED5565;
    color:white;
    opacity: 1;
}

.nav-tabs > li.tab-start-work.active > a {
    color: inherit;
    background-color: inherit;
    opacity: 1;
}

#tab-start-work .jumbotron p {
    font-size: 18px;
}

.progress-bar.danger {
    background-color: #ED5565;
}

.progress-bar.warning {
    background-color: #f8ac59;
}

.wizard > .content > .body {
    padding: 1% 2.5%;
    height: auto;
}

.wizard.profile > .steps > ul > li {
    width: 20%;
}

.profile > .i-checks {
    display: inline-block;
    padding-right: 30px;
}

.profile > .i-checks div {
    margin-right:10px;
}

.wizard > .content > .body label.error {
    display: inline;
    margin-left: 0;
}

.wizard > .content > .body input {
    border: 1px solid #e5e6e7;
}

.wizard-big.wizard > .content{
    min-height: 400px;
}

.nopadding {
    padding :0 !important;
    margin :0 !important;
}

.nopadding-left{
    padding-left: 0 !important;
    margin-left :0 !important;
}
.nopadding-right{
    padding-right: 0 !important;
    margin-right :0 !important;
}

#toast-container > .toast-success {
    background-image: none !important;
}

.toast-success {
    background-color: #1ab394;
}

#wizard_land_form .i-checks{
    padding-left:10px !important;
}

#wizard_land_form .radio, .checkbox {
    margin-top: 5px !important;
}

.image-upload {
    height: auto;
    width: 100%;
    position: relative;
}

.image-upload img {
    width: 100%;
    height: 230px;
}

.image-upload label {
    cursor: pointer;
}

.file_upload_buttons {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
}

.file_upload_buttons i {
    color: white;
    font-size: 26px;
    cursor: pointer;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 6px 10px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    background-color: #ed5565;
    z-index: 100;
}

.file_upload_buttons i:hover {
    background-color: #ff5868;
}

.wizard > .content > .body > .image-upload > input
{
    display: none;
}

.image-upload label {
    width: 100% !important;
}

.image_preview {
    width: 100%;
    height: 230px;
    background-image: url('../img/common/placeholder.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.inmodal .modal-icon {
    font-size: 64px;
}

.inmodal .modal-title {
    font-size: 24px;
}

#map-canvas {
    width: 100%;
    height: 360px;
    margin: 0;
    padding: 0;
}
.input-controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#searchInput {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
}
#searchInput:focus {
    border-color: #1ab394;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}


.footable tbody tr td{
    /*font-size: 1.15em;*/
    font-weight: 500;
}

.accent-label-green {
    font-size: 18px;
    color: #1ab394;
    float: left;
}

.accent-label-grey {
    font-size: 18px;
    float: left;
}

.footable tbody tr td span.label {
    font-size: 0.9em;
    padding: 3px 0 5px 0;
}

#landList thead tr th {
    /*font-size: 1.1em;*/
}

.img-land {
    width: 70px;
    height: 70px;
}

.fileuploader-theme-thumbnails .fileuploader-items-list .fileuploader-item-image img {
    max-width: 100% !important;
}

.wizard > .content > .body ul.fileuploader-items-list > li {
    display: inline-block;
}

/*.house_zone_input_list div.form-group {*/
    /*display: none;*/
/*}*/

.m-b-r {
    margin-bottom: 0;
}

/* Checkbox switcher */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ec4758;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #ea394c;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #18a689;
    border: 2px solid #16987e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #16987e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* End Checkbox switcher */

.land-status {
    float: left;
    width: 90px;
}

.btn-circle-dim {
    margin-right: 10px;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 20px !important;
    width: 30px;
    height: 30px;
    padding: 6px 0;
}

a.btn-info.btn-circle-dim, button.btn-info.btn-circle-dim {
    box-shadow: inset 0 0 0 #1eacae, 0 5px 0 0 #1eacae, 0 7px 5px #999;
}

a.btn-primary.btn-circle-dim, button.btn-primary.btn-circle-dim {
    box-shadow: inset 0 0 0 #16987e, 0 5px 0 0 #16987e, 0 7px 5px #999;
}

a.btn-danger.btn-circle-dim, button.btn-danger.btn-circle-dim {
    box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 7px 5px #999;
}

#landRegion[readonly] {
    background-color: #fff;
}
.table-cell {
    display: table-cell;
}
.padding-v-15 {
    padding: 15px 0;
}
.wizard > .steps > ul > li {
    width: 20%;
}
.content {
    overflow: visible !important;
}
.social-login-btn {
    text-align: center;
    margin-bottom: 10px;
}
.logo-name-login {
    color: #e6e6e6;
    font-size: 68px;
    font-weight: 800;
    letter-spacing: -4px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.logo-login-page {
    width: 300px;
    height: 265px;
    overflow: hidden;
    margin-bottom: 20px;
}

.logo-login-page img {
    width: 300px;
    height: 300px;
}
.edit_user > .steps > ul > li {
    width: 25%;
}
.has-permission {
    color: #16987E;
}
#wizard_land_form .fileuploader-theme-thumbnails .fileuploader-thumbnails-input,
#wizard_land_form .fileuploader-theme-thumbnails .fileuploader-items-list li.fileuploader-item {
    height: 267px !important;
}
#wizard_land_form .fileuploader .fileuploader-item-image,
#wizard_architecture_form .fileuploader .fileuploader-item-image,
#wizard_building_form .fileuploader .fileuploader-item-image,
.architecture-gallery .fileuploader-item-image,
.architecture-floor .fileuploader-item-image {
    display: flex;
    justify-content: center;
}
#wizard_land_form .fileuploader .fileuploader-item img,
#wizard_architecture_form .fileuploader .fileuploader-item img,
#wizard_building_form .fileuploader .fileuploader-item img,
.architecture-gallery .fileuploader-item img,
.architecture-floor .fileuploader .fileuploader-item img {
    margin: auto 0;
    min-height: 0 !important;
}

#complementland_form .fileuploader-theme-thumbnails .fileuploader-items-list {
    width: 85% !important;
    margin: 0 auto;
}
#complementland_form .fileuploader-theme-thumbnails .fileuploader-thumbnails-input,
#complementland_form .fileuploader-theme-thumbnails .fileuploader-items-list li.fileuploader-item {
    height: 320px !important;
}
#complementland_form .image-upload img {
    height: 320px !important;
}

#wizard_architecture_form .fileuploader-theme-thumbnails .fileuploader-thumbnails-input,
#wizard_architecture_form .fileuploader-theme-thumbnails .fileuploader-items-list li.fileuploader-item,
#wizard_building_form .fileuploader-theme-thumbnails .fileuploader-thumbnails-input,
#wizard_building_form .fileuploader-theme-thumbnails .fileuploader-items-list li.fileuploader-item {
    height: 229px !important;
}
#wizard_architecture_form-p-2 {
    max-height: 730px;
    overflow: hidden;
}
.architecture-gallery .fileuploader-item {
    height: 171px !important;
}
.architecture-floor .fileuploader-item {
    height: 424px !important;
}
.b-btn--rounded-light {
    border-radius: 3px;
}
.b-btn--color-green {
    background-color: #1ab394;
    color: #fff;
    border-color: #1ab394;
}
.b-btn--color-green:hover {
    color: #fff;
    background-color: #16987E;
    border-color: #16987E;
    box-shadow: none;
}
.b-btn--color-green:focus,
.b-btn--color-green:active {
    color: #fff;
}
.b-btn--color-green.b-btn--outline {
    background-color: transparent;
    border-color: #1ab394;
    color: #1ab394;
    box-shadow: none;
}
.b-btn--color-green.b-btn--outline:hover {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
}
.b-btn--color-green-light {
    background-color: #16987E;
    color: #fff;
    border-color: #16987E;
}
.b-btn--color-green-light:hover {
    color: #fff;
    background-color: #16987E;
    border-color: #16987E;
    box-shadow: none;
}
.b-btn--color-green-light:focus,
.b-btn--color-green-light:active {
    color: #fff;
}
.b-btn--color-green-light.b-btn--outline {
    background-color: transparent;
    border-color: #16987E;
    color: #16987E;
    box-shadow: none;
}
.b-btn--color-green-light.b-btn--outline:hover {
    background-color: #16987E;
    border-color: #16987E;
    color: #fff;
}
.breadcrumb > .active {
    font-weight: bold;
}