.b-btn
	transition(all, 0.2s, ease)
	padding 0.5em 1em
	border 1px solid transparent
	position relative
	line-height $line-height--inputs
	border-radius $input-border-radius
	background-color $color--gray-lighter
	font-weight $font-weight--medium
	m_btn_size($font-size--sm)
	&--size
		&-xsm
			m_btn_size(0.625rem)
		&-sm
			m_btn_size(0.75rem)
		&-lg
			m_btn_size(1rem)
		&-xlg
			m_btn_size(1.25rem)
		&-main
			m_btn_size(1.4rem)
		&-def
			font-size $font-size--sm
			padding 0.3rem 1.75rem
			font-weight normal
			border-radius 2px
	&--color
		&-red
			m_btn_color($color--red, #fff, $color--red)
		&-green
			m_btn_color($color--green, #fff, $color--green)
		&-blue
			m_btn_color($color--blue, #fff, $color--blue)
		&-gray
			m_btn_color($color--gray-lighter, $color--black, $color--gray-lighter)
		&-yellow
			m_btn_color($color--yellow, $color--black, $color--yellow)
		&-white
			m_btn_color(transparent, #fff, #fff)
	&--transparent
		background-color transparent
		border-color transparent
		&.b-btn--color-green-light
			&:hover
			&:focus
			&:active
				color $color--green-light
	&:focus
	&.focus
	&:active
	&.active
		outline none
		box-shadow none
	&:focus
		&:active
			outline none