.b-object-carousel
	&__slide
		padding 0.4rem
		cursor pointer
		&:focus
			outline none
		&:hover
			opacity 0.8
		&-img
			display block
	&__inner
		position relative
		padding-bottom 2rem
	.slick-dots
		absolute bottom 0rem left 50%
		transform translateX(-50%)
		display block
		list-style none
		margin 0
		padding 0
		li
			display inline-block
			margin 0 0.5rem
			size auto auto
			button
				transition(all, 0.2s, ease)
				display block
				size 0.5rem 0.5rem
				border-radius 50%
				padding 0
				background-color $color--gray-light
				color transparent
				&:before
					content ''
					display none
				&:focus
				&:active
					outline none
				&:hover
					background-color $color--yellow
			&.slick-active
				button
					background-color $color--yellow
			&:last-child
				margin-right 0
	.slick-arrow
		transition(all, 0.2s, ease)
		position absolute
		top 50%
		transform translateY(-50%)
		margin 0
		padding 0.25rem
		border none
		background-color transparent
		font-size $font-size--md
		line-height 1
		color #fff
		z-index 10
		&.slick-prev
			left 1rem
		&.slick-next
			right 1rem
		&:hover
			outline none
			color $color--green
		&:focus
		&:active
			outline none

.b-slick
	&-vertical
		text-align center
		.b-slick-btn
			border 0
			background-color transparent
			font-size $font-size--md
			&:hover,
			&:focus
				outline none
				color $color--green
		.slick-slide
			border 0
			margin 0
			margin-bottom 1rem
	&__title
		 color $color--green-darken

.b-swiper-lands
	margin-bottom 2rem
	&-btn
		position absolute
		top 50%
		width 55px
		height 100%
		z-index 10
		cursor pointer
		opacity 1
		transition all 0.2s linear
		&-prev
			top 0
			left 0
			background linear-gradient(to left, transparent 0%, rgba(0,0,0,0.25) 100%) !important
			.btn-icon
				left 10px
				right auto
		&-next
			top 0
			right 0
			background linear-gradient(to right, transparent 0%, rgba(0,0,0,0.25) 100%) !important
			.btn-icon
				right 10px
				left auto
		.btn-icon
			display inline-block
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			font-size 3.5rem
			color #fff
			text-align center
	&-pagination
		position absolute
		z-index 999
		text-align center
	&-bullet
		width 10px
		height 10px
		border 1px solid #fff
		border-radius 50%
		display inline-block
		margin 0 5px
		background-color transparent
		&.active
			background-color #fff