.b-form-control
	border-radius $input-border-radius
	box-shadow none
	padding 0.5em 1em
	font-size $font-size--sm
	border 1px solid $color--gray-lighter
	line-height $line-height--inputs
	height auto
	&--size
		&-xsm
			font-size 0.625rem
		&-sm
			font-size 0.75rem
		&-lg
			font-size 1rem
		&-xlg
			font-size 1.25rem
	textarea&
		height auto
	&:focus
	&:active
		box-shadow none
		outline none
		border-color $color--black
	&__norounded
		border-radius 0

.b-form-group
	margin-bottom 1rem
	&__label
		margin-bottom 0.5rem
		font-weight $font-weight--medium
	&__help-text
		display block
		margin 0
		margin-top 0.25rem
	&.has-error
		//.b-form-group__label,
		.b-form-group__help-text
		.control-label
			color $color--red
			font-weight $font-weight--medium
		.b-form-control
			border-color $color--red
			box-shadow none

.b-input-group
	margin-bottom 1rem
	&__addon
		border-color $color--gray-lighter
		border-radius $input-border-radius
		padding 4px 12px

.b-price-slider
	background-color #fff
	height 2px
	border-radius 2px
	margin-bottom 1rem
	&.ui-widget.ui-widget-content
		border none
	.ui-widget-header
		background-color $color--yellow
	.ui-slider-handle
		transition(background, 0.2s, ease)
		top -0.4rem
		size 1rem 1rem
		border none
		background-color #fff
		border-radius 50%
		box-shadow 0 3px 7px 0 rgba(0, 0, 0, 0.35)
		cursor pointer
		&:focus,
		&:active
			outline none
	&-green
		background-color $color--gray-light
		.ui-widget-header
			background-color $color--green-light
		.ui-slider-handle
			background-color $color--green
		

.b-price-filter
	padding-top 0.4rem
	&__inputs
		margin-bottom 2.9rem
	&__values
		padding-top 1rem
		display flex
		flex-direction row
		align-items center
		justify-content space-between
		flex-wrap nowrap

.btn-reset
	text-decoration underline
	color #fff
	margin 0 1rem
	&:hover
		color $color--yellow
.b-filter
	transform translateY(-100%)
	&-wrapper
		display flex
		flex-direction row
		align-items center
		margin-bottom 1rem
	&-input
		background-color transparent
		border 1px solid transparent
		display inline-block
		color #fff
		margin-left 5px
		width 100%
		max-width 60px
		&:hover,
		&:focus
			outline none
			border 1px solid rgba($color--yellow, 0.2)

.b-select
	margin 10px 0
	width auto
	display inline-block
	vertical-align top
	border none
	box-shadow none
	padding-right 10px
	&:hover,
	&:focus
		// border 1px solid $color--green
		outline none
		// box-shadow 0 0 9px 0 rgba($color--green, 0.6)
		box-shadow none

.b-grid-filter
	justify-content space-between
	flex-wrap wrap
.filter-input
	border 0
	color $color--gray
	min-width 30px
	transition 0.2s all ease-out
	&:hover,
	&:active,
	&:focus
		outline none
		box-shadow 0 0 9px 1px rgba($color--green, 0.5)
	&-wrapper
		display inline-block
		margin-bottom 0.5rem