.b-grid
	display flex
	flex-direction row
	flex-wrap nowrap
	align-items stretch
	&-wrap
		flex-wrap wrap
	&-column
		flex-direction column
	&-space-between		
		justify-content space-between
	&-center
		align-items center
	&-baseline
		align-items baseline
	&-height
		height 100%
	&-flex-start
		align-items flex-start
	&-flex-end
		align-items flex-end
	&-1
		&>.b-grid-item
			flex 0 1 100%
	&-2
		&>.b-grid-item
			flex 0 1 50%
	&-3
		&>.b-grid-item
			flex 0 1 33.3%
	&-4
		&>.b-grid-item
			flex 0 1 25%
	&-5
		&>.b-grid-item
			flex 0 1 20%
	&-item
		flex 1 auto
		z-index 0
		&--1
			flex 0 0 100%
		&--2
			flex 0 0 50%
		&--3
			flex 0 0 33.3%
		&--40
			flex 0 0 40%
		&--4
			flex 0 0 25%
		&--5
			flex 0 0 20%
		&--45
			flex 0 0 45%
		&__mb
			&-1
				margin-bottom 1rem

$block = '.b-view'
{$block}
	&-header
		display flex
		flex-wrap nowrap
		padding-left 3.5rem
		&__filter
			flex 0 1 55%
		&__map
			flex 0 1 55%
			text-align right
			padding-right 4rem
	&-inner
		display flex
		flex-wrap nowrap
		padding-left 3.5rem
		&.widescreen
			{$block}
				&-lands
					flex 0 0 100%
				&-map
					flex-basis 0 0 0%
		.b-section-heading
			&__title
				font-size 1.6rem
				&-self
					border 0
				.b-text-label
					color $color--green
					font-weight 500
			&__home-icon
				img
					max-width 85%
		.b-select
			margin 0
		.b-section-cards__nav
			border 0
	&-lands
		flex 0 1 55%
		padding-right 3rem
		transition all 0.5s linear
	&-map
		flex 0 1 45%
		position relative
		height 0
		padding 0
		overflow hidden
		display block
		z-index 10
		transition all 0.5s linear
		&__render
			height 100%