body
	background-color #fff
	&.home 
		background-color #f9f9f9
.embed-responsive-height
	padding 0
	height 100%
	width 100%
.embed-responsive-100
	height 100%
.embed-responsive-4by1
	padding-top 25%
.embed-responsive-2by5
	padding-top 40%
.embed-responsive-5by3
	padding-top 65%
.embed-responsive-6by5
	padding-top 85%
.embed-responsive-21by9
	padding-top 30%
.embed-bg-img
	background-repeat no-repeat
	background-position center center
	background-size cover
	transition 0.15s ease-out

.b-section
	padding-top 3rem
	padding-bottom 3rem
	&-home
		padding 2rem 0
	&-bg
		background-color #f2f2f2

.b-card
	font-size $font-size--sm
	border 1px solid $color--gray-lighter
	margin-bottom 1rem
	background-color #fff
	&-img
		position relative
		// display flex
		width 100%
		height 100%
		max-height 370px
		display inline-block
		&:hover
			.embed-bg-img
				transform scale(1.05)
		&__map
			display inline-block
			width 85px
			border 1px solid $color--green
			cursor pointer
			position relative
			top -6px
			transition all 0.2s ease-out
			&:hover
				transform scale(1.05)
	&-desc
		padding 1rem
		&>a
			color $color--black
			display inline-block
			margin-bottom 1.5rem
			&:hover,
			&:focus
				color $color--green
				text-decoration none
		&__title
			margin-bottom 1.5rem
			display block
			span
				display inline-block
				padding-left 0.5rem
			&.collapse
				cursor pointer
				.icon
					color $color--gray
					position absolute
					top 1px
					right 0
					transition all 0.2s linear
				&.collapsed
					.icon
						transform rotateZ(180deg)
				&:hover,
				&:focus
					color $color--green-light
					text-decoration none
					.icon
						color $color--green-light
		&__list
			list-style none
			padding 0
			margin-bottom 1.5rem
			li
				margin-bottom 0.7rem
				display flex
				span
					flex 0 1 50%
					&:last-child
						font-weight 600
		// 		&:before
		// 			content ''
		// 			background url('/img/dot.png') center center repeat-x
		// 			position absolute
		// 			bottom 5px
		// 			left 0
		// 			width 100%
		// 			height 2px
		// 			z-index -1
		// 		span
		// 			background-color #fff
		// 			display block
		// 			padding 0 2px 0 0
		// &__item
		// 	border-right 1px solid $color--gray-lighter
		// 	padding 0 0.3rem
		// 	text-align center
		// 	color $color--green-dark
		// 	&:last-child
		// 		border-right 0
		// 	&-icon
		// 		margin-right 3px
		// 	&-img
		// 		width 20px
		// 		height 15px
		// 		display inline-block
		// 		vertical-align middle
		// 		margin-right 3px
		// 		background-size cover

.btn-favorite
	display inline-block
	color $color--black
	cursor pointer
	margin-right 1rem
	margin-bottom 1rem
	font-size 0.9rem
	.icon
		margin-left 1px
		display none
		color $color--green
		&-off
			display inline-block
		&-on
			display none
	&.active
		.icon-off
			display none
		.icon-on
			display inline-block
	&:hover,
	&:focus
		color $color--black
		text-decoration none
		.icon
			color $color--green
			&-on
				display inline-block
			&-off
				display none
	&-green
		color #fff
		.icon
			color #fff
		&:hover,
		&:focus
			color #fff
			.icon
				color #fff
.btn-share
	color $color--gray
	cursor pointer
	display inline-block
	&:hover,
	&:focus
		color $color--green
.b-grid-cards
	margin 0 -0.5rem
	margin-bottom 1rem
	&>.b-grid-item
		padding 0 0.5rem

.banner
	padding 1rem 0
	margin-bottom 1rem

.breadcrumb
	background-color transparent
	color $color--black
	margin 0
	padding 2rem 0
	li+li:before
		content '\25CF'
		font-size 0.4rem
		vertical-align middle
		position relative
		top -1px
	.active
		color $color--black
	a
		color $color--gray
		&:hover,
		&:focus
			text-decoration none
			color $color--green

.b-benefits
	&__title
		font-weight 600
		font-size 1.1rem
		text-transform uppercase
		position relative
		padding-bottom 1rem
		margin-bottom 1rem
		&:before
			content ''
			position absolute
			bottom 0
			left 0
			height 4px
			width 70px
			display block
			background-color $color--green-light
	&-list
		padding 0
		list-style none
		display flex
		flex-wrap wrap
		margin-bottom 1.5rem
		// li,
		&-item
			margin-bottom 0.5rem
			flex 0 1 27%
			padding-left 0.75rem
			position relative
			&:before
				content ''
				display block
				width 2px
				height 2px
				border-radius 50%
				background-color $color--green-light
				position absolute
				top 10px
				left 0
			&__icon
				color $color--green
				margin-right 0.4rem

.event_result
	position fixed
	top 0
	left 50%
	display inline-block
	z-index 5000
	padding 0.5rem 1rem
	background-color $color--green-light
	border 1px solid $color--green
	color #fff
	font-weight bold
	transform translate(-50%, -100%)
	transition all 0.5s ease-out
	opacity 0
	box-shadow 0 3px 4px 2px rgba($color--green, 0.4)
	&.active
		transform translate(-50%, 400%)
		opacity 1

.high-price-popover
	z-index 50
	background-color #fff

.share-popover
	padding 0.5rem
	.btn
		border-left 1px solid $color--gray-light
.b-pagination
	display inline-block
	margin 10px 0
	&-wrapper
		text-align left
	li
		a
			color $color--black
			padding 5px 11px
			border 0
			border-radius 50%
			margin 0 5px
			background-color transparent
			&:hover,
			&:focus
				color #fff
				background-color $color--green
				outline none
		span
			border 0
			background-color transparent !important
		&.active
			a
				color #fff
				background-color $color--green
				&:hover,
				&:focus
					background-color $color--green
					outline none
		.page-link
			padding 0
			width 40px
			height 40px
			line-height 40px
			visibility visible !important
			text-align center
		&:first-child,
		&:last-child
			.page-link
				border-radius 0
				padding 5px 10px
				width auto
				height auto
				margin 0 5px 0 0
				line-height 26px
				&:hover,
				&:focus
					background-color transparent
					color $color--green
		&:nth-of-type(2),
		&:nth-last-child(2)
			.page-link
				border-radius 0
				padding 5px 10px
				width auto
				height auto
				margin 0 5px
				line-height 31px
				&:hover,
				&:focus
					background-color transparent
					color $color--green
// .b-pagination
// 	display flex
// 	flex-direction row
// 	align-items center
// 	justify-content space-between
// 	flex-wrap wrap
// 	padding 2rem 0
// 	font-size 1.4rem
// 	border-bottom 1px solid #ebebeb
// 	margin-bottom 3rem
// 	&-link
// 		display inline-block
// 		color #666
// 		transition all 0.15s ease-out
// 		&:hover,
// 		&:focus
// 			text-decoration none
// 			color #98cd32
// 			.f-icon
// 				color #98cd32
// 		&:first-child
// 			.b-pagination-circle
// 				margin-right 2rem
// 		&:last-child
// 			.b-pagination-circle
// 				margin-left 2rem
// 	&-circle
// 		border-radius 50%
// 		border 1px solid #98cd32
// 		width 40px
// 		height 40px
// 		line-height 40px
// 		text-align center
// 		display inline-block
// 		vertical-align middle
// 	.f-icon
// 		font-size 3rem
// 		line-height 3rem
// 		vertical-align middle
// 		color #666
// 		transition all 0.15s ease-out

.b-map-checkbox
	font-size $font-size--xs
	input
		display none
		&[type="checkbox"],
		&[type="radio"]
			position absolute
			visibility hidden
			&+label
				&:before,
				&:after
					content ''
					position absolute
					top 50%
					transform translateY(-50%)
					transition all 0.2s linear
				&:before
					width 20px
					height 12px
					right -10px
					background-color #fff
					border 1px solid #e4e3e1
					border-radius 15px
				&:after
					width 10px
					height 10px
					right 0
					background #fff
					border-radius 50%
					transition all 200ms ease-out
					border 1px solid #ccc
			&:checked
				& + label
					&:before
						background-color $color--green
					&:after
						// right -10px
						transform translate(10px, -50%)
						border-color $color--green
						// background #ff9800
	label
		cursor pointer
		padding-right 35px
		position relative
		display inline-block
		padding 15px 0
		padding-right 25px
		font-weight 400

$block = '.b-filter-collapse'
{$block}
	&__icon
		color #b3b3b3
		padding-right 2px
	&__btn
		background-color transparent
		border 0
		color $color--black
		padding 15px 0
		padding-left 0
		.caret
			margin-left 10px
		&:hover,
		&:focus,
		&:active,
		&:active:focus
			background-color transparent
			border 0
			color $color--green
			box-shadow none
			outline none
			{$block}__icon
				color $color--green
	&__caret
		margin-left 10px
	&__inner
		max-width 400px
		padding 1rem