.l-video-grid
	position relative
	&__inner
		display flex
		flex-direction row
		align-items stretch
		justify-content flex-start
		flex-wrap wrap
		margin-left -0.5rem
		margin-right -0.5rem
	&__item
		flex 0 1 25%
		padding 0.5rem 0.5rem

.l-inner-page
	background-color #fff
	padding 2rem 0

.l-inner-section
	padding 2rem 0
	&__header
		margin-bottom 1rem
		border-bottom 1px solid $color--gray-lighter
	&__header-inner
		display flex
		flex-direction row
		align-items center
		justify-content space-between
	&__header-title
		flex 0 1 auto
	&__header-sidebar
		flex 0 1 auto