.modal-dialog
	width 700px
.b-modal
	&__content
		border-radius $input-border-radius
		border 1px solid $color--gray-light
	&__title
		margin 0
		font-size $font-size--h4
		padding-right 3rem
		font-weight $font-weight--regular
	&__close
		absolute top 0.5rem right 0.5rem
		z-index 10
	&--video
		.b-modal__title
			color #fff
		.b-modal__close
			.b-btn
				color #fff
				background-color transparent
		.b-modal__header
			border none
			padding-bottom 0
		.b-modal__footer
			border none
		.b-modal__content
			padding 0
			border none
			background-color $color--black
			box-shadow 0 1rem 5rem alpha($color--black, 0.7)
	&__map
		.modal-dialog
			width 95vw
			height 95vh
			margin 2.5vh 2.5vw
		.modal-content
			height 100%
		.b-objects-map__gm
			height 100%
		.b-modal__close
			top 0.2rem
			right 0.2rem
.close
	position absolute
	top 15px
	right 15px

.modal-header
	&__icon
		max-width 40px
		margin-right 1rem
		align-self center
	&-grid
		display flex
		align-content stretch
		&__item
			flex 1 auto