.b-panel
    border 0
    background-color transparent
    &__heading
        padding 0.5rem
        border-radius 0
        border 1px solid $color--gray-light
        background-color $color--green-light
        text-decoration none
        color #fff
        display flex
        flex-direction row
        align-items center
        justify-content flex-start
        flex-wrap wrap
        &.collapsed
            background-color $color--gray-lighter
            color $color--black
            .b-panel__heading-icon
                &--plus
                    display block
                &--minus
                    display none
            &:hover
            &:focus
            &:active
                color $color--black
        &:hover
        &:focus
        &:active
            text-decoration none
            color #fff
    &__heading-icon-wrapper
        flex 0 0 1rem
    &__heading-icon
        font-size 1em
        &--plus
            display none
        &--minus
            display block