$block = '.b-nav-pills';
{$block}
	border-bottom 1px solid rgba(87, 85, 85, 0.5)
	text-align center
	&__icon
		display inline-block
		vertical-align middle
		margin-right 1rem
		position relative
		top -2px
		img
			display block
			// max-width 100%
			height 35px
	&__count
		color $color--green
		padding-left 5px
	li
		a
			color $color--black
			position relative
			border-radius 0
			padding 1rem
			height 100%
			// max-height 80px
			display flex
			align-items center
			justify-content center
			background-color $color--gray-lighter
			border-right 1px solid $color--gray-light
			transition all 0.1s linear
			&:before
				content ''
				display block
				position absolute
				bottom 0
				left 0
				height 3px
				width 100%
				background-color transparent
				transition all 0.1s linear
			&:hover,
			&:focus
				background-color #fff
				color $color--green
				&:before
					background-color $color--green
				// {$block}
				// 	&__icon
				// 		img
				// 			filter invert(100%)
		// &.active
		// 	{$block}
		// 		&__icon
		// 			img
		// 				filter invert(100%)
		// 	a
		// 		background-color rgba(0, 0, 0, 0.5)
		// 		color #fff
		// 		&:hover,
		// 		&:focus
		// 			background-color rgba(0, 0, 0, 0.5)
		// 			color #fff
		&:last-child
			a
				border-right 0
	&__objects
		.b-nav-pills
			border none
		li
			display flex
			a
				padding 0.5rem 1rem
				width 100%
				height auto
				&:hover,
				&:focus
					background-color #fff
					color $color--green
			&.active
				a
					background-color #fff
					color $color--green
					&:before
						background-color $color--green
					&:hover,
					&:focus
						background-color #fff
						color $color--green

.b-tab-content
	background-color rgba(0, 0, 0, 0.5)
	color #fff
	padding 2.5rem 1rem