html
	font-size 16px

body
	font-size $font-size--sm
	line-height $line-height
	font-weight $font-weight--regular
	color $color--black
	font-family 'Open Sans', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	&.fonts-loaded
		ff_opensans()

h1, .h1,
h2, .h1,
h3, .h1,
h4, .h1,
h5, .h1,
h6, .h1
	margin-top 0
	margin-bottom 1rem
	font-weight $font-weight--medium

h1
.h1
	font-size $font-size--h1

h2
.h2
	font-size $font-size--h2

h3
.h3
	font-size $font-size--h3

h4
.h4
	font-size $font-size--h4

h5
.h5
	font-size $font-size--h5

h6
.h6
	font-size $font-size--h6

.b-text
	&--lg
		font-size $font-size--lg
	&--xlg
		font-size $font-size--xlg

.b-text-label
	display inline
	line-height 1
	font-size 0.75em
	padding 0.2em 0.5em
	border-radius 0.25em
	vertical-align baseline
	white-space nowrap
	&--gray-light
		background-color $color--gray-light
		color $color--black
	&--yellow
		background-color $color--yellow
		color $color--black
	&--green
		background-color $color--green
		color #fff

.b-hero-heading
	font-size 3rem
	font-weight $font-weight--bold
	text-transform uppercase
	display inline-block
	text-align center
	position relative
	padding 2em 0
	&:before
	&:after
		content ''
		border 2px solid $color--yellow
		size 30% 1em
		position absolute
		left 50%
		transform translateX(-50%)
	&:before
		top 1em
		border-bottom 0
	&:after
		bottom 1em
		border-top 0

.u-options-list
	display block
	list-style none
	margin 0
	padding 0
	&__item
		display flex
		flex-direction row
		align-items center
		justify-content flex-start
		flex-wrap nowrap
		margin-bottom 0.5rem
		a
			color inherit
			&:hover
			&:focus
			&:active
				text-decoration none
				color inherit
		&:last-child
			margin-bottom 0
	&__icon
		margin-right 0.5rem
		width 1.5em
		text-align center
		font-size 1.5em

.b-block-header
	font-size $font-size--h5
	color $color--black
	font-weight $font-weight--medium
	padding 0.5rem 0
	border-bottom 2px solid $color--yellow

.b-nav-list
	display block
	list-style none
	margin 0
	padding 0
	&__item
		display block
		margin-bottom 0.5rem
		&:last-child
			margin-bottom 0
	&__link
		transition(all, 0.2s, ease)
		display inline-block
		color inherit
		text-decoration none
		padding 0.2rem 0
		cursor pointer
		border-bottom 1px solid transparent
		&:focus
		&:active
			text-decoration none
		&:hover
		&:focus
			border-bottom 1px solid $color--black
			text-decoration none
			color inherit

.b-stat-info
	font-weight $font-weight--medium
	&__label
		color $color--gray
		position relative
		display block
		font-size 1rem
		&:after
			content ''
			absolute bottom -2em left -1em
			z-index -1
			display block
			size 3em 2em
			background-color $color--yellow
	&__value
		color $color--gray-darken
		font-size 1rem
		line-height 1.1
	&__accent
		font-weight $font-weight--bold
		color $color--black
		font-size 2em

.b-stat-block
	text-align center
	padding 1rem
	i
		color $color--yellow
		font-size 2rem
	&__title
		font-size $font-size--h5
		font-weight $font-weight--medium
		margin 0
		padding-top 0.5rem
	&__description
		color $color--gray
		margin 0
		padding-top 1rem

.text-divider
	background $color--gray-lighter
	margin 0 0.2rem
	height 12px
	display inline-block
	width 2px
	vertical-align middle

.text-medium
	font-weight $font-weight--medium

.b-page-header
	margin-bottom 2rem
	&__title
		color $color--black
		font-size $font-size--h3
		margin 0
		&+.b-page-header__subtitle
			padding-top 1rem
	&__subtitle
		display block
		margin 0
		color $color--gray-dark
		font-size $font-size--sm

.u-check-list
	list-style none
	padding-left 1rem
	margin-bottom 1rem
	li
		position relative
		margin-bottom 0.5rem
		&:before
			font-family 'FontAwesome'
			content '\f00c'
			color $color--green-light

.b-image-card
	position relative
	&__cover
		display block
		background-size cover
		background-position center center
		background-repeat no-repeat
		position relative
		&:after
			transition(all, 0.2s, ease)
			font-family 'FontAwesome'
			content '\f00e'
			color #fff
			absolute top 0 left 0
			size 100% 100%
			background-color alpha(#000, 0.5)
			display flex
			flex-direction row
			align-items center
			justify-content center
			opacity 0
		&:focus
		&:active
			outline 0
	&--fixed-height
		.b-image-card__cover
			padding 0
			height 20rem
	&--no-overlay
		.b-image-card__cover
			&:after
				display none
	&:hover
		.b-image-card__cover
			&:after
				opacity 1

$block = '.b-image-cards';
{$block}
	&-grid
		&__inner
			display flex
			flex-direction row
			align-items center
			justify-content space-between
			flex-wrap wrap
			margin-left -0.5rem
			margin-right -0.5rem
		&__item
			flex 0 1 50%
			padding 0.5rem
	&-design
		{$block}
			&-grid__item
				flex 0 25%
$b-block = '.b-section-heading';
{$b-block}
	padding-bottom 0.5rem
	&__title
		transition(all, 0.2s, ease)
		font-size 1.9rem
		font-weight $font-weight--medium
		color $color--black
		margin 0
		text-transform uppercase
		&-self
			display inline-block
			border-bottom 1px solid $color--green-light
			margin-right 20px
		&:hover,
		&:focus,
		&:active
			text-decoration none
			a&
				color $color--green
				// {$b-block}__title-self
				// 	border-color $color--green
	&__subtitle
		font-size $font-size--h5
		margin 0
	&__counter
		color $color--green
		padding-left 0.5rem
		margin-left 0.5rem
		font-weight $font-weight--bold
		border-left 2px solid $color--gray
	&--mini
		padding 0
		padding-bottom 1rem
		.b-section-heading__title
			font-size $font-size--h5
	&__home
		display flex
		justify-content space-between
		align-items center
		margin-bottom 1rem
		{$b-block}__title
			font-weight 400
		.b-text-label
			color $color--green
			font-weight bold
			font-size $font-size--md
		&-icon
			display inline-block
			vertical-align middle
			margin-right 0.5rem
			position relative
			top -2px
			img
				display block
				max-width 100%
				max-height 50px
				filter invert(70%)
		&__title
			flex 0 1 auto
		&__nav
			flex 0 1 auto
.b-swiper-btn
	display inline-block
	vertical-align middle
	width 25px
	height 25px
	text-align center
	font-size 1.1rem
	color #b2b2b2
	margin 0 10px
	&:hover
		color $color--black
	&:focus
		outline none
	.icon
		font-weight 900
.b-stat-list
	display block
	list-style none
	margin 0
	padding 0
	&__item
		display flex
		flex-direction row
		align-items center
		justify-content space-between
		flex-wrap nowrap
		padding 0.4rem 0
	&__line
		flex 1 1 auto
		align-self flex-end
		border-bottom 1px dotted $color--gray-light
		margin 0 0.5rem
		position relative
		transform translateY(-0.3rem)
	&__value
		font-weight $font-weight--medium