<template>

    <div>

        <form action="" id="buildingFiltersForm" class="header_form" method="POST" @keydown.enter.prevent="filteredBuildingCount()">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <label class="b-form-group__label">
                            {{ translate('messages.label_house_type') }}
                        </label>
                        <b-form-select v-model="selectedType" name="building_type_id" class="mb-3" :options="buildingTypes" @input="filteredBuildingCount"></b-form-select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <label class="b-form-group__label">
                            {{ translate('messages.label_floors_capacity') }}
                        </label>
                        <b-form-select v-model="selectedFloor" name="floors_number" class="mb-3" :options="getFloorsList" @input="filteredBuildingCount"></b-form-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <label class="b-form-group__label">
                            {{ translate('messages.label_price') }} / <span class="u-text-color--green">&euro;</span>
                        </label>
                        <vue-range-slider
                                ref="homeBuildingPriceRangeSlider"
                                v-model="priceRange"
                                :value="[priceAmountFrom, priceAmountTo]"
                                :min="0"
                                :max="priceAmountTo"
                                :tooltip=false
                                :process-style='{"background-color": "#80b600"}'
                                :bg-style='{"background-color": "#fff"}'
                                @drag-end="filteredBuildingCount">
                        </vue-range-slider>

                        <div class="b-grid b-grid-space-between">
                            <div class="b-filter-wrapper">
                                {{ translate('messages.label_from') }}
                                <input data-label="price_min" type="text" name="price_min" class="amount-from b-filter-input" :value="priceRange[0]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'homeBuildingPriceRangeSlider')"/>
                            </div>
                            <div class="b-filter-wrapper">
                                {{ translate('messages.label_to') }}
                                <input type="text" name="price_max" class="amount-to b-filter-input" :value="priceRange[1]"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <label class="b-form-group__label">
                            {{ translate('messages.label_area') }} / <span class="u-text-color--green">{{ choice('messages.label_ares', 0) }}<sup>2</sup></span>
                        </label>
                        <vue-range-slider
                                v-model="areaRange"
                                ref="homeBuildingAreaRangeSlider"
                                :value="[areaAmountFrom, areaAmountTo]"
                                :min="0"
                                :max="areaAmountTo"
                                :tooltip=false
                                :process-style='{"background-color": "#80b600"}'
                                :bg-style='{"background-color": "#fff"}'
                                @drag-end="filteredBuildingCount">
                        </vue-range-slider>
                        <div class="b-grid b-grid-space-between">
                            <p>
                                {{ translate('messages.label_from') }}
                                <input data-label="area_min" type="text" class="amount-from b-filter-input" name="area_min" :value="areaRange[0]"/>
                            </p>
                            <p>
                                {{ translate('messages.label_to') }}
                                <input data-label="area_max" type="text" name="area_max" class="amount-to b-filter-input" :value="areaRange[1]"/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-grid b-grid-space-between b-grid-center b-tab-content__results">
                <p>
                    <span>{{ translate('messages.label_search_result') }} | {{ getFilteredBuildingCount }}</span>
                </p>
                <p>
                    <a role="button" href="#" class="btn-reset" @click.prevent="resetForm()">{{ translate('messages.label_reset') }}</a>
                    <button type="button" class="btn b-btn b-btn--color-green b-btn--wide b-btn--size-sm" @click.prevent="filterBuildings()">
                        {{ translate('messages.label_show') }}
                    </button>
                </p>
            </div>


        </form>

    </div>

</template>

<script>
    import _ from 'lodash';
    import * as Cookies from 'js-cookie';

    export default {

        name: 'homeBuildingFilter',

        props: ['floorsCount', 'priceFrom', 'priceTo', 'areaFrom', 'areaTo'],

        data() {
            return {
                foundLandCount: 0,
                requestedCountry: '',
                buildingCount: 0,
                selectedType: 0,
                buildingTypes: [
                    {value: 0, text: this.translate('messages.label_all')},
                    {value: 1, text: "Коттедж"},
                    {value: 2, text: "Дуплекс"},
                    {value: 3, text: "Таунхаус"},
                    {value: 4, text: "Вилла"},
                ],
                selectedFloor: 0,
                priceRange: [parseInt(this.priceFrom), parseInt(this.priceTo)],
                areaRange: [parseInt(this.areaFrom), parseInt(this.areaTo)],
                priceAmountFrom: parseInt(this.priceFrom),
                priceAmountTo: parseInt(this.priceTo),
                areaAmountFrom: parseInt(this.areaFrom),
                areaAmountTo: parseInt(this.areaTo)

            }
        },

        mounted() {
            this.resetForm();
            this.initData();
        },

        watch: {

        },

        computed: {

            getPriceFrom: function() {
                return this.priceAmountFrom;
            },

            getPriceTo: function() {
                return this.priceAmountTo;
            },

            getAreaFrom: function() {
                return this.areaAmountFrom;
            },

            getAreaTo: function() {
                return this.areaAmountTo;
            },

            getFilteredBuildingCount: function() {
                return this.buildingCount;
            },

            getFloorsList: function() {
                let options = [];
                options[0] = { value: 0, text: "Выбрать", selected:"selected" };

                for (let i = 0; i<this.floorsCount; i++) {
                    options[i+1] = { value: (i+1), text: (i+1) };
                }

                return options;
            }
        },

        methods: {
            initData: function(){
                let self = this;
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    self.$nextTick(function() {
                        self.filteredBuildingCount();
                        self.$refs.homeBuildingPriceRangeSlider.refresh();
                        self.$refs.homeBuildingAreaRangeSlider.refresh();
                    });
                })
            },

            validateLabel: function(event) {

                return event.charCode >= 48 && event.charCode <= 57;

            },
            refreshRange: function(event, refComponent) {
                let self = this;
                let element = $(event.target);
                let label = $(element).data('label');
                let numericNewValue = $(event.target).val().replace(/\D/g, '');
                let rangeComponent = self.$refs[refComponent];
                let oldRangeArray = rangeComponent.getValue();
                let newRangeArray;

                switch(label) {
                    case 'price_min':
                        if( numericNewValue >= oldRangeArray[1]) {
                            numericNewValue = oldRangeArray[1] - 1;
                        }
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        break;
                    case 'area_min':
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        // set cleared value to label
                       break;
                    case 'price_max':
                    case 'area_max':
                        newRangeArray = [oldRangeArray[0], parseInt(numericNewValue)];
                        break;
                }

                self.$nextTick(function() {
                    // set new range
                    rangeComponent.setValue(newRangeArray, true);
                    // filter lands
                    self.filteredBuildingCount();
                });
            },

            filterBuildings: function() {

                let self = this;
                let formParams = $('#buildingFiltersForm').serializeArray();

                self.$store.dispatch('mBuildingFilter/setFormParams', formParams);

                window.location.href = Lang.getLocale() + "/buildings";
            },

            resetForm: function() {
                let self = this;
                let priceRangeComponent = this.$refs.homeBuildingPriceRangeSlider;
                let areaRangeComponent = this.$refs.homeBuildingAreaRangeSlider;

                $('#landFiltersForm')[0].reset();

                self.priceAmountFrom = parseInt(self.priceFrom);
                self.priceAmountTo   = parseInt(self.priceTo);
                self.areaAmountFrom  = parseInt(self.areaFrom);
                self.areaAmountTo    = parseInt(self.areaTo);
                self.selectedType    = 0;
                self.selectedFloor   = 0;

                priceRangeComponent.setValue([0, parseInt(self.priceTo)], true);
                areaRangeComponent.setValue([0, parseInt(self.areaTo)], true);

                self.$store.dispatch('mBuildingFilter/setFormParams', '');

                if (Cookies.get('vuex')) {
                    Cookies.remove('vuex');
                }

                self.filteredBuildingCount();
            },

            filteredBuildingCount: _.debounce(function(){

                var self = this;

                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formParams = $('#buildingFiltersForm').serializeArray();
                let formData = new FormData();

                $.each(formParams, function(index, obj) {
                    if (obj.value) {
                        formData.append(obj.name, obj.value);
                    }
                });

                this.$http.post("/" + Lang.getLocale() + "/getBuildingList", formData, options).then(
                    function(response) {
                        self.buildingCount = response.data.buildingCount;
                    }
                )
            }, 0),

            translate: function(key) {
                return Lang.get(key);
            },

            choice: function(key, count) {
                return Lang.choice(key, count);
            }

        }

    }

</script>

<style>

    .transition, .autocomplete, .showAll-transition, .autocomplete ul, .autocomplete ul li a{
        transition:all 0.3s ease-out;
        -moz-transition:all 0.3s ease-out;
        -webkit-transition:all 0.3s ease-out;
        -o-transition:all 0.3s ease-out;
    }

    .autocomplete ul{
        font-family: sans-serif;
        position: absolute;
        list-style: none;
        background: #f8f8f8;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
        min-width: 15%;
        margin-top: 10px;
    }

    .autocomplete ul:before{
        content: "";
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-bottom: 10px solid #f8f8f8;
        left: 46%;
        top: -20px
    }

    .autocomplete ul li a{
        text-decoration: none;
        display: block;
        background: #f8f8f8;
        color: #2b2b2b;
        padding: 5px;
        padding-left: 10px;
    }

    .autocomplete ul li a:hover, .autocomplete ul li.focus-list a{
        color: white;
        background: #2F9AF7;
    }

    .autocomplete ul li a span, /*backwards compat*/
    .autocomplete ul li a .autocomplete-anchor-label{
        display: block;
        margin-top: 3px;
        color: grey;
        font-size: 13px;
    }

    .autocomplete ul li a:hover .autocomplete-anchor-label,
    .autocomplete ul li.focus-list a span, /*backwards compat*/
    .autocomplete ul li a:hover .autocomplete-anchor-label,
    .autocomplete ul li.focus-list a span{ /*backwards compat*/
        color: white;
    }

</style>