<template>

    <div>

        <div class="b-section-cards__nav">
            <a href="/buildings" class="b-section-heading__title">
                <i class="b-section-heading__home-icon"><img src="/img/filters/construction.png" alt=""></i>
                <span class="b-section-heading__title-self">{{ translate('messages.menu_buildings_f') }}</span> <span class="b-text-label">{{ buildingCount }}</span>
            </a>
            <div class="b-section-cards__nav-item">
                <b-form-select v-model="sort" class="mb-3 b-select" @input="initBuilding">
                    <option value="">{{ translate('pagination.sort') }}</option>
                    <option value="building_price.asc">{{ translate('messages.label_price') }} A-Z</option>
                    <option value="building_price.desc">{{ translate('messages.label_price') }} Z-A</option>
                </b-form-select>
            </div>
        </div>

        <div class="b-list-objects__wrapper">
            <div class="b-list-objects__item b-list-objects__item--building" v-for="(building, key) in getBuildings" :key="key">
                <a :href="getShowBuildingPath(building)" class="b-list-objects__link b-list-objects__link-slider" :class="'b-objects-slider-' + key">
                    <div class="swiper-container b-list-objects__slider">
                        <div class="swiper-wrapper">
                            <div v-for="image in building.images" :key="image.id" class="swiper-slide">
                                <img :src="'/' + image.path + /thumbnails/+ image.name" alt="image" class="b-list-objects-img">
                            </div>
                        </div>
                        <div class="swiper-pagination" :class="'swiper-pagination-' + key"></div>

                        <div class="b-list-objects-btn b-list-objects-btn-prev" :class="'slider-btn-prev-' + key">
                            <i aria-hidden="true" class="btn-icon fa fa-angle-left"></i>
                        </div>
                        <div class="b-list-objects-btn b-list-objects-btn-next" :class="'slider-btn-next-' + key">
                            <i aria-hidden="true" class="btn-icon fa fa-angle-right"></i>
                        </div>
                        <div class="btn-favorite" :class="getClassForFavorite('building', building)" @click="toggleWishList(building.id, $event)" >
                            <i class="btn-favorite-i fa fa-bookmark icon icon-on" aria-hidden="true"></i>
                            <i class="btn-favorite-i fa fa-bookmark-o icon icon-off" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="b-list-objects__content">
                        <p class="b-list-objects__title">{{ building.title }}</p>
                        <p class="b-list-objects__country">{{ landAddress(building) }}</p>
                        <ul class="b-list-objects__params">
                            <li class="item">{{ building.general_area }} m<sup>2</sup></li>
                            <li class="item"><i aria-hidden="true" class="fa fa-bed item-icon"></i>{{ building.rooms_number }}</li>
                            <li class="item"><i aria-hidden="true" class="fa fa-bath item-icon"></i>{{ building.bathrooms_number }}</li>
                        </ul>
                        <div class="b-list-objects__time"></div>
                        <ul class="b-list-objects__estimate">
                            <li>
                                <span class="icon icon-ready warning"><i aria-hidden="true" class="icon-item fa fa-battery-quarter"></i></span>
                                <span class="title">{{ translate('messages.label_readiness') }}</span>
                                <span class="value warning">{{ building.ready_percentage }} %</span>
                            </li>
                            <li>
                                <span class="icon"><i aria-hidden="true" class="icon-item fa fa-calendar"></i></span>
                                <span class="title">{{ translate('messages.label_release_date') }}</span>
                                <span class="value">{{ formatDate(building.release_date) }}</span>
                            </li>
                            <li>
                                <span class="icon"><i aria-hidden="true" class="icon-item fa fa-map-marker"></i></span>
                                <span class="title">Адрес</span>
                                <span class="value"> ул.Чокырлией </span>
                            </li>
                        </ul>
                        <ul class="b-list-objects__prices">
                            <li><span>{{ firstPayment(building.building_price) }} €</span><br>{{ translate('messages.label_first_payment') }}</li>
                            <li class="b-list-objects__prices-all">{{ formatPrice(building.building_price) }} €</li>
                        </ul>
                    </div>
                </a>
                <!-- <div class="b-card b-grid">
                    <div class="b-grid-item b-grid-item--45">
                        <a :href="getShowBuildingPath(building)" class="b-card-img">
                            <div class="embed-responsive embed-responsive-height">
                                <div class="embed-responsive-item embed-bg-img" :style="getBuildingImage(building)"></div>
                            </div>

                        </a>

                    </div>

                    <div class="b-grid-item">

                        <div class="b-card-desc">

                            <a :href="getShowBuildingPath(building)" class="b-card-desc__title">{{ building.title }} <span class="u-text-color--gray-light">{{ building.general_area }} m<sup>2</sup></span></a>

                            <p class="u-text-color--gray">{{ landAddress(building) }}</p>

                            <ul class="b-card-desc__list">

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">ID</span>

                                    <span>{{ building.article }}</span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_readiness') }}</span>

                                    <span>{{ building.ready_percentage }} %</span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_general_area') }}</span>

                                    <span>{{ building.general_area }} m<sup>2</sup></span>

                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_building_size') }}</span>

                                    <span>{{ building.width+' x '+building.length }} m</span>

                                </li>

                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_release_date') }}</span>
                                    
                                    <span>{{ formatDate(building.release_date) }}</span>
                                </li>

                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_rooms_number') }}</span>

                                    <span>{{ building.rooms_number }}</span>
                                </li>

                                <li class="b-grid b-grid-space-between">

                                    <span class="b-card-desc__list-key">{{ translate('messages.label_cost') }}</span>

                                    <span class="u-text-color--green-darken"><strong>{{ formatPrice(building.building_price) }} €</strong></span>

                                </li>

                            </ul>

                            <div class="row">
                                <div class="col-sm-4 col-xs-3">
                                    <a href="#" class="b-card-img__map" @click="showOnMap(building.lands[0])">

                                        <img src="/img/pages/card-map.png" alt="" class="img-responsive">

                                    </a>
                                </div>
                                <div class="col-sm-8 col-xs-9">
                                    <div class="text-right">

                                        <a class="btn-favorite" :class="getClassForFavorite('building', building)" @click="toggleWishList(building.id, $event)">

                                            {{ translate('messages.label_favorite') }}

                                            <i class="fa fa-heart icon icon-on" aria-hidden="true"></i>

                                            <i class="fa fa-heart-o icon icon-off" aria-hidden="true"></i>

                                        </a>

                                        <a :href="getShowBuildingPath(building)" class="btn b-btn b-btn--size-wide b-btn--color-green">

                                            {{ translate('messages.label_details') }}

                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div> -->

            </div>

        </div>

        <div class="b-pagination-wrapper">
            <b-pagination
                class="b-pagination"
                v-model="currentPage"
                :total-rows="buildingCount"
                :per-page=parseInt(limit)
                :limit="6"
                :prev-text="'< - Prev'"
                :next-text="'Next - >'"
                @input="initBuilding">
            </b-pagination>
        </div>

    </div>

</template>

<script>

    export default {
        name: "buildingList",
        props: {
            related_to: {
                type: String,
                default: "0"
            },
            sortProp: {
                type: String,
                default: ''
            },
            limitProp: {
                type: Number,
                default: 10
            },
            offset: {
                type: Number,
                default: 0
            },
            page: {
                type: Number,
                default: 0
            },
            title: {
                type: String,
                default: ''
            }
        },

        data() {
            return  {
                buildings: [],
                currentPage: parseInt(this.page),
                limit: parseInt(this.limitProp),
                sort: this.sortProp,
                offsetData: parseInt(this.offset),
                componentTitle: (this.title)?this.title:this.translate('messages.menu_projects_f'),
                buildingCount: 0
            }
        },

        created() {

            this.initBuilding();

        },

        computed:{

            getBuildings: function() {
                return this.$store.state.mBuildingFilter.buildings;
            },

            getCountBuildings: function() {

                return this.$store.state.mBuildingFilter.buildings.length;

            },

            showMoreButton: function() {

                return (this.getBuildings.length >= this.limit);
            },

        },

        methods: {

            initBuilding: function() {
                var self = this;
                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                };

                let formParams = $('#buildingFiltersForm').serializeArray();
                let formData = new FormData();
                    formData.append('related_to', self.related_to);
                    formData.append('sortby', self.sort);
                    formData.append('offsetData', (self.currentPage - 1) * (self.limit - 1));
                    formData.append('limit', self.limit);

                $.each(formParams, function(index, obj) {
                    if (obj.value) {
                        formData.append(obj.name, obj.value);
                    }
                });

                this.$http.post("/" + Lang.getLocale() + "/getBuildingList", formData, options).then(
                    function(response) {
                        self.buildingCount = response.data.buildingCount;
                        if (response.data.buildings.length) {
                            self.$store.dispatch('mBuildingFilter/putBuilding', response.data.buildings);
                            self.offsetData = self.$store.state.mBuildingFilter.buildings.length;
                        }
                    }
                );

            },

            getBuildingImage: function(building) {

                let imageName = (building.images.length)?building.images[0].name:'';

                let style = 'background-image: url(';
                style += '/img/uploads/building/thumbnails/' + imageName;
                style += ')';

                return style;

            },

            getShowBuildingPath: function (building) {

                return '/building/' + building.id;
            },

            redirectLandPath: function (building) {

                window.location.href = '/building/' + land.id;
            },

            growListLimit: function() {
                this.limit += 10;
            },

            formatPrice(value) {

                let val = (value/1).toFixed(0).replace(',', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            },

            firstPayment(value) {

                let val = value/100*30;
                return val
            },

            formatDate(value) {

                var options = { year: 'numeric', month: 'long'};
                var date  = new Date(value);

                return date.toLocaleDateString("ru-RU",options);
            },

            landAddress(item) {

                return (item.lands[0] !== undefined)?item.lands[0].address:'';
            },

            showOnMap: function(element) {
                let self = this;
                self.$parent.$refs.modalMap.setSinglePoint(element);
                $('#modalLandMap').modal('show');
            },

            getClassForFavorite: function(type, item) {

                let classes = type + '-' + item.id;

                if (item.is_favorite) {

                    classes += ' active';
                }

                return classes;
            },

            translate: function(key) {

                return Lang.get(key);
            },

            toggleWishList: function(element_id, event) {
                var self = this;
                var clickedElement = $(event.currentTarget);

                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formData = new FormData();
                formData.append('product_type', 'Building');
                formData.append('product_id', element_id);

                if ($(clickedElement).hasClass('active')) {

                    $(clickedElement).removeClass('active');
                    // let classes = $(clickedElement).attr('class');

                    // $('a[class="' + classes + '"]').each(function(index, value) {
                    //     $(value).removeClass('active');
                    // });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) - 1);

                    this.$http.delete("/" + Lang.getLocale() + "/wishlist/" + element_id + '|' + 'Building', formData, options).then(
                            function(response){

                            }
                    )
                } else {
                    $(clickedElement).addClass('active');
                    // let classes = $(clickedElement).attr('class');

                    // $('a[class="' + classes + '"]').each(function(index, value) {
                    //     $(value).addClass('active');
                    // });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) + 1);

                    this.$http.post("/" + Lang.getLocale() + "/wishlist", formData, options).then(
                            function(response){

                            }
                    )
                }

                $("#wl-success-alert").addClass('active');

                setTimeout(function() {
                    $("#wl-success-alert").removeClass('active');
                }, 1000);
            },

            initCarousel: function(key) {
                // alert(".b-objects-slider-"+ key);
                var slider = new Swiper(".b-objects-slider-"+ key, {
                    // Optional parameters
                    loop: true,
                    slidesPerView: 1,
                    spaceBetween: 0,
                    // Navigation arrows
                    navigation: {
                        nextEl: ".slider-btn-next-" + key,
                        prevEl: ".slider-btn-prev-" + key,
                    },
                    pagination: {
                        el: ".swiper-pagination-" + key,
                        type: 'bullets',
                    },
                });
            },
            initPropagation: function() {
                $('.b-list-objects__link').on('click', function(event) {
                    if($(event.target).hasClass('btn-favorite-i')) {
                        event.preventDefault();
                    }
                });
            },
        },
        updated: function () {
            this.$nextTick(function () {
                this.initPropagation();
            })
        },
    }
</script>