<template>

    <form id="buildingFiltersForm" action="" method="post" @submit.prevent="filterBuildings()">
        <div class="form-group b-form-group">
            <label class="b-form-group__label">
                {{ translate('messages.label_house_type') }}
            </label>
            <b-form-select v-model="selected" name="building_type_id" class="mb-3" :options="getBuildingTypes" @input="filterBuildings"></b-form-select>
        </div>
        <div class="form-group b-form-group">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <b-form-input v-model="floorCountFrom"
                                      type="text"
                                      name="floors_min"
                                      class="form-control b-form-control"
                                      :placeholder="translate('messages.label_from')"
                                      @input="filterBuildings">
                        </b-form-input>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group b-form-group">
                        <b-form-input v-model="floorCountTo"
                                      type="text"
                                      name="floors_max"
                                      class="form-control b-form-control"
                                      :placeholder="translate('messages.label_to')"
                                      @input="filterBuildings">
                        </b-form-input>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group b-form-group">
            <label class="b-form-group__label">
                {{ translate('messages.label_price') }} / <span class="u-text-color--gray-light">&euro;</span>
            </label>
            <vue-range-slider
                    ref="buildingPriceRangeSlider"
                    v-model="priceRange"
                    :value="[priceAmountFrom, priceAmountTo]"
                    :min="0"
                    :max=priceAmountTo
                    :tooltip=false
                    :process-style='{"background-color": "#80b600"}'
                    @drag-end="filterBuildings">
            </vue-range-slider>
            <div class="b-grid b-grid-wrap u-text-color--green b-grid-filter">
                <div class="b-grid-item">
                    {{ translate('messages.label_from') }}
                    <!--<span class="u-text-color&#45;&#45;gray from-label">{{ priceRange[0] }}</span>-->
                    <div class="filter-input-wrapper">
                        <input data-label="price_min" type="text" name="price_min" class="filter-input amount-from" :value="priceRange[0]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'buildingPriceRangeSlider')"/>
                    </div>
                    &euro;
                </div>
                <div class="b-grid-item">
                    {{ translate('messages.label_to') }}
                    <!--<span class="u-text-color&#45;&#45;gray to-label">{{ priceRange[1] }}</span>-->
                    <div class="filter-input-wrapper">
                        <input data-label="price_max" type="text" name="price_max" class="filter-input amount-to" :value="priceRange[1]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'buildingPriceRangeSlider')"/>
                    </div>
                    &euro;
                </div>
            </div>
        </div>
        <div class="form-group b-form-group">
            <label class="b-form-group__label">
                {{ translate('messages.label_area') }} / <span class="u-text-color--gray-light">m<sup>2</sup></span>
            </label>
            <vue-range-slider
                    ref="buildingAreaRangeSlider"
                    v-model="areaRange"
                    :value="[areaAmountFrom, areaAmountTo]"
                    :min="0"
                    :max=areaAmountTo
                    :tooltip=false
                    :process-style='{"background-color": "#80b600"}'
                    @drag-end="filterBuildings">
            </vue-range-slider>
            <div class="b-grid b-grid-wrap u-text-color--green b-grid-filter">
                <div class="b-grid-item">
                    {{ translate('messages.label_from') }}
                    <!--<span class="u-text-color&#45;&#45;gray from-label">{{ areaRange[0] }}</span>-->
                    <!--{{ choice('messages.label_ares', 0) }}<sup>2</sup>-->
                    <div class="filter-input-wrapper">
                        <input data-label="area_min" type="text" class="filter-input amount-from" name="area_min" :value="areaRange[0]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'buildingAreaRangeSlider')"/>
                    </div>
                </div>
                <div class="b-grid-item">
                    {{ translate('messages.label_to') }}
                    <!--<span class="u-text-color&#45;&#45;gray to-label">{{ // areaRange[1] }}</span>-->
                    <!--{{ choice('messages.label_ares', 0) }}<sup>2</sup>-->
                    <div class="filter-input-wrapper">
                        <input data-label="area_max" type="text" name="area_max" class="filter-input amount-to" :value="areaRange[1]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'buildingAreaRangeSlider')"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-grid b-grid-space-between b-grid-center b-tab-content__results">
            <p>
                <a role="button" href="#" class="btn-reset u-text-color--gray" @click.prevent="resetForm()">{{ translate('messages.label_reset') }}</a>
            </p>
        </div>
    </form>

</template>

<script>
    import * as Cookies from 'js-cookie'
    const queryString = require('query-string');
    export default{

        name: 'buildingFilter',

        props: ['buildingType', 'floorsFrom', 'floorsTo','priceFrom', 'priceTo', 'priceMax', 'priceMin', 'areaFrom', 'areaTo', 'areaMax', 'areaMin'],

        data() {

            return {
                selected: null,
                buildingTypes: [{value: null, text: this.translate('messages.label_chose')}],
                buildingTypeId: parseInt(this.buildingType),
                architectureCount: 0,
                floorCountFrom: this.floorsFrom,
                floorCountTo: this.floorsTo,
                priceRange: [parseInt(this.priceFrom), parseInt(this.priceTo)],
                areaRange: [parseInt(this.areaFrom), parseInt(this.areaTo)],
                priceAmountFrom: parseInt(this.priceMin),
                priceAmountTo: parseInt(this.priceMax),
                areaAmountFrom: parseInt(this.areaMin),
                areaAmountTo: parseInt(this.areaMax)
            }

        },

        mounted() {
            this.loadBuildingTypes();
        },

        computed: {
            getBuildingTypes: function() {

                return this.buildingTypes;
            },

            getFloorsList: function() {
                let options = [];
                    options[0] = { value: 0, text: this.translate('messages.label_chose'), selected:"selected" };

                for (let i = 0; i<this.floorsCount; i++) {
                    options[i+1] = { value: (i+1), text: (i+1) };
                }

                return options;
            }

        },

        methods: {
            loadBuildingTypes: function() {
                var self = this;
                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                };

                this.$http.get("/getBuildingTypes", options).then(
                    function(response) {
                        $.each(response.data.buildingTypes, function(index, obj) {
                            self.buildingTypes.push({
                                value: obj.id,
                                text: obj.name
                            });
                        });

                        self.selected = (self.buildingTypeId > 0)?self.buildingTypeId:null;
                    }
                );

            },
            // checkCookie: function() {
            //     let self = this;
            //     let cookiesObj;
            //     let params = '';
            //
            //     if (Cookies.get('vuex')) {
            //         cookiesObj = $.parseJSON(Cookies.get('vuex'));
            //         if (cookiesObj.mBuildingFilter && cookiesObj.mBuildingFilter.form_params) {
            //
            //             params = cookiesObj.mBuildingFilter.form_params;
            //
            //             params.forEach(function(item){
            //                 switch(item.name) {
            //                     case 'building_type_id':
            //                         self.selectedType = item.value;
            //                         break;
            //                     case 'floors_number':
            //                         self.selectedFloor = item.value;
            //                         break;
            //                     case 'price_min':
            //                         self.priceAmountFrom = parseInt(item.value);
            //                         self.priceRange[0]   = parseInt(item.value);
            //                         break;
            //                     case 'price_max':
            //                         self.priceAmountTo = parseInt(item.value);
            //                         self.priceRange[1] = parseInt(item.value);
            //                         break;
            //                     case 'area_min':
            //                         self.areaAmountFrom = parseInt(item.value);
            //                         self.areaRange[0]   = parseInt(item.value);
            //                         break;
            //                     case 'area_max':
            //                         self.areaAmountTo = parseInt(item.value);
            //                         self.areaRange[1] = parseInt(item.value);
            //                         break;
            //                 }
            //             });
            //         }
            //     }
            //
            //     return params;
            // },
            // getLocalities: function() {
            //
            //     var self = this;
            //
            //     var options = {
            //
            //         headers: {
            //             'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            //         },
            //     };
            //
            //     this.$http.get("/getLocalities", options).then(
            //
            //             function(response) {
            //
            //                 $.each(response.data.localities, function(index, item){
            //
            //                     self.$store.dispatch('mBuildingFilter/pushLocality', item);
            //
            //                 });
            //
            //             }
            //     );
            //
            // },
            //
            // getRegion: function() {
            //
            //     let self = this;
            //
            //     return self.$store.state.mBuildingFilter.localities.filter(function(item){
            //
            //         return (item.parent_id == 0 && item.level == 1);
            //     });
            // },

            filterBuildings: function() {
                this.prepareUrlString();
            },

            refreshRange: function(event, refComponent) {
                let self = this;
                let element = $(event.target);
                let label = $(element).data('label');
//                let numericNewValue = $(event.target).text().replace(/\D/g, '');
                let numericNewValue = $(event.target).val().replace(/\D/g, '');
                let rangeComponent = self.$refs[refComponent];
                let oldRangeArray = rangeComponent.getValue();
                let newRangeArray;

                switch(label) {
                    case 'price_min':
                        if( numericNewValue >= oldRangeArray[1]) {
                            numericNewValue = oldRangeArray[1] - 1;
                        }
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        break;
                    case 'area_min':
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        // set cleared value to label
                        break;
                    case 'price_max':
                    case 'area_max':
                        newRangeArray = [oldRangeArray[0], parseInt(numericNewValue)];
                        break;
                }

                self.$nextTick(function() {
                    // set new range
                    rangeComponent.setValue(newRangeArray, true);
                    // filter lands
                    self.filterBuildings();
                });
            },

            resetForm: function() {

                let self = this;

                $('#buildingFiltersForm')[0].reset();

                self.buildingTypeId  = 0;
                self.floorCountFrom  = 0;
                self.floorCountTo    = 0;
                self.roomsCountFrom  = 0;
                self.roomsCountTo    = 0;

                self.priceRange = [self.priceAmountFrom, parseInt(this.priceTo)];
                self.areaRange = [self.areaAmountFrom, parseInt(this.areaTo)];

                //self.$store.dispatch('mArchitectureFilter/setFormParams', '');

                // if (Cookies.get('vuex')) {
                //
                //     Cookies.remove('vuex');
                // }
                self.prepareUrlString(null);

            },

            choice: function(key, count) {
                return Lang.choice(key, count);
            },

            translate: function(key) {
                return Lang.get(key);
            },

            prepareUrlString(queryParameters = location.search) {
                let self = this;

                let stringifiedParametrs;
                let domain = location.origin+location.pathname;
                let parsed = queryString.parse(queryParameters);

                if (parseInt(self.buildingType) !== parseInt(self.selected)) {
                    parsed.building_type = !isNaN(parseInt(self.selected))?parseInt(self.selected):'';
                } else if (parsed.building_type !== undefined) {
                    delete parsed.building_type;
                }

                if (parseInt(self.floorCountFrom) !== parseInt(self.floorsFrom)) {
                    parsed.floors_min = self.floorCountFrom;
                } else if (parsed.floors_min !== undefined) {
                    delete parsed.floors_min;
                }

                if (parseInt(self.floorCountTo) !== parseInt(self.floorsTo)) {
                    parsed.floors_max = self.floorCountTo;
                } else if (parsed.floors_max !== undefined) {
                    delete parsed.floors_max;
                }

                if (parseInt(self.priceRange[0]) !== parseInt(self.priceFrom)) {
                    parsed.price_min = self.priceRange[0];
                } else if (parsed.price_min !== undefined) {
                    delete parsed.price_min;
                }

                if (parseInt(self.priceRange[1]) !== parseInt(self.priceTo)) {
                    parsed.price_max = self.priceRange[1];
                } else if (parsed.price_max !== undefined) {
                    delete parsed.price_max;
                }


                if (parseInt(self.areaRange[0]) !== parseInt(self.areaFrom)) {
                    parsed.area_min = self.areaRange[0];
                } else if (parsed.area_min !== undefined) {
                    delete parsed.area_min;
                }

                if (parseInt(self.areaRange[1]) !== parseInt(self.areaTo)) {
                    parsed.area_max = self.areaRange[1];
                } else if (parsed.area_max !== undefined) {
                    delete parsed.area_max;
                }

                stringifiedParametrs = queryString.stringify(parsed);

                if (stringifiedParametrs.length) {
                    history.pushState('','',domain+'?'+stringifiedParametrs);
                } else {
                    history.pushState('','',domain);
                }

                this.$parent.$refs.buildinglist.initBuilding();
            }

        }

    }

</script>