<template>

    <div id="floors_container" class="floor-root-element">

        <div class="wrapper wrapper-content animated fadeInDown">

            <div class="ibox m-b-n">

                <div class="ibox-title">

                    <h5> {{ translate('messages.floors_list') }} </h5>

                    <div class="ibox-tools">

                        <a href="#" @click.prev="createFloor">{{ buttoncreate }}</a>

                        <a class="collapse-link">

                            <i class="fa fa-chevron-up"></i>

                        </a>

                    </div>

                </div>

                <div class="ibox-content">

                    <floor-item :floors="floors"></floor-item>

                </div>

            </div>

        </div>


        <!--<div class="row pull-right">-->

            <!--<div class="col-lg-12">-->

                <!--<button class="btn btn-primary" data-target="#floorZoneModal" data-toggle="modal" @click="createFloor">+ {{ buttoncreate }}</button>-->

            <!--</div>-->

        <!--</div>-->

    </div>

</template>

<script>

    export default {

        name: 'floors',

        template: '#floors_container',

        props: [
            'buttoncreate',
            'namespace',
            'architecture_id',
            'house_zone_placeholder',
            'f_key',
            'locale'
        ],

        data: function() {

            return {

                floors: [],

                house_zone: []

            }
        },

        created: function() {

            this.getHouseZone();

            this.getFloors();

        },

        computed: {

            getFloorList: function () {

                return this.floors;
            }
        },

        methods: {

            getFloors: function() {

                var self = this;

                var options = {
                    params: {
                        model_id: self.architecture_id,
                        f_key: self.f_key
                    }
                };

                this.$http.get("/api/floors", options).then(

                    function(response) {

                        $.each(response.data.floors, function(index, item){

                            self.floors.push(item);

                            if (item.house_zone_items.length) {

                                $.each(item.house_zone_items, function(index, zone) {

                                    self.$store.dispatch('mFloors/pushItem',{'zoneName':zone.name, 'zoneID':zone.id, value: zone.pivot.house_zone_value, 'floor': item.id});

                                });

                             }
                        });
                    }
                );

            },

            getHouseZone: function () {

                var self = this;

                this.$http.get("/api/house_zone").then(

                    function(response) {

                        self.$store.dispatch('mFloors/setHouseZone', response.data.house_zone);

                    }

                );
            },

            createFloor: function(e) {

                e.preventDefault();

                var self = this;

                var data = {

                    params: {

                        model_id: self.architecture_id,
                        f_key: self.f_key

                    }
                };

                this.$http.get("/api/floor/create/", data).then(function(response) {

                        self.floors.push(response.data.floor);

                    }
                );
            },

            translate: function(key) {
                if (this.locale !== undefined) {
                    Lang.setLocale(this.locale);
                }

                return Lang.get(key);
            },
        }
    }
</script>