<template>

    <div>

        <table class="table table-hover">

            <thead>

            <tr>
                <th>#</th>

                <th>{{ translate('messages.image') }}</th>

                <th>{{ translate('messages.label_area') }}</th>

                <th>{{ translate('messages.label_actions') }}</th>

            </tr>

            </thead>

            <tbody>

            <tr v-for="floor in floors">

                <td>{{floor.number}}</td>

                <td>

                    <img :src="getImagePath(floor.image[0])" alt="image" class="img-thumbnail img-md">

                </td>

                <td>{{floor.area}}</td>

                <td>

                    <button class="btn btn-info btn-circle btn-outline btn-edit" data-toggle="modal" data-target="#floorZoneModal" type="button" @click="modalFloorData(floor)">

                        <i class="fa fa-edit"></i>

                    </button>

                    <button class="btn btn-danger btn-circle btn-outline btn-delete" type="button" @click="removeFloor(floor)">

                        <i class="fa fa-trash-o"></i>

                    </button>

                </td>

            </tr>

            </tbody>

        </table>

        <modal v-if="floorForModal" :floor="floorForModal" v-on:modal-clear-event="modalFloorClearData"></modal>

    </div>

</template>

<script>

    export default {

        name: 'floorItem',

        props: ['floors'],

        data: function() {

            return {

                house_zone_items:this.getZoneItems,

                currentFloor: false
            }
        },

        computed: {

            floorForModal: function() {

                return this.currentFloor;
            }
        },

        methods: {

            modalFloorData: function(floor) {

                this.currentFloor = floor;

            },

            modalFloorClearData: function() {

                this.currentFloor = false;
            },

            getImagePath: function(image) {

                let path = '/img/common/placeholder.jpg';

                if (typeof image !== 'undefined') {

                    path = '/'+image.path+'/thumbnails/'+image.name;
                }

                return path;
            },

            removeFloor: function(floor) {

                var self = this;
                var data = new FormData();
                    data.append('floor_id', floor.id);
                    data.append('architecture_id', floor.architecture_id);

                swal({
                    title: 'Удалить?',
                    text: null,
                    type: "warning",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: 'Удалить',
                    cancelButtonText: 'Отмена',
                    showCancelButton: true,
                    closeOnConfirm: true,
                    closeOnCancel: false,
                    showLoaderOnConfirm: true,
                },
                function(isConfirm){

                    if (isConfirm) {

                        self.$http.post("/api/floor/remove", data).then(
                            function (response) {

                                let index;

                                for (var i = 0; i < self.floors.length; i++) {

                                    if (self.floors[i].id !== floor.id) {

                                        if (parseInt(self.floors[i].number) > 1) {

                                            self.floors[i].number = parseInt(self.floors[i].number) - 1;
                                        }

                                    } else {

                                        index = i;

                                    }
                                }

                                self.floors.splice(index, 1);

                                toastr.options = {
                                    "closeButton": true,
                                    "progressBar": true,
                                };

                                toastr.success('Элемент удален', 'Удалено!');
                            }
                        );

                    } else {
                        swal({
                            title: 'Операция отменена',
                            text: null,
                            type: "error",
                        });
                    }
                });
            },

            translate: function(key) {

                return Lang.get(key);
            },

        },

    }

</script>