<template>

    <div class="col-lg-6">

        <div class="col-lg-10 m-l-n">

            <label class="control-label">{{house_zone_data.zoneName}}</label>

            <input type="text" :placeholder="house_zone_data.zoneName" class="form-control" :name="getZoneNameAttr" :value="getZoneValueAttr" v-decimal-mask @keyup="changeZoneValue(house_zone_data.zoneID, $event)">

        </div>

        <div class="col-lg-2">

            <label class="control-label">&nbsp;</label>

            <button class="btn btn-danger btn-circle btn-outline btn-delete" type="button" @click="deleteItem(house_zone_data.zoneID)">

                <i class="fa fa-trash-o"></i>

            </button>

        </div>
    </div>

</template>

<script>
    import { _ } from 'lodash'
    import VueLodash from 'vue-lodash/dist/vue-lodash.min'
    export default {

        name: 'houseZoneListItem',

        props: ['house_zone_data'],

        data: function() {

            return  {

                floorNumber: this.$parent.getFloorNumber,

                floorId: this.$parent.getFloorID
            }
        },

        computed: {

            getZoneNameAttr: function() {

                return 'house_zone['+ this.house_zone_data.zoneID + '][][house_zone_value]';
            },

            getZoneValueAttr: function() {

                return this.house_zone_data.value;
            }
        },

        methods: {
            changeZoneValue: _.debounce(
                function(currZoneID, event){
                    let self = this;
                    let houseZone = self.$store.state.mFloors.house_zone_item;

                    for (var i = 0; i < houseZone.length; i++) {

                        if ( houseZone[i].zoneID == currZoneID && houseZone[i].floor == self.floorId && houseZone[i].value == event.target._value) {

                            houseZone[i].value = event.srcElement.value;

                            break;

                        }
                    }

                },
                500
            ),
            deleteItem: function(currZoneID) {

                var self = this;
                var houseZone = self.$store.state.mFloors.house_zone_item;

                for (var i = 0; i < houseZone.length; i++) {

                    if ( houseZone[i].zoneID == currZoneID && houseZone[i].floor == self.floorId) {

                        self.$store.dispatch('mFloors/popItem', i);

                        break;
                    }
                }
            }
        }
    }
</script>