<template>

    <div>

        <div class="ibox float-e-margins">

            <div class="ibox-title">

                <h5>
                    Зоны этажа

                    <small>Нажмите на стрелку чтобы раскрыть список</small>
                </h5>

                <div class="ibox-tools">

                    <a class="collapse-link" v-collapsed>

                        <i class="fa fa-chevron-down"></i>

                    </a>

                </div>

            </div>

            <div class="ibox-content zone-container">

                <table class="table table-hover">

                    <thead>

                        <tr>
                            <th>#</th>

                            <th>Зона</th>

                            <th>Кол-во</th>

                            <th>Активировать</th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr v-for="(zone, index) in house_zones">

                            <td>{{index}}</td>

                            <td>{{zone.name}}</td>

                            <td>

                                <input :id="zone.id" type="number" min="1" value="1">

                            </td>

                            <td>
                                <button type="button" class="btn btn-primary btn-circle btn-outline" @click="addToZoneList(zone)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>

    </div>

</template>

<script>

    export default {

        name: 'houseZoneCollapse',

        props: ['house_zones'],

        methods: {

            addToZoneList: function(zone) {

                var sameZonesCount = $('#'+zone.id).val();

                for(var i=0; i < sameZonesCount; i++) {

                    this.$store.dispatch('mFloors/pushItem',{'zoneName':zone.name, 'zoneID':zone.id, value: 0.00, 'floor':this.$parent.getFloorID});
                }
            }
        }
    }

</script>

<style>

    .zone-container {
        max-height: 375px;
        overflow-y: auto;
        display: none;
    }
</style>