<template>

    <div id="floorZoneModal" class="modal inmodal" aria-hidden="true" role="dialog" tabindex="-1" style="display: none;">

        <div class="modal-dialog">

            <div class="modal-content animated fadeIn">

                <div class="modal-header">

                    <h4 class="modal-title">Этаж номер {{ getFloorNumber }}</h4>

                    <!--<small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>-->

                </div>

                <div class="modal-body">

                    <form :id="formID" action="#" class="form-horizontal architecture-floor" enctype="multipart/form-data" method="POST">

                        <div class="row">

                            <div class="col-lg-offset-1 col-lg-4">

                                <input :id="getImageId" type="file" name="image" v-image_uploader="floor.image">

                                <div class="form-group">

                                    <div class="col-lg-12 b-m-n">

                                        <label class="control-label">Площадь</label>

                                        <div class="input-group">

                                            <input type="text" :value="getFloorArea" name="area" class="form-control area-input" v-decimal-mask>

                                            <span class="input-group-addon">

                                                m<sup><small>2</small></sup>

                                            </span>

                                        </div>

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-lg-12">

                                        <house-zone-collapse :house_zones="house_zones"></house-zone-collapse>

                                    </div>

                                </div>

                            </div>

                            <div class="col-lg-4 nopadding">

                                <div v-for="house_zone_item in getZoneItems" :id="getHouseZoneElementId" class="house_zone_input_list animated fadeInLeft">

                                    <house-zone-list-item :house_zone_data="house_zone_item"></house-zone-list-item>

                                </div>

                            </div>

                        </div>

                        <input type="hidden" name="id" :value="getFloorID">

                        <input type="hidden" name="number" :value="getFloorNumber"/>

                        <input type="hidden" name="_method" value="PUT">

                        <input type="hidden" name="architecture_id" :value="getArchitectureId">

                    </form>

                </div>

                <div class="modal-footer">

                    <button class="btn btn-white" data-dismiss="modal" type="button" @click="clearModalCurrentFloorData">Закрыть</button>

                    <button class="btn btn-primary" type="button" @click="onSubmit">Сохранить</button>

                </div>

            </div>

        </div>

    </div>

</template>

<script>

    import { _ } from 'lodash'
    import VueLodash from 'vue-lodash/dist/vue-lodash.min'

    export default {

        props: ['floor'],

        data: function() {

            return {
                house_zones: [],

                house_zone_items:this.getZoneItems
            }
        },

        created: function(){

            this.getHouseZone();
        },

        computed: {

            formAction: function() {

                return "/"+this.$parent.namespace+"/floors/"+this.$parent.architecture_id+"/edit";
            },

            formID: function() {

                return 'floor_form_' + this.floor.id;
            },

            getFloorNumber: function() {

                return this.floor.number;

            },

            getImageId: function() {

                return 'image_'+this.floor.id;

            },

            getHouseZoneElementId: function() {

                return 'houseZoneElement_'+this.floor.id;

            },

            getFloorArea: function() {

                let generalArea = 0.0;

                $.each(this.getZoneItems, function (k, item) {

                    generalArea += parseFloat(item.value);

                });

                return generalArea;

            },

            getHousePlaceHolder: function() {

                return this.$parent.house_zone_placeholder;
            },

            getFloorID: function () {

              return this.floor.id;

            },

            getArchitectureId: function () {

                return  this.floor.architecture_id;

            },

            getZoneItems: function() {

                var self = this;

                return this.$store.state.mFloors.house_zone_item.filter(function(item){

                    return item.floor == self.floor.id;
                });

            }
        },

        methods: {

            getHouseZone: function() {

                this.house_zones = this.$store.state.mFloors.house_zones;
            },

            clearModalCurrentFloorData: function() {

                this.$emit('modal-clear-event');
            },
            onSubmit: function (e) {

                var form = $('#' + this.formID);
                var data = form.serialize();
                var file = $('#'+this.getImageId).get(0).files[0];
                var formData = new FormData();
                    formData.append('data', data);
                    formData.append('image', file);

                var options = {

                    headers: { 'Content-Type': 'multipart/form-data' }
                };

                this.$http.post("/api/floor/update", formData, options)
                    .then(function (response) {
                        location.reload();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

        }
    }
</script>

<style type="text/css">
   #floorZoneModal .modal-dialog {
        width: 96%;
       margin: 30px 2% 0 2%;
   }
</style>