<template>

    <div class="ibox float-e-margins">

        <div class="ibox-title">

            <h5>Статистика</h5>

            <div class="pull-right">

                <div class="btn-group">

                    <button @click="refreshStatistics" id="d" type="button" class="btn btn-xs btn-white active">Ежедневно</button>

                    <button @click="refreshStatistics" id="m" type="button" class="btn btn-xs btn-white">Ежемесячно</button>

                    <button @click="refreshStatistics" id="Y" type="button" class="btn btn-xs btn-white">За год</button>

                </div>

            </div>

        </div>

        <div class="ibox-content">


            <div class="row">

                <div class="col-lg-9">

                    <canvas id="graphicCanvas" height="70"></canvas>

                </div>

                <div class="col-lg-3">

                    <ul class="stat-list">

                        <li>

                            <h2 class="no-margins">{{ getLandsCount }}</h2>

                            <small>Общее кол-во земельных участков</small>

                            <div class="stat-percent">{{ getLandsPercentage }}% <i class="fa fa-level-up text-navy"></i></div>

                            <div class="progress progress-mini">

                                <div :style="getLandsPercentageStyle" class="progress-bar"></div>

                            </div>

                        </li>

                        <li>

                            <h2 class="no-margins ">{{ getProjectsCount }}</h2>

                            <small>Общее кол-во проектов домов</small>

                            <div class="stat-percent">{{ getProjectsPercentage }}% <i class="fa fa-level-down text-navy"></i></div>

                            <div class="progress progress-mini">

                                <div :style="getProjectsPercentageStyle" class="progress-bar"></div>

                            </div>

                        </li>

                        <li>

                            <h2 class="no-margins ">{{ getBuildingsCount }}</h2>

                            <small>Общее кол-во домов в строительстве</small>

                            <div class="stat-percent">{{ getBuildingsPercentage }}% <i class="fa fa-bolt text-navy"></i></div>

                            <div class="progress progress-mini">

                                <div :style="getBuildingsPercentageStyle" class="progress-bar"></div>

                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

</template>

<script>
    export default ({

        name: 'barChart',

        props: [
            'landsDailyCount',
            'landsMonthlyCount',
            'landsAnnualCount',
            'projectsDailyCount',
            'projectsMonthlyCount',
            'projectsAnnualCount',
            'buildingsDailyCount',
            'buildingsMonthlyCount',
            'buildingsAnnualCount'
        ],

        data () {

            return {

                landsCount: this.landsDailyCount,

                projectsCount: this.projectsDailyCount,

                buildingsCount: this.buildingsDailyCount,

                landsPercentage: 0,

                projectsPercentage: 0,

                buildingsPercentage: 0

            }
        },

        mounted: function() {

            this.getStatistics();

        },

        computed: {

            getLandsCount() {

                return this.landsCount;
            },

            getProjectsCount() {

                return this.projectsCount;
            },

            getBuildingsCount() {

                return this.buildingsCount;
            },

            getLandsPercentage() {

                return this.landsPercentage;
            },

            getLandsPercentageStyle() {

                return "width: " + this.landsPercentage + "%";
            },

            getProjectsPercentage() {

                return this.projectsPercentage;
            },

            getProjectsPercentageStyle() {

                return "width: " + this.projectsPercentage + "%";;
            },

            getBuildingsPercentage() {

                return this.buildingsPercentage;
            },

            getBuildingsPercentageStyle() {

                return "width: " + this.buildingsPercentage + "%";;
            }
        },

        methods: {

            getStatistics(period) {

                period = (period != undefined) ? period:'d';

                let self = this;

                let options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formData = new FormData();

                formData.append('period', period);

                this.$http.post("/admin/getStatistics", formData, options).then(

                    function(response) {

                        let landChartArray = $.map(response.data.landsData, function(value) {
                            return [value];
                        });

                        let labels = $.map(response.data.landsData, function(value, index) {
                            return [index];
                        });

                        let projectChartArray = $.map(response.data.projectsData, function(value) {
                            return [value];
                        });

                        let buildingChartArray = $.map(response.data.buildingssData, function(value) {
                            return [value];
                        });

                        let ctx = $('#graphicCanvas');

                        let lineOptions = {

                            responsive: true,

                            scales: {

                                yAxes: [{

                                    ticks: {

                                        stepSize: 1
                                    }
                                }]
                            }
                        };

                        if (period == 'm') {

                            labels = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];
                        }

                        let lineData = {

                            labels: labels,

                            datasets: [
                                {
                                    label: "Земельные участки",
                                    backgroundColor: "rgba(26,179,148,0.5)",
                                    borderColor: "rgba(26,179,148,0.7)",
                                    pointBackgroundColor: "rgba(26,179,148,1)",
                                    pointBorderColor: "#fff",
                                    data: landChartArray,
                                },
                                {
                                    label: "Проекты домов",
                                    backgroundColor: "rgba(220,220,220,0.5)",
                                    borderColor: "rgba(220,220,220,1)",
                                    pointBackgroundColor: "rgba(220,220,220,1)",
                                    pointBorderColor: "#fff",
                                    data: projectChartArray,
                                },
                                {
                                    label: "Дома в строительстве",
                                    backgroundColor: "rgba(28,132,198,0.5)",
                                    borderColor: "rgba(28,132,198,1)",
                                    pointBackgroundColor: "rgba(28,132,198,1)",
                                    pointBorderColor: "#fff",
                                    data: buildingChartArray,
                                }
                            ]
                        };


                        if( window.myBar!==undefined)

                            window.myBar.destroy();

                        window.myBar = new Chart(ctx, {

                            type: 'bar',

                            data: lineData,

                            options:lineOptions

                        });

                        let landSum = landChartArray.reduce(function(a, b) { return a + b; }, 0);

                        self.landsPercentage = landSum?Number(Math.round((landSum / self.landsCount)+'e2')+'e-2'):0;

                        let projectsSum = projectChartArray.reduce(function(a, b) { return a + b; }, 0);

                        self.projectsPercentage = projectsSum?Number(Math.round((projectsSum / self.landsCount)+'e2')+'e-2'):0;

                        let buildingsSum = buildingChartArray.reduce(function(a, b) { return a + b; }, 0);

                        self.buildingsPercentage = buildingsSum?Number(Math.round((buildingsSum / self.landsCount)+'e2')+'e-2'):0;
                    }
                )
            },

            refreshStatistics(event) {

                this.getStatistics(event.target.id);

                $(event.target).parent().find("button").removeClass('active');

                $(event.target).addClass('active');

                if (event.target.id == 'd') {

                    this.landsCount = this.landsDailyCount;

                    this.projectsCount = this.projectsDailyCount;

                    this.buildingsCount = this.buildingsDailyCount;
                }

                if (event.target.id == 'm') {

                    this.landsCount = this.landsMonthlyCount;

                    this.projectsCount = this.projectsMonthlyCount;

                    this.buildingsCount = this.buildingsMonthlyCount;
                }

                if (event.target.id == 'Y') {

                    this.landsCount = this.landsAnnualCount;

                    this.projectsCount = this.projectsAnnualCount;

                    this.buildingsCount = this.buildingsAnnualCount;
                }
            },
        }
    })

</script>