@import "mixins/text.styl"
@import "mixins/background.styl"
@import "mixins/buttons.styl"
@import "mixins/forms.styl"

remify(value) {
	u = unit(value);

	if (u is 'px') {
		return unit(value/16, 'rem')
	}else if (u is 'em') {
		if (value < 16) {
			return unit(value/16, 'rem')
		}else {
			unit(16/value, 'rem')
		}
	} else {
		return unit(value, u)
	}
}