@import 'responsive/footer.styl'

@media (max-width 1600px)
	.b-navbar
		font-size 15px
		.b-navbar-nav
			li
				a
					padding 17px 20px
					// &.b-navbar-link__add
					// 	padding 16px 20px
		// &-logo
		// 	height 54px
		.b-dropdown-menu
			li
				a
					padding 10px 15px
// @media (max-width 1400px)
// 	.navbar-header 
// 		float none
// 	.navbar-left,.navbar-right
// 		float none !important
// 	.navbar-toggle
// 		display inline-block
// 	.navbar-collapse
// 		border-top 1px solid transparent
// 		box-shadow inset 0 1px 0 rgba(255,255,255,0.1)
// 	.navbar-fixed-top
// 		top 0
// 		border-width 0 0 1px
// 	.navbar-collapse.collapse
// 		display none!important
// 	.navbar-nav>li>a
// 		padding-top 10px
// 		padding-bottom 10px
// 	.collapse.in
// 		display block !important
@media (max-width 1400px)
	.b-list-objects
		&__item
			flex 0 1 49%
@media (max-width 1200px)
	.b-grid-cards
		&.b-grid-4
			>.b-grid-item
				padding 0.5rem
				flex 0 1 33%
	.b-navbar
		.b-navbar-nav
			li
				a
					padding 10px 10px
	.b-cards-home
		&__overlay
			padding 1rem
		.b-card-desc__list
			margin-bottom 1rem
			font-size $font-size--xs
			li
				margin-bottom 0.5rem
	.b-list-objects
		&__link
			padding 10px 10px 5px
		&__title
			font-size 1rem
		&__prices-all
			font-size 1.6rem
	$list-objects = '.b-list-objects'
	{$list-objects}
		&__architecture
			.b-list-objects
				&__link
					flex-wrap wrap
					padding 1rem
					&>div
						flex 0 1 100%
				&__img
					img
						width 100%
				&__content
					padding 0
		&__buildings
			{$list-objects}__country
				padding-bottom 1rem
				margin-bottom 1rem
		&__estimate
			padding-bottom 0.5rem
			margin-bottom 0.5rem
	.b-main
		min-height 65vh
		&-content__text-wrapper
			margin-top 7rem
@media (min-width 992px)
	.b-view
		&-map
			height 80vh
			position sticky
			top 0
	.b-view-inner.widescreen
		.b-list-objects__item
			flex 0 1 33%
@media (min-width 1400px)
	.b-view-inner.widescreen
		.b-list-objects__item
			flex 0 1 19%
@media (max-width 992px) 
	.navbar-header 
		float none
	.navbar-left,.navbar-right
		float none !important
	.navbar-toggle
		display inline-block
	.navbar-collapse
		border-top 1px solid transparent
		box-shadow inset 0 1px 0 rgba(255,255,255,0.1)
	.navbar-fixed-top
		top 0
		border-width 0 0 1px
	.navbar-collapse.collapse
		display none!important
	.navbar-nav>li>a
		padding-top 10px
		padding-bottom 10px
	.collapse.in
		display flex !important
		flex-wrap wrap
	.b-navbar
		display block
		text-align left
		padding 0
		&-collapse
			flex-wrap wrap
		&-logo
			margin-left 9px
		.b-navbar
			&-nav
				// display block
				// float none
				flex-wrap wrap
				margin 0
				li
					display block
					float none
					flex 0 1 100%
					a
						display inline-block
						// border-left 4px solid transparent
						&:hover,
						&:focus
							background-color transparent
							// border-color $color--green
							color $color--green
							&:before
								display none
					&.active
						a
							background-color transparent
							// border-color $color--green
							color $color--green
							&:before
								display none
	.b-topnav
		padding 0.5rem
	.b-grid
		&-header
			flex-wrap wrap
			&>.b-grid-item
				flex 1 100%
				margin-bottom 1rem
				&:first-child
					order 3
				&:last-child
					order 1
				&:nth-child(2)
					order 2
			.b-grid-item-modal
				&>.b-grid
					flex-direction row
					margin 0 -0.5rem
					.b-grid-item
						flex 0 1 50%
						margin-bottom 0
						padding 0 0.5rem
			.embed-responsive-100
				padding-top 65%
			.embed-responsive
				&-mob
					display block
				&-desktop
					display none
		// &-cards
		// 	&.b-grid-1
		// 		.b-card-img
		// 			height 100%
		// 			.embed-responsive
		// 				padding 0
		// 				height 100%
	.b-card
		font-size $font-size--xs
		&-img
			&__options
				font-size $font-size--xlg
	.b-footer
		&-advantages
			flex-wrap wrap
			justify-content space-between
			border-bottom 0
			padding-bottom 0
			margin-bottom 1rem
			.b-grid-item
				margin-bottom 3rem
				flex 1 33%
			&__img
				border-left 0
	.b-grid-cards
		&.b-grid-3
			>.b-grid-item
				padding 0.5rem
				flex 0 1 50%
	.b-object
		&-order
			text-align left
		.b-benefits-list
			font-size $font-size--xs
	.b-prices-nav
		font-size $font-size--sm
	.sidebar
		.b-tab-content__results
			flex-direction column
	.b-main
		min-height auto
		&-content
			padding 2.5rem 0
			&__text
				font-size 1.5rem
				&-wrapper
					margin-top 4rem
					font-size 1.5rem
					margin-bottom 1rem
					padding-bottom 1rem
		&-arrow
			bottom 1rem
			font-size 2rem
	.b-nav-pills
		li
			a
				padding 0.75rem
		&__icon
			margin-right 0.5rem
			img
				max-height 35px
	.b-home-objects
		flex-wrap wrap
		&__card
			flex 0 1 50%
		&__title
			font-size 1rem
	$list-objects = '.b-list-objects'
	{$list-objects}
		&__buildings
			{$list-objects}__params
				.item
					margin-right 1.5rem
					margin-bottom 0.5rem
		&__time
			padding-bottom 0.5rem
			margin-bottom 0.5rem
	.b-section-steps__list
		li
			flex 0 1 30%
	.b-media-wrapper
		margin-bottom 1.5rem
	.b-view
		&-map
			flex 0 1 0%
		&-lands
			flex  0 1 100%

@media (max-width 768px)
	// .b-header
	// 	.b-nav-pages
	// 		padding-left 1rem
	// 	.b-navbar-nav
	// 		.open
	// 			.b-dropdown-menu
	// 				li
	// 					a
	// 						color #fff
	// 						line-height 15px
	// .b-navbar
	// 	&-header
	// 		.b-logo
	// 			padding-left 15px
	// 	&-nav
	// 		margin 0
	// 		>li
	// 			float left
	// 			&.dropdown
	// 				.b-dropdown-menu
	// 					position absolute
	// 					top 100%
	// 					left 0
	// 					background-color #fff
	// 					min-width 200px
	// 					a
	// 						padding 0.9rem 1.5rem
	.b-main
		&-content
			padding-bottom 4rem
			&__text
				&:before
					left 50%
					transform translateX(-50%)
				&-wrapper
					margin-top 2rem
		.b-form-control
			margin-bottom 1rem
	.b-object
		&-img
			&__schema
				margin-bottom 1rem
				margin-top 1rem
		&-mapsize
			flex-direction column
		.b-benefits-list
			font-size $font-size--sm
	.b-prices-nav
		display flex
		flex-wrap nowrap
		text-align center
	.b-page-header
		margin-bottom $font-size--sm
		&__title
			font-size $font-size--lg
	.sidebar
		.b-tab-content__results
			flex-direction row
	//.b-object-img__section
	//	display none
	.b-main-content
		text-align center
		&__text
			font-size $font-size--xlg
	$list-objects = '.b-list-objects'
	{$list-objects}
		&__architecture
			{$list-objects}
				&__link
					flex-wrap no-wrap
					padding 1rem
					&>div
						flex 0 1 50%
				&__img
					img
						width auto
				&__content
					padding-left 1rem
				&__prices-all
					font-size 1.4rem
		&__buildings
			{$list-objects}
				&__link
					flex-wrap wrap
					padding 1.5rem
					&>div
						flex 0 1 100%
				&__content
					padding-left 0

	.b-article
		flex-wrap wrap
		&-item
			flex 0 1 33.3%
			margin 0 1rem 1rem
		.caption_title
			font-size 1.2rem
			margin-bottom 1rem
	// .b-sidebar-menu
	// 	font-size 1rem
	// 	&__link
	// 		padding 0.75rem 1rem
	.b-card
		&-desc
			&__list
				margin-bottom 1rem
			>a
				margin-bottom 1rem
	.b-lands-header
		flex-wrap wrap
		&__banner
			flex 1 100%
			margin-bottom 1rem
		&__map
			flex 1 100%
			height 175px
	.world-map__wrapper
		text-align center
		margin-bottom 1.5rem
		svg
			width 55%
	.b-partners__link
		flex 0 1 47%
	.google-marker-popup
		overflow-x hidden
		overflow-y auto
		height calc(100% + -2rem)
		top 0
		margin 1rem
	.b-filter
		transform translateY(-25%)
	.world-map
		border-width 10px
	.b-terms
		&-content
			padding 2.5rem 0
		&-title
			font-size 2rem
			margin-bottom 3rem
		&-list
			margin-bottom 2rem
@media (max-width 600px)
	// .b-header
	// 	.b-navbar-header
	// 		.b-logo
	// 			float none
	// 		.b-navbar-nav
	// 			float none !important
	// 			display flex
	// 			justify-content space-between
	// 			&:before,
	// 			&:after
	// 				display none
	// 			.dropdown
	// 				float none
	// 				&-toggle-desktop
	// 					display none
	// 				.btn-account
	// 					display inline-block
	// 					background-color transparent
	// 				&-account
	// 					order 2
	// 					.b-dropdown-menu
	// 						position fixed
	// 						top 0
	// 						left 0
	// 						width 100%
	// 						min-height 140px
	// 						display flex
	// 						align-items flex-end
	// 						justify-content space-around
	// 						z-index 5
	// 						font-size $font-size--sm
	// 						display flex
	// 						transform translateY(-100%)
	// 						transition all 0.4s ease-out
	// 						li
	// 							position relative
	// 							flex 1
	// 							text-align center
	// 							a
	// 								background-color #fff
	// 								color $color--black
	// 							&.divider
	// 								display none
	// 					&.open
	// 						.b-dropdown-menu
	// 							transform translateY(0)
	// 						.close-dropdown
	// 							display block
	// 				&-language
	// 					order 1
	// 			.b-navbar-toggle
	// 				order 3
	// 				float none
	.b-section
		padding-top 1rem
		padding-bottom 1rem
		&-home
			padding 1rem 0
		&-heading
			&__home-icon
				width 25px
				margin-right 5px
			&__title
				font-size $font-size--lg
		&-cards__nav
			font-size 1rem
			flex-wrap wrap
			&-title
				flex 1 100%
			&-item
				flex 0 1 45%
				padding-bottom 0.5rem
			&-title
				margin-top 16px
				margin-bottom 1rem
	.b-list-objects__architecture
		.b-list-objects
			&__link
				flex-wrap wrap
				&>div
					flex 0 1 100%
			&__img
				img
					width 100%
	.b-grid-header
		.b-grid-item-modal
			&>.b-grid
				flex-wrap wrap
				// .b-grid-item
				// 	flex 0 1 100%
				// 	margin-bottom 0.5rem
	.b-grid-cards
		margin 0
		// &.b-grid-1
		// 	.b-card-img
		// 		height 100%
		// 		.embed-responsive
		// 			padding 0
		// 			height 100%
		.embed-responsive-height
			padding-top 60%
	.b-footer-advantages
		.b-grid-item
			margin-bottom 1.5rem
	.b-tab-content__results
		display block
		text-align center
		.btn-reset
			display inline-block
			margin-bottom 1rem
		.b-btn
			width 100%
	.b-prices
		font-size $font-size--xs
	.b-object-title
		font-size $font-size--sm
	.l-inner-section
		padding 1rem 0
	.b-card
		flex-wrap wrap
		&-desc
			padding 0.5rem
			&__list
				margin-bottom 1rem
			&__title
				margin-bottom 1rem
			&__item-img
				width 15px
			.b-btn
				font-size 0.9rem
				padding 0.3em 0.5em
		&-img__map
			width 100%
			max-width 85px
			top 0
		.b-grid-item
			flex 1 100%
	.b-btn--size-main
		font-size 1rem
		&.b-btn--wide
			padding-left 1rem
			padding-right 1em
	.b-main
		&-content
			&__text
				font-size $font-size--lg
				margin-bottom 1rem
			&__video
				font-size 1rem
				padding 0.55rem 1.25rem
	.b-filter
		font-size $font-size--xs
	.b-nav-pills__icon
		display none
	.b-home-objects
		&__title
			margin-bottom 0.5rem
			min-height auto
		&__content
			font-size 0.9rem
	.b-article
		.counter
			right 7%
			height 40px
			width 40px
			line-height 40px
			font-size 1.25rem
	.b-image-card
		margin-bottom 1rem
	.b-terms
		&-content
			padding 2rem 0
		&-title
			font-size 1.5rem
			margin-bottom 1.5rem
		&-list
			margin-bottom 1.5rem
			&__arrow
				margin-top 6px
	.b-media
		font-size 0.8rem
		&-title
			font-size 1.25rem
	.b-list-objects__item
		flex 0 1 100%
@media (max-width 420px)
	.b-home-objects__card
		flex 0 1 100%
	.b-article
		&-item
			flex 0 1 75%
			margin 0 0 1rem
		.counter
			right 12%
	.b-partners__link
		flex 0 1 100%