@import "utilities/text.styl"
@import "utilities/background.styl"

.u-demo-iconmoon
	[class^="icon-"], [class*=" icon-"]
		font-size 3rem
		display inline-block
	.mhl
		display flex
		flex-direction row
		align-items flex-start
		justify-content flex-start
		flex-wrap wrap
		.glyph
			flex 0 0 20%
			padding 1rem
			margin 1rem 0
			text-align center
			.mls
				display block
			.fs0
				display none

.u-ff-intro
	ff_intro()
	font-weight $font-weight--ultra-bold
	h1, .h1,
	h2, .h1,
	h3, .h1,
	h4, .h1,
	h5, .h1,
	h6, .h1
		font-weight $font-weight--ultra-bold

.u-ff-ford-antenna
	ff_ford_antenna()