@media (max-width: 1200px)
    .b-advantages-card
        flex-direction column
        &__title
            padding-left 0
            padding-top 1rem
            text-align center

@media (max-width: 992px)
    .b-advantages-card
        &__img
            max-height 2rem

@media (max-width: 760px)
    .b-advantages-grid
        flex-wrap wrap
        justify-content center
        &__item
            flex 0 0 8rem
            border 0
            padding 0.5rem