<template>

    <div>

        <form action="" id="landFiltersForm" class="header_form" method="POST" @keydown.enter.prevent="filteredLandCount()">

            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group b-form-group">

                        <label class="b-form-group__label">

                            {{ translate('messages.label_home_autocomplete') }}

                        </label>
                        <vue-google-autocomplete
                                ref="address"
                                id="searchBox"
                                classname="form-control b-form-control b-form-control__norounded"
                                :placeholder="translate('messages.label_home_autocomplete_placeholder')"
                                :value="requestedCountry"
                                types="(regions)"
                                name="requestedString">
                        </vue-google-autocomplete>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">

                        <div class="col-sm-6">

                            <div class="form-group b-form-group">

                                <label class="b-form-group__label">

                                    {{ translate('messages.label_price') }} / <span class="u-text-color--green">&euro;</span>

                                </label>

                                <vue-range-slider
                                        ref="homeLandPriceRangeSlider"
                                        v-model="priceRange"
                                        :value="[priceAmountFrom, priceAmountTo]"
                                        :min="0"
                                        :max="priceAmountTo"
                                        :tooltip=false
                                        :process-style='{"background-color": "#80b600"}'
                                        :bg-style='{"background-color": "#fff"}'
                                        @drag-end="filteredLandCount">
                                </vue-range-slider>

                                <div class="b-grid b-grid-space-between">

                                    <div class="b-filter-wrapper">

                                        {{ translate('messages.label_from') }}

                                        <!--<span data-label="price_min" class="u-text-color&#45;&#45;white from-label"  @keypress="validateLabel($event)" @keyup="refreshRange($event, 'homeLandPriceRangeSlider')">{{ priceRange[0] }}</span>-->

                                        <input data-label="price_min" type="text" name="price_min" class="amount-from b-filter-input" :value="priceRange[0]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'homeLandPriceRangeSlider')"/>

                                        <!--&euro;-->

                                    </div>

                                    <div class="b-filter-wrapper">

                                        {{ translate('messages.label_to') }}

                                        <!--<span data-label="price_max" class="u-text-color&#45;&#45;white to-label" @keyup="refreshRange($event, 'homeLandPriceRangeSlider')">{{ priceRange[1] }}</span>-->

                                        <input type="text" name="price_max" class="amount-to b-filter-input" :value="priceRange[1]"/>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="col-sm-6">

                            <div class="form-group b-form-group">

                                <label class="b-form-group__label">

                                    {{ translate('messages.label_area') }} / <span class="u-text-color--green">{{ choice('messages.label_ares', 0) }}<sup>2</sup></span>

                                </label>

                                <vue-range-slider
                                        v-model="areaRange"
                                        ref="homeLandAreaRangeSlider"
                                        :value="[areaAmountFrom, areaAmountTo]"
                                        :min="0"
                                        :max="areaAmountTo"
                                        :tooltip=false
                                        :process-style='{"background-color": "#80b600"}'
                                        :bg-style='{"background-color": "#fff"}'
                                        @drag-end="filteredLandCount">
                                </vue-range-slider>

                                <div class="b-grid b-grid-space-between">

                                    <p>

                                        {{ translate('messages.label_from') }}

                                        <!--<span data-label="area_min" class="u-text-color&#45;&#45;white from-label" @keyup="refreshRange($event, 'homeLandAreaRangeSlider')">{{ areaRange[0] }}</span>-->

                                        <!--{{ choice('messages.label_ares', 0) }}-->

                                        <input data-label="area_min" type="text" class="amount-from b-filter-input" name="area_min" :value="areaRange[0]"/>

                                    </p>

                                    <p>

                                        {{ translate('messages.label_to') }}

                                        <!--<span data-label="area_max" class="u-text-color&#45;&#45;white to-label" @keyup="refreshRange($event, 'homeLandAreaRangeSlider')">{{ areaRange[1] }}</span>-->
                                        <!---->
                                        <!--{{ choice('messages.label_ares', 0) }}-->

                                        <input data-label="area_max" type="text" name="area_max" class="amount-to b-filter-input" :value="areaRange[1]"/>

                                    </p>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="b-grid b-grid-space-between b-grid-center b-tab-content__results">
                <p>
                    <span>{{ translate('messages.label_search_result') }} | {{ getFilteredLandCount }}</span>
                </p>
                <p>
                    <a role="button" href="#" class="btn-reset" @click.prevent="resetForm()">{{ translate('messages.label_reset') }}</a>
                    <button type="button" class="btn b-btn b-btn--color-green b-btn--wide b-btn--size-sm" @click.prevent="filterLands()">
                        {{ translate('messages.label_show') }}
                    </button>
                </p>
            </div>


        </form>

    </div>

</template>

<script>
    import _ from 'lodash';
    import * as Cookies from 'js-cookie';

    export default {

        name: 'homeLandFilter',

        props: ['priceFrom', 'priceTo', 'areaFrom', 'areaTo'],

        data() {
            return {

                foundLandCount: 0,

                requestedCountry: '',

                landCount: 0,

                priceRange: [parseInt(this.priceFrom), parseInt(this.priceTo)],

                areaRange: [parseInt(this.areaFrom), parseInt(this.areaTo)],

                priceAmountFrom: parseInt(this.priceFrom),

                priceAmountTo: parseInt(this.priceTo),

                areaAmountFrom: parseInt(this.areaFrom),

                areaAmountTo: parseInt(this.areaTo)

            }
        },

        components: {

        },

        mounted() {
            this.resetForm();
        },

        watch: {

        },

        computed: {

            getPriceFrom: function() {

                return this.priceAmountFrom;
            },
            getPriceTo: function() {

                return this.priceAmountTo;
            },
            getAreaFrom: function() {

                return this.areaAmountFrom;
            },
            getAreaTo: function() {

                return this.areaAmountTo;
            },
            getFilteredLandCount: function() {

                return this.landCount;
            }
        },

        methods: {
            getAddressData: function (addressData, placeResultData, id) {
                let address = addressData;
                console.log(address);
            },
            validateLabel: function(event) {
                return event.charCode >= 48 && event.charCode <= 57;
            },
            refreshRange: function(event, refComponent) {
                let self = this;
                let element = $(event.target);
                let label = $(element).data('label');
//                let numericNewValue = $(event.target).text().replace(/\D/g, '');
                let numericNewValue = $(event.target).val().replace(/\D/g, '');
                let rangeComponent = self.$refs[refComponent];
                let oldRangeArray = rangeComponent.getValue();
                let newRangeArray;

                switch(label) {
                    case 'price_min':
                        if( numericNewValue >= oldRangeArray[1]) {
                            numericNewValue = oldRangeArray[1] - 1;
                        }
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        break;
                    case 'area_min':
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        // set cleared value to label
                       break;
                    case 'price_max':
                    case 'area_max':
                        newRangeArray = [oldRangeArray[0], parseInt(numericNewValue)];
                        break;
                }

                self.$nextTick(function() {
                    // set new range
                    rangeComponent.setValue(newRangeArray, true);
                    // filter lands
                    self.filteredLandCount();
                });
            },

            filterLands: function() {

                let self = this;
                let formParams = $('#landFiltersForm').serializeArray();

                self.$store.dispatch('mLandFilter/setFormParams', formParams);

                window.location.href = Lang.getLocale() + "/lands";
            },

            resetForm: function() {
                let self = this;
                let priceRangeComponent = this.$refs.homeLandPriceRangeSlider;
                let areaRangeComponent = this.$refs.homeLandAreaRangeSlider;

                $('#landFiltersForm')[0].reset();

                self.priceAmountFrom = parseInt(self.priceFrom);
                self.priceAmountTo   = parseInt(self.priceTo);
                self.areaAmountFrom  = parseInt(self.areaFrom);
                self.areaAmountTo    = parseInt(self.areaTo);

                priceRangeComponent.setValue([0, parseInt(self.priceTo)], true);
                areaRangeComponent.setValue([0, parseInt(self.areaTo)], true);

                self.$store.dispatch('mLandFilter/setFormParams', '');

                if (Cookies.get('vuex')) {

                    Cookies.remove('vuex');
                }

                self.filteredLandCount();
            },

            filteredLandCount: function() {

                var self = this;

                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formParams = $('#landFiltersForm').serializeArray();
                let formData = new FormData();

                self.$store.dispatch('mLandFilter/setFormParams', formParams);

                $.each(formParams, function(index, obj) {
                    if (obj.value) {
                        if (obj.name === 'requested_country') {
                            obj.value = obj.value.replace(/[, .]+/g, " ")
                        }
                        formData.append(obj.name, obj.value);
                    }
                });

                this.$http.post("/" + Lang.getLocale() + "/getLandList", formData, options).then(

                    function(response) {

                        self.landCount = response.data.landCount;

                    }
                )
            },

            translate: function(key) {

                return Lang.get(key);
            },

            choice: function(key, count) {

                return Lang.choice(key, count);
            }

        }

    }

</script>

<style>

    .transition, .autocomplete, .showAll-transition, .autocomplete ul, .autocomplete ul li a{
        transition:all 0.3s ease-out;
        -moz-transition:all 0.3s ease-out;
        -webkit-transition:all 0.3s ease-out;
        -o-transition:all 0.3s ease-out;
    }

    .autocomplete ul{
        font-family: sans-serif;
        position: absolute;
        list-style: none;
        background: #f8f8f8;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
        min-width: 15%;
        margin-top: 10px;
    }

    .autocomplete ul:before{
        content: "";
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-bottom: 10px solid #f8f8f8;
        left: 46%;
        top: -20px
    }

    .autocomplete ul li a{
        text-decoration: none;
        display: block;
        background: #f8f8f8;
        color: #2b2b2b;
        padding: 5px;
        padding-left: 10px;
    }

    .autocomplete ul li a:hover, .autocomplete ul li.focus-list a{
        color: white;
        background: #2F9AF7;
    }

    .autocomplete ul li a span, /*backwards compat*/
    .autocomplete ul li a .autocomplete-anchor-label{
        display: block;
        margin-top: 3px;
        color: grey;
        font-size: 13px;
    }

    .autocomplete ul li a:hover .autocomplete-anchor-label,
    .autocomplete ul li.focus-list a span, /*backwards compat*/
    .autocomplete ul li a:hover .autocomplete-anchor-label,
    .autocomplete ul li.focus-list a span{ /*backwards compat*/
        color: white;
    }

</style>