m_btn_size(font-size)
	font-size font-size
	&.b-btn--rect
		padding 0.5em
		font-size $font-size--xlg
		line-height 1
		// width floor(unit((((font-size*$line-height--inputs) + remify(2px) + font-size) * 16), px))
	&.b-btn--wide
		padding-left 2em
		padding-right 2em
	&.b-btn--rounded
		border-radius (font-size*$line-height--inputs) + font-size

m_btn_color(bg-color, text-color, border-color)
	background-color bg-color
	color text-color
	border-color border-color
	&.b-btn--outline
		background-color transparent
		border-color bg-color
		color bg-color
		&.b-btn--color-gray
			color text-color
	&:hover
	&.hover
		background darken(bg-color, 10%)
		color text-color
		border-color darken(border-color, 10%)
		&.b-btn--outline
			background-color bg-color
	&:focus
	&.focus
		background darken(bg-color, 20%)
		border-color darken(border-color, 20%)
		color text-color
		&.b-btn--outline
			background darken(bg-color, 20%)