m_text_color(css-class, color)
	{css-class}
		color color

ff_roboto()
	font-family 'Roboto', sans-serif
ff_opensans()
	font-family 'Open Sans', sans-serif

ff_intro()
	font-family 'Intro', sans-serif

ff_intro_black()
	font-family 'Intro Black', sans-serif

ff_ford_antenna()
	font-family 'Ford Antenna', sans-serif