<template>

    <div>
        <div class="b-section-cards__nav">
            <!-- <a class="b-section-cards__nav-title" :href="getTitleLink">
                {{ componentTitle }} | <span class="u-text-color--green-darken">{{ landCount }}</span>
            </a> -->
            <a :href="getTitleLink" class="b-section-heading__title">
                <i class="b-section-heading__home-icon"><img src="/img/filters/street-map.png" alt=""></i>
                <span class="b-section-heading__title-self">{{ componentTitle }}</span> <span class="b-text-label">{{ landCount }}</span>
            </a>
            <div class="b-section-cards__nav-item">
                <b-form-select
                    v-model="sort"
                    class="mb-3 b-select"
                    @input="setHistoryState"
                >
                    <option value="">{{ translate('pagination.sort') }}</option>
                    <option value="price.asc">{{ translate('messages.label_price') }} A-Z</option>
                    <option value="price.desc">{{ translate('messages.label_price') }} Z-A</option>
                </b-form-select>
            </div>
            <!-- <div class="b-section-cards__nav-item">
                <b-form-select v-model="limit" class="mb-3 b-select" @input="setHistoryState">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                </b-form-select>
            </div> -->
        </div>

        <div class="b-list-objects__wrapper">

            <div class="b-list-objects__item" :class="classObjects" v-for="(land, key) in getLands" :key="key">
                <a :href="getShowLandPath(land)" class="b-list-objects__link b-list-objects__link-slider" :class="'b-objects-slider-' + key">
                    <div class="swiper-container b-list-objects__slider">
                        <div class="swiper-wrapper">
                            <div v-for="image in land.images" :key="image.id" class="swiper-slide">
                                <img :src="'/' + image.path + /thumbnails/+ image.name" alt="image" class="b-list-objects-img">
                            </div>
                        </div>
                        <div class="swiper-pagination" :class="'swiper-pagination-' + key"></div>

                        <div class="b-list-objects-btn b-list-objects-btn-prev" :class="'slider-btn-prev-' + key">
                            <i aria-hidden="true" class="btn-icon fa fa-angle-left"></i>
                        </div>
                        <div class="b-list-objects-btn b-list-objects-btn-next" :class="'slider-btn-next-' + key">
                            <i aria-hidden="true" class="btn-icon fa fa-angle-right"></i>
                        </div>
                        <div class="btn-favorite" :class="getClassForFavorite('land', land)" @click="toggleWishList(land.id, $event)">
                            <i class="btn-favorite-i fa fa-bookmark icon icon-on" aria-hidden="true"></i>
                            <i class="btn-favorite-i fa fa-bookmark-o icon icon-off" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="b-list-objects__content">
                        <p class="b-list-objects__title">{{ getAddressTitle(land) }}</p>
                        <p class="b-list-objects__country">{{ land.country }}</p>
                        <p class="b-list-objects__area">
                            <span>{{ formatEntire(land.area) }} {{ transChoice('messages.label_ares', formatEntire(land.area)) }}<sup>2</sup></span>
                            <span>{{ land.per_are }} €/м<sup>2</sup></span>
                        </p>
                        <ul class="b-list-objects__prices">
                            <li><span class="b-list-objects__prices-value">{{land.first_payment}} €</span> <span class="b-list-objects__prices-title">{{ translate('messages.label_first_payment') }}</span></li> <li class="b-list-objects__prices-all">
                                {{ formatPrice(land.price) }} €
                            </li>
                        </ul>
                    </div>
                </a>
                <!-- <div class="b-card b-grid">
                    <div class="b-grid-item b-grid-item--45">
                        <a :href="getShowLandPath(land)" class="b-card-img">
                            <div class="embed-responsive embed-responsive-height">
                                <div class="embed-responsive-item embed-bg-img" :style="getLandImage(land)"></div>
                            </div>
                        </a>
                    </div>
                    <div class="b-grid-item">
                        <div class="b-card-desc">
                            <a :href="getShowLandPath(land)" class="b-card-desc__title">{{ getAddressTitle(land) }}</a>
                            <ul class="b-card-desc__list">
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">ID</span>
                                    <span>{{ land.article }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_land_area') }}</span>
                                    <span>{{ formatEntire(land.area) }} {{ transChoice('messages.label_ares', formatEntire(land.area)) }}<sup>2</sup></span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_land_purpose') }}</span>
                                    <span>{{ getComputedTranslate(land.purpose) }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_land_size') }}</span>
                                    <span>{{ land.rectangle_width }} x {{ land.rectangle_length }} m</span>
                                </li>
                                <li v-if="land.from_city > 0" class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_from_city') }}</span>
                                    <span>{{ formatEntire(land.from_city) }} {{ translate('messages.label_km') }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_are_price') }}<sup>2</sup></span>
                                    <span class="u-text-color--green text-medium">{{ land.per_are }} €</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_land_price') }}</span>
                                    <span class="u-text-color--green-darken"><strong>{{ formatPrice(land.price) }} €</strong></span>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-4 col-xs-3">
                                    <div class="b-card-img__map" @click="showOnMap(land)">
                                        <img src="/img/pages/card-map.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-9">
                                    <div class="text-right">
                                        <a class="btn-favorite" :class="getClassForFavorite('land', land)" @click="toggleWishList(land.id, $event)" >
                                            {{ translate('messages.label_favorite') }}
                                            <i class="fa fa-bookmark icon icon-on" aria-hidden="true"></i>
                                            <i class="fa fa-bookmark-o icon icon-off" aria-hidden="true"></i>
                                        </a>
                                        <a :href="getShowLandPath(land)" class="btn b-btn b-btn--size-wide b-btn--color-green">{{ translate('messages.label_details') }}</a>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div> -->
                {{initCarousel(key)}}

            </div>

        </div>
        <div class="b-pagination-wrapper">
            <b-pagination
                    class="b-pagination"
                    v-model="currentPage"
                    :total-rows="landCount"
                    :limit="6"
                    :prev-text="'< - Prev'"
                    :next-text="'Next - >'"
                    @input="setHistoryState">
            </b-pagination>
        </div>
        <!-- <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="row">
                    <div class="col-xs-6">
                        <b-form-select v-model="sort" class="mb-3 b-select" @input="setHistoryState">
                            <option value="">{{ translate('pagination.sort') }}</option>
                            <option value="price.asc">{{ translate('messages.label_price') }} A-Z</option>
                            <option value="price.desc">{{ translate('messages.label_price') }} Z-A</option>
                        </b-form-select>
                    </div>
                    <div class="col-xs-6">
                        <b-form-select v-model="limit" class="mb-3 b-select" @input="setHistoryState">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </b-form-select>
                    </div>
                </div>
            </div>
        </div> -->

    </div>

</template>

<script>
    import _ from 'lodash'
    import InfiniteLoading from 'vue-infinite-loading'
    const queryString = require('query-string');
    export default {

        name: "landList",

        props: {
            related_to: {
                type: Number,
                default: 0
            },
            sortProp: {
                type: String,
                default: ''
            },
            limitProp: {
                type: Number,
                default: 10
            },
            offset: {
                type: Number,
                default: 0
            },
            page: {
                type: Number,
                default: 0
            },
            title: {
                type: String,
                default: ''
            },
            class_objects: {
                type: String,
                default: ''
            }
        },

        data() {
            return  {
                offsetData: this.offset,
                price: '',
                sort: this.sortProp,
                limit: parseInt(this.limitProp),
                doesShow: false,
                landCount: 0,
                currentPage: this.page,
                componentTitle: (this.title)?this.title:this.translate('messages.menu_lands_f'),
                classObjects: this.class_objects
            }
        },

        mounted() {
            this.getPaginationElements();
            // this.initCarousel();
        },

        computed:{

            getLands: function() {
                return this.$store.state.mLandFilter.lands;
            },

            getDoesShow: function() {
                return this.doesShow;
            },

            getTitleLink: function() {
                let link;

                if (!this.related_to) {
                    link = '/lands'
                } else {
                    link = '/related_lands/'+this.related_to;
                }

                return link;
            }
        },

        methods: {

            getPaginationElements() {
                var self = this;
                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                };

                let formParams = $('#landFiltersForm').serializeArray();
                let formData = new FormData();
                    formData.append('related_to', self.related_to);
                    if (self.$parent.$refs.landfilter !== undefined) {
                        formData.append('country_code', self.$parent.$refs.landfilter.countryIso2Code);
                    }
                    formData.append('sortby', self.sort);
                    formData.append('offsetData', (self.currentPage - 1) * (self.limit - 1));
                    formData.append('limit', parseInt(self.limit));

                $.each(formParams, function(index, obj) {
                    if (obj.value) {
                        if (obj.name === 'requested_country') {
                            obj.value = obj.value.replace(/[, .]+/g, " ")
                        }

                        if (obj.name === 'country_code' && obj.value === '') {
                            obj.value = self.$parent.$refs.landfilter.countryIso2Code;
                        }
                        formData.append(obj.name, obj.value);
                    }
                });

                this.$http.post("/" + Lang.getLocale() + "/getLandList", formData, options).then(
                    function(response) {
                        self.landCount = response.data.landCount;
                        //if (response.data.lands.length) {
                            self.$store.dispatch('mLandFilter/putLand', response.data.lands);
                            self.offsetData = self.$store.state.mLandFilter.lands.length;
                        //}
                        self.doesShow = true;
                    }
                )
            },

            getAddressTitle: function(land) {
                return land.address;
            },

            getLandImage: function(land) {
                let imageName = (typeof land.images[0] != undefined)?land.images[0].name:'';
                let style = 'background-image: url(';
                    style += '/img/uploads/lands/thumbnails/' + imageName;
                    style  += ')';

                return style;
            },

            getLandImagePath: function(land) {

                let imageName = (typeof land.images[0] != 'undefined')?land.images[0].name:'';

                let path = '/img/uploads/lands/thumbnails/' + imageName;

                return path;
            },

            getShowLandPath: function (land) {

                return '/land/' + land.id;
            },

            redirectLandPath: function (land) {

                window.location.href = '/land/' + land.id;
            },

            formatPrice(value) {

                let val = (value/1).toFixed(0).replace(',', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            },

            translate: function(key) {

                return Lang.get(key);
            },

            transChoice: function(key, count) {

                return Lang.choice(key, count);
            },

            formatEntire(value) {

                let val = (value/1).toFixed(0).replace(',', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            },

            getComputedTranslate: function(item) {

                return this.translate('messages.' + item.slug)
            },

            showOnMap: function(element) {

                let self = this;

                self.$parent.$refs.modalMap.setSinglePoint(element);

                $('#modalLandMap').modal('show');
            },

            getClassForFavorite: function(type, item) {

                let classes = type + '-' + item.id;

                if (item.is_favorite) {

                    classes += ' active';
                }

                return classes;
            },

            toggleWishList: function(element_id, event) {
                var self = this;
                var clickedElement = $(event.currentTarget);

                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formData = new FormData();
                formData.append('product_type', 'Land');
                formData.append('product_id', element_id);

                if ($(clickedElement).hasClass('active')) {

                    // let classes = $(clickedElement).attr('class');
                    $(clickedElement).removeClass('active');

                    // $('a[class="' + classes + '"]').each(function(index, value) {
                    //     $(value).removeClass('active');
                    // });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) - 1);

                    this.$http.delete("/" + Lang.getLocale() + "/wishlist/" + element_id + '|' + 'Land', formData, options).then(
                            function(response){

                            }
                    )
                } else {
                    // let classes = $(clickedElement).attr('class');
                    $(clickedElement).addClass('active');

                    // $('a[class="' + classes + '"]').each(function(index, value) {
                    //     $(value).addClass('active');
                    // });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) + 1);

                    this.$http.post("/" + Lang.getLocale() + "/wishlist", formData, options).then(
                            function(response){

                            }
                    )
                }

                $("#wl-success-alert").addClass('active');

                setTimeout(function() {
                    $("#wl-success-alert").removeClass('active');
                }, 1000);
            },

            setHistoryState: function() {
                let self = this;
                let stringifiedParametrs;
                let domain = location.origin+location.pathname;
                let parsed = queryString.parse(location.search);

                if (self.sortProp !== self.sort) {
                    parsed.sortby = self.sort;
                } else if (parsed.sortby !== undefined) {
                    delete parsed.sortby;
                }

                if (self.limitProp !== self.limit) {
                    parsed.limit = parseInt(self.limit);
                }  else if (parsed.limit !== undefined) {
                    delete parsed.limit;
                }

                if (parseInt(self.page) !== parseInt((self.currentPage))) {
                    parsed.page = self.currentPage;
                }

                stringifiedParametrs = queryString.stringify(parsed);
                if (stringifiedParametrs.length) {
                    history.pushState('','',domain+'?'+stringifiedParametrs);
                } else {
                    history.pushState('','',domain);
                }

                self.getPaginationElements();
            },

            initCarousel: function(key) {
                // alert(".b-objects-slider-"+ key);
                var slider = new Swiper(".b-objects-slider-"+ key, {
                    // Optional parameters
                    loop: true,
                    slidesPerView: 1,
                    spaceBetween: 0,
                    // Navigation arrows
                    navigation: {
                        nextEl: ".slider-btn-next-" + key,
                        prevEl: ".slider-btn-prev-" + key,
                    },
                    pagination: {
                        el: ".swiper-pagination-" + key,
                        type: 'bullets',
                    },
                });
            },
            initPropagation: function() {
                $('.b-list-objects__link').on('click', function(event) {
                    if($(event.target).hasClass('btn-favorite-i')) {
                        event.preventDefault();
                    }
                });
            },
        },
        updated: function () {
            this.$nextTick(function () {
                this.initPropagation();
            })
        },
        components: {
            InfiniteLoading,
        },
    }
</script>

<style>
    .image-placeholder {
        overflow: hidden;
        position: relative;
    }

    @-webkit-keyframes blick {
        0%   {left: -60%;}
        100% {left: 120%;}
    }

    /* Standard syntax */
    @keyframes blick {
        0%   {left: -60%;}
        100% {left: 120%;}
    }

    .image-placeholder:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: -60%;
        opacity: 0.6;
        background: -moz-linear-gradient(left, rgba(255,252,249,0.32) 0%, rgba(255,252,249,0.67) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,252,249,0.32) 0%,rgba(255,252,249,0.67) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,252,249,0.32) 0%,rgba(255,252,249,0.67) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52fffcf9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        transition: all 0.75s cubic-bezier(0.63, 0.24, 0.98, 0.81);
        animation: blick 0.7s infinite;
    }
    /* .b-list-objects__slider {
        width: 100%;
    } */
</style>