<template>
    <div class="b-search-form">
        <form id="landFiltersForm" action="" method="GET" @submit.prevent="filterLands()">
            <div class="form-group b-form-group">
                <label class="b-form-group__label">
                    {{ translate('messages.label_home_autocomplete') }}
                </label>
                <vue-google-autocomplete
                        ref="address"
                        v-model="requestedCountry"
                        id="searchBox"
                        :value="requestedCountry"
                        classname="form-control b-form-control b-form-control__norounded"
                        :placeholder="translate('messages.label_home_autocomplete_placeholder')"
                        types="(regions)"
                        name="requested_country">
                </vue-google-autocomplete>
                <input id="countryCode" type="hidden" name="country_code" :value="getCountryIso2Code">
            </div>
            <div class="form-group b-form-group">
                <div class="form-group b-form-group">
                    <label class="b-form-group__label">
                        {{ translate('messages.label_price') }} / <span class="u-text-color--gray">&euro;</span>
                    </label>
                    <vue-range-slider
                            ref="homeLandPriceRangeSlider"
                            v-model="priceRange"
                            :value="[priceAmountFrom, priceAmountTo]"
                            :min=0
                            :max=getMaxPrice
                            :tooltip=false
                            :process-style='{"background-color": "#80b600"}'
                            @drag-end="filterLands">
                    </vue-range-slider>
                    <div class="b-grid b-grid-wrap u-text-color--green b-grid-filter">
                        <div class="b-grid-item">
                            {{ translate('messages.label_from') }}
                            <!--<span class="u-text-color&#45;&#45;gray from-label">{{ priceRange[0] }}</span>-->
                            <div class="filter-input-wrapper">
                                <input data-label="price_min" type="text" name="price_min" class="filter-input amount-from" :value="priceRange[0]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'homeLandPriceRangeSlider')"/>
                            </div>
                            &euro;
                        </div>
                        <div class="b-grid-item">
                            {{ translate('messages.label_to') }}
                            <!--<span class="u-text-color&#45;&#45;gray to-label">{{ priceRange[1] }}</span>-->
                            <div class="filter-input-wrapper">
                                <input data-label="price_max" type="text" name="price_max" class="filter-input amount-to" :value="priceRange[1]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'homeLandPriceRangeSlider')"/>&euro;
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group b-form-group">
                <div class="form-group b-form-group">
                    <label class="b-form-group__label">
                        {{ translate('messages.label_area') }} / <span class="u-text-color--green">{{ choice('messages.label_ares', 0) }}<sup>2</sup></span>
                    </label>
                    <vue-range-slider
                            ref="homeLandAreaRangeSlider"
                            v-model="areaRange"
                            :value="[areaAmountFrom, areaAmountTo]"
                            :min=0
                            :max=getMaxArea
                            :tooltip=false
                            :process-style='{"background-color": "#80b600"}'
                            @drag-end="filterLands">
                    </vue-range-slider>

                    <div class="b-grid b-grid-wrap u-text-color--green b-grid-filter">
                        <div class="b-grid-item">
                            {{ translate('messages.label_from') }}
                            <!--<span class="u-text-color&#45;&#45;gray from-label">{{ areaRange[0] }}</span>-->
                            <!--{{ choice('messages.label_ares', 0) }}<sup>2</sup>-->
                            <div class="filter-input-wrapper">
                                <input data-label="area_min" type="text" class="filter-input amount-from" name="area_min" :value="areaRange[0]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'homeLandAreaRangeSlider')"/>
                            </div>
                        </div>
                        <div class="b-grid-item">
                            {{ translate('messages.label_to') }}
                            <!--<span class="u-text-color&#45;&#45;gray to-label">{{ areaRange[1] }}</span>-->
                            <!--{{ choice('messages.label_ares', 0) }}<sup>2</sup>-->
                            <div class="filter-input-wrapper">
                                <input data-label="area_max" type="text" name="area_max" class="filter-input amount-to" :value="areaRange[1]" onkeypress='return event.charCode >= 48 && event.charCode <= 57;' @change="refreshRange($event, 'homeLandAreaRangeSlider')"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-grid b-grid-space-between b-grid-center b-tab-content__results">
                <p>
                    <a role="button" href="#" class="btn-reset u-text-color--gray" @click.prevent="resetForm()">{{ translate('messages.label_reset') }}</a>
                </p>
            </div>
        </form>
    </div>
</template>

<script>
    import _ from 'lodash'
    // import * as Cookies from 'js-cookie'
    const queryString = require('query-string');
    export default{

        name: 'landFilter',

        props: ['incomingString', 'priceFrom', 'priceTo', 'priceMax','priceMin', 'areaFrom', 'areaTo', 'areaMax', 'areaMin', 'countryCode'],

        data() {

            return {
                requestedCountry: this.incomingString,

                foundLandCount: 0,

                landCount: 0,

                priceRange: [parseInt(this.priceFrom), parseInt(this.priceTo)],

                areaRange: [parseInt(this.areaFrom), parseInt(this.areaTo)],

                priceAmountFrom: parseInt(this.priceMin),

                priceAmountTo: parseInt(this.priceMax),

                areaAmountFrom: parseInt(this.areaMin),

                areaAmountTo: parseInt(this.areaMax),

                countryIso2Code: this.countryCode?this.countryCode:''

            }

        },

        components: {

        },

        mounted() {
            this.setRequestedString;
        },

        computed: {
            getMaxPrice: function() {
                return this.priceAmountTo;
            },

            getMaxArea: function() {
                return this.areaAmountTo;
            },

            setRequestedString: function () {
                let self = this;
                self.$refs.address.autocompleteText = self.requestedCountry;
            },

            getCountryIso2Code: function() {
                return this.countryIso2Code;
            }
        },

        methods: {
            filterLands: function() {
                this.prepareUrlString();
            },

            refreshRange: function(event, refComponent) {
                let self = this;
                let element = $(event.target);
                let label = $(element).data('label');
//                let numericNewValue = $(event.target).text().replace(/\D/g, '');
                let numericNewValue = $(event.target).val().replace(/\D/g, '');
                let rangeComponent = self.$refs[refComponent];
                let oldRangeArray = rangeComponent.getValue();
                let newRangeArray;

                switch(label) {
                    case 'price_min':
                        if( numericNewValue >= oldRangeArray[1]) {
                            numericNewValue = oldRangeArray[1] - 1;
                        }
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        break;
                    case 'area_min':
                        newRangeArray = [parseInt(numericNewValue), oldRangeArray[1]];
                        // set cleared value to label
                        break;
                    case 'price_max':
                    case 'area_max':
                        newRangeArray = [oldRangeArray[0], parseInt(numericNewValue)];
                        break;
                }

                self.$nextTick(function() {
                    // set new range
                    rangeComponent.setValue(newRangeArray, true);
                    // filter lands
                    self.filterLands();
                });
            },

            translate: function(key) {

                return Lang.get(key);
            },

            resetForm: function() {
                let self = this;

                $('#landFiltersForm')[0].reset();

                self.priceRange = [self.priceAmountFrom, parseInt(self.priceMax)];
                self.areaRange = [self.areaAmountFrom, parseInt(self.areaMax)];
                self.$refs.address.$el.value = '';
                //self.$store.dispatch('mLandFilter/setFormParams', '');

                self.prepareUrlString(null);
                // if (Cookies.get('vuex')) {
                //     Cookies.remove('vuex');
                // }

                self.filterLands();
            },

            choice: function(key, count) {
                return Lang.choice(key, count);
            },

            prepareUrlString(queryParameters = location.search) {
                let self = this;

                let stringifiedParametrs;
                let domain = location.origin+location.pathname;
                let parsed = queryString.parse(queryParameters);
                let autocomplete = self.$refs.address;

                if (autocomplete.$el.value) {
                    parsed.requested_country = autocomplete.$el.value;
                    self.$parent.$refs.landgooglemap.setCurrentCountry(self.countryIso2Code);
                } else if (parsed.requested_country !== undefined) {
                    delete parsed.requested_country;
                }

                if (parseInt(self.priceRange[0]) !== parseInt(self.priceFrom)) {
                    parsed.price_min = self.priceRange[0];
                } else if (parsed.price_min !== undefined) {
                    delete parsed.price_min;
                }

                if (parseInt(self.priceRange[1]) !== parseInt(self.priceTo)) {
                    parsed.price_max = self.priceRange[1];
                } else if (parsed.price_max !== undefined) {
                    delete parsed.price_max;
                }


                if (parseInt(self.areaRange[0]) !== parseInt(self.areaFrom)) {
                    parsed.area_min = self.areaRange[0];
                } else if (parsed.area_min !== undefined) {
                    delete parsed.area_min;
                }

                if (parseInt(self.areaRange[1]) !== parseInt(self.areaTo)) {
                    parsed.area_max = self.areaRange[1];
                } else if (parsed.area_max !== undefined) {
                    delete parsed.area_max;
                }

                stringifiedParametrs = queryString.stringify(parsed);
                if (stringifiedParametrs.length) {
                    history.pushState('','',domain+'?'+stringifiedParametrs);
                } else {
                    history.pushState('','',domain);
                }

                self.$parent.$refs.landlist.getPaginationElements();
            }

        }

    }

</script>

<style>

    .transition, .autocomplete, .showAll-transition, .autocomplete ul, .autocomplete ul li a{
        transition:all 0.3s ease-out;
        -moz-transition:all 0.3s ease-out;
        -webkit-transition:all 0.3s ease-out;
        -o-transition:all 0.3s ease-out;
    }

    .autocomplete ul{
        font-family: sans-serif;
        position: absolute;
        list-style: none;
        background: #f8f8f8;
        padding: 10px 0;
        margin: 0;
        display: inline-block;
        min-width: 15%;
        margin-top: 10px;
    }

    .autocomplete ul:before{
        content: "";
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        border: 10px solid transparent;
        border-bottom: 10px solid #f8f8f8;
        left: 46%;
        top: -20px
    }

    .autocomplete ul li a{
        text-decoration: none;
        display: block;
        background: #f8f8f8;
        color: #2b2b2b;
        padding: 5px;
        padding-left: 10px;
    }

    .autocomplete ul li a:hover, .autocomplete ul li.focus-list a{
        color: white;
        background: #2F9AF7;
    }

    .autocomplete ul li a span, /*backwards compat*/
    .autocomplete ul li a .autocomplete-anchor-label{
        display: block;
        margin-top: 3px;
        color: grey;
        font-size: 13px;
    }

    .autocomplete ul li a:hover .autocomplete-anchor-label,
    .autocomplete ul li.focus-list a span, /*backwards compat*/
    .autocomplete ul li a:hover .autocomplete-anchor-label,
    .autocomplete ul li.focus-list a span{ /*backwards compat*/
        color: white;
    }

</style>