<template>
    <input
            ref="autocomplete"
            type="text"
            :class="classname"
            :id="id"
            :name="name"
            :placeholder="placeholder"
            :value="defaultString"
            v-model="autocompleteText"
            @focus="onFocus()"
            @blur="onBlur()"
            @change="onChange"
            @keypress="onKeyPress"
    />
</template>

<script>
    export default {
        name: 'VueGoogleAutocomplete',

        props: {
          id: {
            type: String,
            required: true
          },

          name: {
            type: String,
            required: true
          },

          defaultString: {
            type: String,
            default: ''
          },

          classname: String,

          placeholder: {
            type: String,
            default: 'Start typing'
          },

          types: {
            type: String,
            default: ''
          },

          country: {
            type: [String, Array],
            default: null
          },

          enableGeolocation: {
            type: Boolean,
            default: false
          }
        },

        data: function () {
            return {
                /**
                 * The Autocomplete object.
                 *
                 * @type {Autocomplete}
                 * @link https://developers.google.com/maps/documentation/javascript/reference#Autocomplete
                 */
                autocomplete: null,

                /**
                 * Autocomplete input text
                 * @type {String}
                 */
                autocompleteText: ''
            }
        },

        watch: {
            autocompleteText: function (newVal, oldVal) {
                this.getPlaceByCountryName();
	            this.$emit('inputChange', { newVal, oldVal });
            }
        },

        mounted: function() {
            this.initialEvent();
        },

        methods: {
            getPlaceByCountryName: function() {
                let self = this;
                let geocoder = new google.maps.Geocoder();
                geocoder.geocode({
                    'address': self.autocompleteText
                },function(results, status) {
                    if (status === google.maps.GeocoderStatus.OK) {
                       self.autocomplete.set('place', results[0]);
                       //self.$emit('place_changed');
                    }
                })
            },
            initialEvent() {
                let self = this;
                const options = {};

                options.language = Lang.getLocale()+ '-' +Lang.getLocale().toUpperCase();

                if (this.types) {
                    options.types = [this.types];
                }

                if (this.country) {
                    options.componentRestrictions = {
                        country: this.country
                    };
                }

                this.autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById(this.id),
                    options
                );

                this.autocomplete.addListener('place_changed', function(){
                    let place = self.autocomplete.getPlace();
                    if (!place.geometry) {
                        // User entered the name of a Place that was not suggested and
                        // pressed the Enter key, or the Place Details request failed.
                        self.$emit('no-results-found', place);
                        return;
                    }

                    let addressComponents = {
                        neighborhood: 'long_name',
                        street_number: 'long_name',
                        route: 'long_name',
                        sublocality_level_1: 'long_name',
                        locality: 'long_name',
                        administrative_area_level_1: 'long_name',
                        administrative_area_level_2: 'long_name',
                        country: 'short_name'
                    };

                    let returnData = {};

                    if (place.address_components !== undefined) {
                        // Get each component of the address from the place details
                        for (let i = 0; i < place.address_components.length; i++) {
                            let addressType = place.address_components[i].types[0];
                            if (addressComponents[addressType]) {
                                let val = place.address_components[i][addressComponents[addressType]];
                                returnData[addressType] = val;
                            }
                        }

                        returnData['latitude'] = place.geometry.location.lat();
                        returnData['longitude'] = place.geometry.location.lng();

                        // return returnData object and PlaceResult object
                        self.$parent.countryIso2Code = returnData['country'].toLowerCase();
                        self.$emit('place_changed', returnData, place, self.id);
                        // update autocompleteText then emit change event
                        self.autocompleteText = document.getElementById(self.id).value;
                        self.onChange();
                    }
                });
            },
            /**
             * When the input gets focus
             */
            onFocus() {
              this.geolocate();
              this.$emit('focus');
            },

            /**
             * When the input loses focus
             */
            onBlur() {
              this.$emit('blur');
            },

            /**
             * When the input got changed
             */
            onChange() {
                this.$parent.filterLands();
                //this.$emit('change', this.autocompleteText);
            },

            /**
             * When a key gets pressed
             * @param  {Event} event A keypress event
             */
            onKeyPress(event) {
              this.$emit('keypress', event);
            },

            /**
             * Clear the input
             */
            clear() {
              this.autocompleteText = ''
            },

            /**
             * Focus the input
             */
            focus() {
              this.$refs.autocomplete.focus()
            },

            /**
             * Blur the input
             */
            blur() {
              this.$refs.autocomplete.blur()
            },

            /**
             * Update the value of the input
             * @param  {String} value
             */
            update (value) {
              this.autocompleteText = value
            },

            // Bias the autocomplete object to the user's geographical location,
            // as supplied by the browser's 'navigator.geolocation' object.
            geolocate() {

                if (this.enableGeolocation) {
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(position => {
                        let geolocation = {
                          lat: position.coords.latitude,
                          lng: position.coords.longitude
                        };
                        let circle = new google.maps.Circle({
                          center: geolocation,
                          radius: position.coords.accuracy
                        });
                        this.autocomplete.setBounds(circle.getBounds());
                      });
                    }
                }
            }
        }
    }
</script>
