<template>

    <div class="b-section b-section-cards">

        <div v-if="countLands > 0" class="b-section-cards__nav b-grid b-grid-space-between">

            <a class="b-section-cards__nav-title" :href="getLinkOnItems('lands')">

                {{ translate('messages.menu_lands_f') }} | <span class="u-text-color--green-darken">{{ getCountLands }}</span>

            </a>

        </div>

        <div v-if="countLands > 0" class="b-grid b-grid-1 b-grid-wrap b-grid-cards">
            <div class="b-grid-item" v-for="(land, key) in getLands">
                <input type="hidden" data-type="Land" name="products[]" :value="land.id">
                <div class="b-card b-grid">
                    <div class="b-grid-item b-grid-item--45">
                        <a :href="getLinkOnItem('land', land.id)" class="b-card-img">
                            <div class="embed-responsive embed-responsive-6by5">
                                <div class="embed-responsive-item embed-bg-img" :style="getImageBackground(land, 'lands')"></div>
                            </div>
                        </a>
                    </div>
                    <div class="b-grid-item">
                        <div class="b-card-desc">
                            <a :href="getLinkOnItem('land', land.id)" class="b-card-desc__title">{{ land.address }}</a>
                            <ul class="b-card-desc__list">
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate("messages.label_article") }}</span>
                                    <span>{{ land.article }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate("messages.label_area") }}</span>
                                    <span>{{ formatEntire(land.area) }} {{ transChoice('messages.label_ares', formatEntire(land.area)) }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate("messages.label_purpose_type") }}</span>
                                    <span>{{ getComputedTranslate(land.purpose) }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_land_size') }}</span>
                                    <span>{{ land.rectangle_width }} x {{ land.rectangle_length }} m</span>
                                </li>
                                <li v-if="land.from_city > 0" class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate("messages.label_from_city") }}</span>
                                    <span>{{ formatEntire(land.from_city) }} {{ translate("messages.label_km") }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate("messages.label_are_price") }}</span>
                                    <span class="u-text-color--green text-medium">{{ land.per_are }} €</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate("messages.label_land_price") }}</span>
                                    <span class="u-text-color--green-darken"><strong>{{ formatEntire(land.price) }} €</strong></span>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-4 col-xs-3">
                                    <div class="b-card-img__map land-map" @click="showOnMap(land)">
                                        <img src="/img/pages/card-map.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-8 col-xs-9">
                                    <div class="text-right">
                                        <a class="btn-favorite active" :class="getClassForFavorite('land', land.id)" @click="toggleWishList(land.id, $event, 'Land')">
                                            {{ translate('messages.label_favorite') }}
                                            <i class="fa fa-heart icon icon-on" aria-hidden="true"></i>
                                            <i class="fa fa-heart-o icon icon-off" aria-hidden="true"></i>
                                        </a>
                                        <a :href="getLinkOnItem('land', land.id)" class="btn b-btn b-btn--wide b-btn--color-green">
                                            {{ translate("messages.label_details") }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="countArchitectures > 0" class="b-section-cards__nav">

            <a class="b-section-cards__nav-title" :href="getLinkOnItems('architecture')">

                {{ translate('messages.menu_projects_f') }} | <span class="u-text-color--green-darken">{{ getCountArchitecture }}</span>

            </a>

        </div>

        <div v-if="countArchitectures > 0" class="b-grid b-grid-1 b-grid-wrap b-grid-cards">
            <div class="b-grid-item" v-for="(architecture, key) in getArchitecture">
                <input type="hidden" data-type="Architecture" name="products[]" :value="architecture.id">
                <div class="b-card b-grid">
                    <div class="b-grid-item b-grid-item--45">
                        <a :href="getLinkOnItem('architecture', architecture.id)" class="b-card-img">
                            <div class="embed-responsive embed-responsive-6by5">
                                <div class="embed-responsive-item embed-bg-img" :style="getImageBackground(architecture, 'architecture')"></div>
                            </div>
                        </a>
                    </div>
                    <div class="b-grid-item">
                        <div class="b-card-desc">
                            <a :href="getLinkOnItem('architecture', architecture.id)" class="b-card-desc__title">{{ architecture.title }}
                                <span class="u-text-color--gray-light">{{ formatEntire(architecture.general_area) }} m<sup>2</sup></span>
                            </a>
                            <ul class="b-card-desc__list">
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_article') }}</span>
                                    <span>{{ architecture.article }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_general_area') }}</span>
                                    <span>{{ formatEntire(architecture.general_area) }} m<sup>2</sup></span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_living_area') }}</span>
                                    <span>{{ formatEntire(architecture.living_area) }} m<sup>2</sup></span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_floors_capacity') }}</span>
                                    <span>{{ architecture.floors_number }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_rooms_number') }}</span>
                                    <span>{{ formatEntire(architecture.rooms_number) }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_building_size') }}</span>
                                    <span>{{ architecture.width+' x '+architecture.length }} m</span>
                                </li>

                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_construction_from') }}</span>
                                    <span class="u-text-color--green-darken"><strong>{{ formatEntire(architecture.full_low_price) }} €</strong></span>
                                </li>
                            </ul>
                            <div class="text-right">
                                <a class="btn-favorite active" :class="getClassForFavorite('architecture', architecture.id)" @click="toggleWishList(architecture.id, $event, 'Architecture')">
                                    {{ translate('messages.label_favorite') }}
                                    <i class="fa fa-heart icon icon-on" aria-hidden="true"></i>
                                    <i class="fa fa-heart-o icon icon-off" aria-hidden="true"></i>
                                </a>
                                <a :href="getLinkOnItem('architecture', architecture.id)" class="btn b-btn b-btn--size-def b-btn--color-green">
                                    {{ translate('messages.label_details') }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="countBuildings > 0" class="b-section-cards__nav">

            <a class="b-section-cards__nav-title" :href="getLinkOnItems('buildings')">

                {{ translate('messages.menu_buildings_f') }} | <span class="u-text-color--green-darken">{{ getCountBuildings }}</span>

            </a>

        </div>

        <div v-if="countBuildings > 0" class="b-grid b-grid-1 b-grid-wrap b-grid-cards">
            <div class="b-grid-item" v-for="(building, key) in getBuildings">
                <input type="hidden" data-type="Building" name="products[]" :value="building.id">
                <div class="b-card b-grid">
                    <div class="b-grid-item b-grid-item--45">
                        <a :href="getLinkOnItem('building', building.id)" class="b-card-img">
                            <div class="embed-responsive embed-responsive-6by5">
                                <div class="embed-responsive-item embed-bg-img" :style="getImageBackground(building, 'building')"></div>
                            </div>
                        </a>
                    </div>
                    <div class="b-grid-item">
                        <div class="b-card-desc">
                            <a :href="getLinkOnItem('building', building.id)" class="b-card-desc__title">{{ building.title }}
                                <span class="u-text-color--gray-light">{{ formatEntire(building.general_area) }} m<sup>2</sup></span>
                            </a>
                            <div>
                                <span class="u-text-color--gray-light">
                                    <!--{{ building.lands[0].address }}-->
                                </span>
                            </div>
                            <br>
                            <ul class="b-card-desc__list">
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_article') }}</span>
                                    <span>{{ building.article }}</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_readiness') }}</span>
                                    <span>{{ building.ready_percentage }} %</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_general_area') }}</span>
                                    <span>{{ formatEntire(building.general_area) }} m<sup>2</sup></span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_living_area') }}</span>
                                    <span>{{ formatEntire(building.living_area) }} m<sup>2</sup></span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_building_size') }}</span>
                                    <span>{{ building.width+' x '+building.length }} m</span>
                                </li>
                                <li class="b-grid b-grid-space-between">
                                    <span class="b-card-desc__list-key">{{ translate('messages.label_cost') }}</span>
                                    <span class="u-text-color--green-darken"><strong>{{ formatEntire(building.building_price) }} €</strong></span>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="b-card-img__map" @click="showOnMap(building.lands[0])">
                                        <img src="/img/pages/card-map.png" alt="" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="text-right">
                                        <a class="btn-favorite active" :class="getClassForFavorite('building', building.id)" @click="toggleWishList(building.id, $event, 'Building')">
                                            {{ translate('messages.label_favorite') }}
                                            <i class="fa fa-heart icon icon-on" aria-hidden="true"></i>
                                            <i class="fa fa-heart-o icon icon-off" aria-hidden="true"></i>
                                        </a>
                                        <a :href="getLinkOnItem('building', building.id)" class="btn b-btn b-btn--size-def b-btn--color-green">
                                            {{ translate('messages.label_details') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="!countLands && !countArchitectures && !countBuildings">
            <span>{{ translate('messages.text_no_items_wishlist') }}</span>
        </div>
        <div v-if="countLands || countArchitectures || countBuildings" class="row">
            <div class="col-md-12">
                <button data-toggle="modal" data-target="#wishlistOrderModal" class="btn b-btn b-btn--size-def b-btn--color-green">
                    {{ translate('messages.label_send_request') }}
                </button>
            </div>
        </div>

    </div>

</template>

<script>

    export default {

        name: "wishlist",

        props: [],

        data() {
            return  {

                lands: [],

                architecture: [],

                buildings: [],

                countLands: 0,

                countArchitectures: 0,

                countBuildings: 0
            }
        },

        created() {

            this.initWishlist();
        },

        computed:{

            getLands: function() {

                return this.lands;

            },

            getArchitecture: function() {

                return this.architecture;

            },

            getBuildings: function() {

                return this.buildings;

            },

            getDoesShow: function() {

                return this.doesShow;
            },

            getCountLands: function() {

                return this.countLands;

            },

            getCountArchitecture: function() {

                return this.countArchitectures;

            },

            getCountBuildings: function() {

                return this.countBuildings;

            },
        },

        methods: {

            initWishlist: function() {

                var self = this;

                var options = {

                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                };

                this.$http.post("/" + Lang.getLocale() + "/getWishlist", options).then(

                    function(response) {

                        $.each(response.data.lands, function(index, item){

                            self.lands.push(item);

                            self.countLands++;

                        });

                        $.each(response.data.architectures, function(index, item){

                            self.architecture.push(item);

                            self.countArchitectures++;

                        });

                        $.each(response.data.buildings, function(index, item){

                            self.buildings.push(item);

                            self.countBuildings++;

                        });

                    }
                );

            },

            getLinkOnItems: function(model) {

                return '/' + Lang.getLocale() + '/' + model;
            },

            getLinkOnItem: function(model, id) {

                return '/' + Lang.getLocale() + '/' + model + '/' + id;
            },

            getImageBackground: function(model, type) {

                let imageName = (model.images[0] != undefined)?model.images[0].name:'';

                let style = 'background-image: url(';
                style += '/img/uploads/' + type + '/thumbnails/' + imageName;
                style += ')';

                return style;
            },

            formatEntire(value) {

                let val = (value/1).toFixed(0).replace(',', '.');
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
            },

            translate: function(key) {

                return Lang.get(key);
            },

            transChoice: function(key, count) {

                return Lang.choice(key, count);
            },

            getComputedTranslate: function(item) {

                return this.translate('messages.' + item.slug)
            },

            showOnMap: function(element) {

                let self = this;

                self.$parent.$refs.modalMap.setSinglePoint(element);

                $('#modalLandMap').modal('show');
            },

            formatDate(value) {

                var options = { year: 'numeric', month: 'long'};
                var date  = new Date(value);

                return date.toLocaleDateString("ru-RU",options);
            },

            getClassForFavorite: function(type, id) {

                return type + '-' + id;
            },

            toggleWishList: function(element_id, event, type) {
                var self = this;
                var clickedElement = $(event.currentTarget);

                var options = {
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                };

                let formData = new FormData();
                formData.append('product_type', type);
                formData.append('product_id', element_id);

                if ($(clickedElement).hasClass('active')) {

                    let classes = $(clickedElement).attr('class');

                    $('a[class="' + classes + '"]').each(function(index, value) {
                        $(value).removeClass('active');
                    });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) - 1);

                    self.$http.delete("/" + Lang.getLocale() + "/wishlist/" + element_id + '|' + type, formData, options).then(
                        function(response){

                        }
                    )
                } else {
                    let classes = $(clickedElement).attr('class');

                    $('a[class="' + classes + '"]').each(function(index, value) {
                        $(value).addClass('active');
                    });

                    $('#wishlistCountItems').text(parseInt($('#wishlistCountItems').text()) + 1);

                    self.$http.post("/" + Lang.getLocale() + "/wishlist", formData, options).then(
                        function(response){

                        }
                    )
                }

                $(clickedElement).closest('.b-grid-cards > .b-grid-item').fadeOut(300);

                if (type == 'Land') {

                    self.countLands--;

                } else if (type == 'Architecture') {

                    self.countArchitectures--;

                } else {

                    self.countBuildings--;
                }

            }
        }
    }
</script>

<style>
    .image-placeholder {
        overflow: hidden;
        position: relative;
    }

    @-webkit-keyframes blick {
        0%   {left: -60%;}
        100% {left: 120%;}
    }

    /* Standard syntax */
    @keyframes blick {
        0%   {left: -60%;}
        100% {left: 120%;}
    }

    .image-placeholder:before {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        left: -60%;
        opacity: 0.6;
        background: -moz-linear-gradient(left, rgba(255,252,249,0.32) 0%, rgba(255,252,249,0.67) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,252,249,0.32) 0%,rgba(255,252,249,0.67) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,252,249,0.32) 0%,rgba(255,252,249,0.67) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52fffcf9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        transition: all 0.75s cubic-bezier(0.63, 0.24, 0.98, 0.81);
        animation: blick 0.7s infinite;
    }
</style>