.b-about
    &-header
        position relative
        margin-bottom 1rem
        &-img
            display block
            width 100%
        &-title
            position relative
            padding-bottom 1rem
            margin-bottom 1rem
            &:before
                content ''
                display block
                position absolute
                bottom 0
                left 50%
                transform translateX(-50%)
                height 4px
                width 40%
                background-color #fff
            &__wrapper
                display inline-block
                position absolute
                top 12%
                left 50%
                transform translateX(-50%)
                color #fff
                font-size 1.9rem
                text-transform uppercase
    &-section
        text-align center
        &-text
            margin-bottom 2rem
    &-list
        list-style none
        padding 0
        padding-top 2rem
        margin 0
        margin-bottom 3rem
        display flex
        color $color--gray-darken
        li
            justify-content space-between
            flex 1 33.3%
        &-img
            margin-bottom 1.5rem
            max-width 100%
        &-text
            position relative
            font-size 1.1rem
            padding-top 1.5rem
            font-weight 600
            &:before
                content ''
                display block
                position absolute
                top 0
                left 50%
                transform translateX(-50%)
                height 4px
                width 80px
                background-color $color--green
            span
                color $color--green
                display block
                font-size 1.9rem
                font-weight 300
    &-partner
        text-align center
        padding 3rem 0
        &-header
            &__title
                position relative
                padding-bottom 1.5rem
                margin-bottom 1.5rem
                text-transform uppercase
                font-size 1.9rem
                &:before
                    content ''
                    display block
                    position absolute
                    bottom 0
                    left 50%
                    transform translateX(-50%)
                    height 4px
                    width 150px
                    background-color #b3b3b3
            &__subtitle
                margin-bottom 3rem
        &-video
            border 10px solid #fff