.b-grid-header
	&>.b-grid-item
		padding 0 0.5rem
		&__mb
			&-1
				margin-bottom 1rem
	.icon-play
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		z-index 5
		font-size 3rem
		opacity 0.5
	.embed-responsive-modal
		cursor pointer
		&:hover,
		&:focus
			.embed-bg-img
				transform scale(1.05)
	.embed-responsive
		&-mob
			display none

.b-section
	&-cards
		padding-top 0
		&__nav
			font-size $font-size--md
			border-bottom 1px solid $color--gray-lighter
			margin-bottom 1rem
			display flex
			flex-wrap nowrap
			justify-content space-between
			&-title
				color $color--black
				margin-top 14px
				&:hover
					color $color--green
					text-decoration none
.view-mode
	list-style none
	li
		margin-left 3px
	a
		color $color--gray-light
		padding 0 0.2rem
		display inline-block
		&.active,
		&:hover
			color $color--green

.b-main
	background #f2f2f2 url('../../../img/main-bg.jpg') center center no-repeat
	background-size cover
	min-height 75vh
	display flex
	flex-direction column
	justify-content space-between
	margin-bottom 1rem
	position relative
	.b-navbar
		border 1px solid $color--gray
	&-content
		text-align left
		color #fff
		padding-top 5rem
		padding-bottom 5rem
		position relative
		&__text
			margin 0
			font-weight 400
			font-size 1.90rem
			line-height 1.4
			&-wrapper
				font-size 1.90rem
				margin-bottom 1.5rem
				padding-bottom 1.5rem
				position relative
				margin-top 15rem
			&:before
				content ''
				position absolute
				bottom 0
				left 0
				height 4px
				width 175px
				background-color $color--green
		&__btn
			display inline-block
			color #fff
			vertical-align middle
			font-size 1.15rem
			line-height 1
			border 1px solid #fff
			padding 0.7rem 1.2rem
			border-radius 2px
			&:hover,
			&:focus
				color $color--green
				text-decoration none
			&:first-of-type
				margin-right 1.5rem
	&-social
		position absolute
		bottom 4rem
		right 1rem
		&__list
			padding 0
			margin 0
			list-style none
			text-align center
			li
				margin-bottom 0.5rem
			a
				color #fff
				display block
				transition all 0.1s linear
				padding 5px
				&:hover,
				&:focus
					color $color--green
	&-arrow
		position absolute
		bottom 2rem
		left 50%
		transform translate(-50%, 0)
		color #fff
		font-size 3rem
		animation fade-arrow 5s linear 1s infinite alternate-reverse

@keyframes fade-arrow
	0%
		transform translate(-50%, 0)
	40%
		transform translate(-50%, 0)
	45%
		transform translate(-50%, 5px)
	50%
		transform translate(-50%, 2px)
	55%
		transform translate(-50%, 5px)
	60%
		transform translate(-50%, 0)
	100%
		transform translate(-50%, 0)
$b-block = '.b-cards-home';
{$b-block}
	color #fff
	position relative
	&__heading
		position absolute
		top 1rem
		left 1rem
	&__title
		background-color rgba(0, 0, 0, 0.5)
		padding 0.5rem 1.5rem
		margin-bottom 1rem
		font-size $font-size--md
	&__area
		background-color rgba(0, 0, 0, 0.5)
		padding 0.5rem 1.5rem
		font-size $font-size--xs
		display inline-block
	&__price
		position absolute
		bottom 1rem
		right 1rem
		background-color rgba(0, 0, 0, 0.5)
		padding 1rem 1.5rem
		font-size $font-size--md
		display inline-block
	&__overlay
		position absolute
		z-index 5
		top 0
		left 0
		background-color rgba(0, 0, 0, 0.5)
		height 100%
		width 100%
		padding 2rem
		opacity 0
		visibility hidden
		transition all 0.2s ease-out
		&-title
			font-size $font-size--md
		.b-card-img__map
			right auto
			left 2rem
		.btn-favorite
			color #fff
			.icon
				color #fff
	&__map
		display inline-block
		width 85px
		transition all 0.2s ease-out
		&:hover
			transform scale(1.05)
	.b-card-desc__list
		margin-bottom 2rem
		li
			align-items baseline
			&:before
				display none
			span
				background none
				flex 0 0 auto
			.b-card-desc__list-border
				flex 0 1 100%
				border-bottom 1px dotted rgba(255,255,255,0.5)
	&__item
		position relative
		transition all 0.2s ease-out
		margin-bottom 2rem
		&:hover
			{$b-block}
				&__main
					opacity 0
					visibility hidden
				&__overlay
					visibility visible
					opacity 1
.b-article
	display flex
	flex-direction row
	align-items stretch
	justify-content space-around
	text-align center
	flex-wrap nowrap
	&-item
		flex 1 0 33.3%
		margin 0 2rem
		margin-bottom 1rem
		&__img
			position relative
			display block
			height 0
			padding 0
			padding-bottom 100%
			overflow hidden
			margin-bottom 1.5rem
	.img_object
		overflow hidden
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		width 100%
		height 100%
		background-position center center
		background-size cover
		background-repeat no-repeat
		border-radius 50%
	.counter
		position absolute
		bottom 6px
		right 11%
		background-color $color--green-light
		color #fff
		x = 50px
		height x
		width x
		line-height x
		border-radius 50%
		font-size $font-size--xlg
		font-weight 700
	.caption_title
		font-size $font-size--xlg
		margin-bottom 1.5rem

.b-home-objects
	display flex
	font-size $font-size--md
	margin-left -0.5rem
	margin-right -0.5rem
	&__card
		flex 0 1 25%
		padding 0.5rem
	&__link
		display block
		color $color--black
		background-color #fff
		border 1px solid #ccc
		height 100%
		&:hover,
		&:focus
			color $color--black
			text-decoration none
			box-shadow 3px 5px 6px #ccc
	&__img
		width 100%
		img
			max-width 100%
	&__content
		font-size $font-size--xs
		padding 1rem 1rem 0
		position relative
		z-index 5
	&__title
		margin-bottom 1rem
		min-height 50px
		font-size 1.1rem
	&__area
		line-height 2
	&__params
		list-style none
		padding 0
		margin 0
		margin-bottom 1rem
		display flex
		font-size $font-size--lg
		.item
			flex 0 1 25%
			&-icon
				margin-right 0.25rem
				color #b1b4b5
				font-size $font-size--md
				&-stars
					height 15px
					width 23px
					display inline-block
	&__desc-list
		margin-bottom 5px
		.icon
			font-weight bold
			margin-right 3px
			width 15px
			text-align center

.world-map
	display inline-block
	background-color rgba($color--black, 0.3)
	border 15px solid rgba(255,255,255,0.05)
	border-radius 50%
	color #fff
	max-width 425px
	box-shadow inset 0px 0px 11px rgba(0, 0, 0, 0.46), 0px 0px 16px 3px rgba(3, 3, 3, 0.46)
	&__wrapper
		position relative
		text-align center
		margin-bottom 2rem
	path
		fill rgba($color--gray, 0.5)
		cursor pointer
		stroke $color--gray-darken
		transition all ease-in-out 0.5s
		&.active
			fill $color--gray
			&:hover,
			&:focus
				fill $color--green
		&.on
			fill $color--green
			transition all ease-in-out 0.5s
	text
		fill #fff
		pointer-events none

.world-info
	position absolute
	top 0
	left 0
	z-index 1
	background-color #fff
	color $color--green-light
	font-weight 500
	text-align center
	font-size $font-size--lg
	min-width 135px
	display none
	&__inner
		position relative
		padding 0.75rem 1rem
		&:before
			content ''
			position absolute
			left 0
			top 100%
			width 0
			height 0
			border-top 15px solid #fff
			border-right 11px solid transparent
	&__icon
		margin-right 7px

	&__count
		color $color--black
		display block
		font-weight 400
		font-size $font-size--md

.b-country
	&-dropdown
		display inline-block
		&__wrapper
			text-align center
		&__link
			color #fff
			text-decoration underline
			font-weight 600
			&:hover,
			&:focus
				color $color--green-light
		.triangle
			color $color--green-light
		.b-dropdown-menu
			padding 0
			margin-top 1rem
			li
				a
					padding 10px 15px
					&:hover,
					&:focus
						&:before
							display none
			.divider
				margin 1px 0
	&-icon
		color #fff
		margin-right 4px

.b-section-steps
	padding 1rem 0
	color $color--gray-darken
	font-size 1.15rem
	font-weight 600
	background-color #f2f2f2
	&__title
		position relative
		text-align center
		padding-bottom 1rem
		margin-bottom 1.5rem
		&:before
			content ''
			position absolute
			bottom 0
			left 50%
			transform translateX(-50%)
			display block
			width 125px
			height 3px
			background-color #b3b3b3
	&__list
		padding 0
		margin 0
		display block
		text-align center
		list-style none
		display flex
		flex-wrap nowrap
		justify-content center
		align-items stretch
		li
			display inline-block
			vertical-align top
			margin 0
			flex 0 1 20%
			&:last-child
				.count
					left auto
					right -2rem
		.line
			align-self center
			margin 0
			flex 0 1 15%
			transform translateY(-50px)
			&-img
				width 100%
		.count
			color #b3b3b3
			font-size 2.5rem
			position absolute
			top 44%
			left -2rem
			transform translate(0, -50%)
			font-weight 400
	&__header
		display inline-block
		position relative
		margin-bottom 1rem
		padding-bottom 1.25rem
		width 70%
		img
			max-width 100%
		&:before
			content ''
			position absolute
			bottom 0
			left 50%
			transform translateX(-50%)
			display block
			width 80px
			height 3px
			background-color $color--green
	&__content
		margin-bottom 1rem

$block = '.b-list-objects';
{$block}
	&__wrapper
		display flex
		flex-wrap wrap
		justify-content flex-start
		margin 0 -0.5rem
		.b-list-objects__time
			margin-bottom 1.5rem
	&__item
		flex 0 1 31%
		margin 0 0.5rem
		margin-bottom 1rem
		&--building
			&:first-child
				flex 0 1 100%
				.b-list-objects
					&__slider
						flex 0 1 50%
					&__content
						flex 0 1 50%
						padding-left 1rem
						font-size 0.85rem
					&__link-slider
						display flex
					&__title
						margin-bottom 5px
					&__country
						padding-bottom 0.75rem
						margin-bottom 0.75rem
					&__params
						.item
							margin-bottom 0.5rem
					&__time
						margin-bottom 0.5rem
						padding-bottom 0.5rem
		.b-list-objects
			&__estimate
				.title
					width 100px
				.icon
					padding-right 5px
		&--arhitecture
			flex 0 1 48.5%
			.b-list-objects
				&__link
					display flex
				&__slider
					flex 0 1 50%
				&__content
					flex 0 1 50%
					padding-left 1rem
					font-size 0.85rem
				&__prices-all
					font-size 1.4rem
		&.related_objects
			flex 0 1 23.5%
			margin 0.5rem 0.5rem
	&__link
		display block
		border 1px solid #f3f3f3
		color $color--gray-darken
		background-color #fff
		padding 16px 16px 5px
		transition all 0.15s linear
		height 100%
		&:hover,
		&:focus
			text-decoration none
			color $color--gray-darken
			box-shadow 0 0 6px 0 rgba($color--gray-darken, 0.2)
	&__img
		width 100%
		margin-bottom 1rem
	&__title
		font-size $font-size--md
		font-weight 600
	&__country
		font-size 0.9rem
		padding-bottom 1.25rem
		margin-bottom 1.25rem
		position relative
		&:before
			content ''
			position absolute
			bottom 0
			left 0
			height 4px
			width 70px
			display block
			background-color $color--green-light
	&__area
		border-bottom 1px solid #f2f2f2
		padding-bottom 0.75rem
		margin-bottom 1rem
		span
			font-weight 600
			margin-right 25px
	&__prices
		display flex
		list-style none
		padding 0
		justify-content space-between
		&-title
			display block
			font-size 0.85rem
			line-height 1
		&-value
			font-weight 600
		&-all
			color $color--green
			font-size 1.9rem
		.line
			height 30px
			width 1px
			display inline-block
			align-self center
			background-color #f2f2f2
	&__params
		display flex
		flex-wrap wrap
		list-style none
		padding 0
		margin 0
		font-weight 600
		.item
			flex 0 1 auto
			padding-right 1rem
			margin-bottom 1rem
			position relative
			&-icon
				color #a3a6a8
				margin-right 10px
				font-size 20px
			&:after
				content ''
				display block
				position absolute
				right 9px
				top 50%
				width 2px
				height 2px
				background-color #d1d1cd
			&:last-child
				&:after
					display none
	&__time
		font-size 0.85rem
		border-bottom 1px solid #f2f2f2
		padding-bottom 0.75rem
		margin-bottom 1rem
		span
			font-weight 600
			font-size 1rem
			padding-left 5px
	&__estimate
		list-style none
		padding 0
		margin 0
		margin-bottom 3rem
		display table
		border-bottom 1px solid #f2f2f2
		padding-bottom 1.75rem
		margin-bottom 1.75rem
		width 100%
		li
			display table-row
		span
			display table-cell
			padding 3px 0
		.icon
			width 30px
			padding-right 25px
			font-size $font-size--lg
			text-align center
			color #a3a6a8
			&-ready
				font-size 1rem
				.icon-item
					transform rotate(-90deg)
		.title
			width 150px
		.value
			font-weight 600
		.warning
			color $color--red
	&__slider
		margin-bottom 1rem
		&:hover
			{$block}-btn
				opacity 1
		{$block}
			&-img
				width 100%
		.swiper-pagination-bullet
			background-color transparent
			border 1px solid #fff
			opacity 1
			&-active
				background-color #fff
		.btn-favorite
			position absolute
			top 5px
			right 8px
			z-index 10
			margin 0
	&-btn
		position absolute
		top 50%
		width 55px
		height 100%
		z-index 10
		cursor pointer
		opacity 0
		transition all 0.2s linear
		&-prev
			top 0
			left 0
			background linear-gradient(to left, transparent 0%, rgba(0,0,0,0.25) 100%) !important
			.btn-icon
				left 10px
				right auto
		&-next
			top 0
			right 0
			background linear-gradient(to right, transparent 0%, rgba(0,0,0,0.25) 100%) !important
			.btn-icon
				right 10px
				left auto
		.btn-icon
			display inline-block
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			font-size 3.5rem
			color #fff
			text-align center
	.swiper-slide
		padding 2px
	&__architecture
		// .swiper-slide
		// 	margin-top 0 !important
		{$block}
			&__link
				display flex
				div
					flex 0 1 50%
			&__content
				padding-left 1rem
			&__country
				font-weight 600
				&:before
					background-color $color--green
			&__prices
				&-all
					font-size 1.6rem
					line-height 1
					align-self flex-end
					small
						display block
	&__buildings
		{$block}
			&__link
				display flex
				&>div
					flex 0 1 50%
			&__content
				padding-left 2rem
			&__country
				&:before
					background-color $color--green
			&__params
				.item
					margin-right 3rem
			&__prices
				align-items center
				span
					font-weight 600