.b-object
	font-size $font-size--sm
	&-map
		height 220px
		margin-bottom 1rem
	&-title
		font-size $font-size--h3
		margin-bottom 0.5rem
	&-country
		font-size $font-size--md
		padding-bottom 1rem
		margin-bottom 1rem
		position relative
		&:before
			content ''
			position absolute
			bottom 0
			left 0
			height 4px
			width 70px
			display block
			background-color $color--green-light
	&-desc
		margin-bottom 2rem
	&-img
		margin-bottom 1rem
		&__schema
			margin-bottom 1rem
			background-color #fff
			img
				width 100%
		&__section
		//	position absolute
		//	bottom 0.5rem
		//	right 0.5rem
		//	background-color rgba(255, 255, 255, 0.9)
			padding 1rem 0
	&-mapsize
		font-size $font-size--xs
		padding 1rem 0
		.b-card-desc__list
			padding 0 1.5rem
			border-right 1px solid $color--gray-lighter
		.b-grid-item:last-child
			.b-card-desc__list
				border-right 0
	&-thumbs
		&__item
			&-link
				margin-bottom 1rem
				transition all 0.2s ease-out
				&:hover,
				&:focus
					opacity 0.8
					text-decoration none
			&-video
				cursor pointer
				.icon-play
					position absolute
					top 50%
					left 50%
					transform translate(-50%, -50%)
					z-index 10
					font-size 4rem
					color rgba(255, 255, 255, 0.5)
				&:hover
					.embed-bg-img
						opacity 0.8
		&__list
			&-item
				margin-bottom 1rem
	.b-section-cards__nav
		border-bottom 0
	&-appropriate
		&__item
			display block
			color $color--black
			transition all 0.2s ease-out
			margin 1rem 0
			&:hover,
			&:focus
				color $color--black
				text-decoration none
				box-shadow 0 0 8px 0 rgba($color--black, 0.3)
			.b-card-img
				&:hover
					&:before
						display none
			.b-card-desc__title
				font-weight $font-weight--medium
	&-gallery
		margin-bottom 1rem
		&__main
			margin-bottom 0.4rem
			&-img
				cursor pointer
				&:hover
					opacity 0.8
	&-building-link
		color $color--gray-light
		font-size $font-size--md
		margin-bottom 1rem
		display inline-block
		.pin-icon
			color $color--green
		&:hover,
		&:focus
			text-decoration none
			color $color--green
	&-facades
		&-item
			margin-bottom 1.5rem
	&-order
		text-align right
		margin-bottom 1rem
	.b-image-card-wrapper
		.b-image-card
			margin-bottom 1rem
	&-report
		&__link
			position relative
			color $color--green
			display inline-block
			text-transform none
			font-weight 300
			padding-left 0.75rem
			margin-left 10px
			font-size 1rem
			&:before
				content ''
				display block
				width 2px
				height 2px
				border-radius 50%
				background-color $color--green-light
				position absolute
				top 7px
				left 0
			&:hover,
			&:focus
				text-decoration none
				color $color--green-light
	&__address
		margin-bottom 2rem
		&-link
			color $color--gray-dark
			display inline-block
			&:hover,
			&:focus
				text-decoration none
				color $color--green
		.icon
			color $color--green
	&__source
		font-size $font-size--xs
		margin 0
		color $color--gray-light
		&:before
			content '*'
			color $color--green
	&-carousel
		margin-bottom 1rem
	&-price
		&__wrapper
			display flex
			align-content center
			&.line
				margin-bottom 2rem
				border-bottom 1px solid $color--gray-lighter
		&__item
			flex 1 auto
			margin-bottom 1rem
			&:last-child
				text-align right
				align-self center
			.btn
				&-favorite,
				&-share
					border 1px solid #f2f2f2
					margin 0
					width 40px
					height 40px
					line-height 38px
					text-align center
					font-size 1rem
		&__all
			display inline-block
			color $color--green
			font-weight 600
			font-size 1.9rem
			line-height 1
			margin-bottom 0.75rem
		&__area
			display inline-block
			color $color--gray-darken
			font-size 1.9rem
			line-height 1
			margin-bottom 0.75rem
		&__perarea
			margin-right 0.5rem
			padding-right 0.75rem
			position relative
			&:after
				content ''
				display block
				position absolute
				right 0
				top 50%
				width 2px
				height 2px
				background-color #d1d1cd
		&__firstpayment
			position relative
		&__value
			display inline-block
			color $color--green
			font-weight 600
			margin-bottom 0.5rem
	&-contacts
		display flex
		padding-bottom 1.25rem
		border-bottom 1px solid $color--gray-lighter
		margin-bottom 1rem
		&__item
			flex 1 auto
			&:last-child
				text-align right
		.phone
			font-size 1.9rem
			span
				font-size 1.1rem
		.icon
			color $color--gray
			margin-right 1rem
	.b-card-desc__title
		text-transform uppercase
		position relative
		padding-bottom 1rem
		margin-bottom 1rem
		font-size 1.1rem
		font-weight 600
		&:before
			content ''
			position absolute
			bottom 0
			left 0
			height 4px
			width 70px
			display block
			background-color $color--green-light
	.js-product-carousel
		margin-bottom 2rem
	.b-section-home__nav
		align-self flex-start
		padding-top 0.5rem
.b-lands-header
	margin-bottom 0.5rem

.architecture-list-wrapper
	.b-section-cards__nav
		.b-text-label
			color $color--green
			font-weight 600