.b-partner-info
    &__title
        font-weight 500
        font-size $font-size--h4
        margin-bottom 0.5rem
    &__content
        color $color--gray-dark
    .u-check-list
        padding 0

.b-partners
    display flex
    flex-wrap nowrap
    align-content stretch
    justify-content space-around
    &__link
        flex 0 0 14%
        margin-bottom 1rem
        font-weight bold
        text-align center
        color $color--gray-darken
        border 1px solid #f2f2f2
        padding 1rem
        transition all 0.1s linear
        &:hover,
        &:focus
            color $color--green
            text-decoration none
            box-shadow 0 0 5px 5px rgba($color--gray-lighter, 0.9)
        p
            // padding 1rem
            margin 0
    &__img
        position relative
        padding-bottom 2rem
        margin-bottom 1.5rem
        &:before
            content ''
            display block
            position absolute
            bottom 0
            left 50%
            transform translateX(-50%)
            height 4px
            width 80px
            background-color $color--green
        img
            max-width 80px
            min-height 80px