.b-prices
	font-size $font-size--sm
	color $color--gray-darken
	margin-bottom 2rem
	&__title
		color $color--green
		text-transform uppercase
		font-size $font-size--xs
		font-weight $font-weight--medium
	.u-check-list
		margin-bottom 1.25rem
		padding-left 0
		li:before
			margin-right 0.5rem
	&-nav
		border-bottom 1px solid $color--gray-light
		font-size $font-size--md
		li
			a
				color $color--gray
				border none
				border-bottom 2px solid transparent
				margin 0
				&:hover,
				&:focus
					color $color--green
					background-color transparent
					border none
					border-bottom 2px solid $color--green
				&:before
					content ''
					position absolute
					top 53%
					right 0
					width 1px
					height 15px
					background-color $color--gray-light
					transform translate(-50%, -50%)
			&.active
				a
					border none
					border-bottom 2px solid $color--green
					color $color--green
					&:hover,
					&:focus
						color $color--green
						border none
						border-bottom 2px solid $color--green
			&:last-child
				a:before
					display none
	&-tab-content
		padding 2rem 0