.b-terms
    &-main
        background #f2f2f2 url('../../../img/pages/terms-bg.jpg') center center no-repeat
        background-size cover
    &-content
        text-align center
        color #fff
        padding-top 8rem
        padding-bottom 5rem
    &-btn
        display inline-block
        color #fff
        vertical-align middle
        font-size 1.15rem
        line-height 1
        border 1px solid #fff
        padding 0.7rem 1.2rem
        border-radius 2px
        &:hover,
        &:focus
            color $color--green
            text-decoration none
    &-title
        font-size 3rem
        line-height 1.4
        margin-bottom 7rem
        font-weight 600
    &-list
        padding 0
        margin 0
        list-style none
        display flex
        justify-content space-between
        margin-bottom 7rem
        li
            flex 0 1 30%
            padding 10px 10px
            &.text
                background-color #fff
                color $color--black
                border-radius 20px
        &__arrow
            max-width 100%
            margin 0 auto
            display block
    &-section
        background-color #fff
        padding 2rem 0
        &__title
            text-align left
            font-size 2rem
            font-weight bold
            line-height 1.4
            margin-bottom 3rem
    &-reg
        background #0b2c39 url('../../../img/pages/terms-reg-bg.jpg') center center no-repeat
        background-size cover
        color #fff
        padding 4rem 0 8rem
        &__title
            font-size 2.5rem
            margin-bottom 2rem
            font-weight bold
.b-media
    margin-bottom 1rem
    font-size 0.9rem
    color #333
    &-wrapper
        margin-bottom 4rem
    &-img
        display block
        margin-bottom 1.5rem
    &-count
        font-size 5rem
        color #ab9f66
        font-weight bold
        line-height 1
    &-title
        font-weight bold
        font-size 1.5rem
        margin-bottom 1rem
    a
        color $color--green